<div [@fadeInOnEnter] class="card contest-{{ contest.id }} {{ contest.title }} contest-type-{{ contest.type }}">
  <a [routerLink]="['/competitions', 'contests', 'contest', contest.id]">
    <div *ngIf="contest.logo" class="card-bg" style="background-image: url('{{ contest.logo }}');"></div>
    <div class="card-header d-block">
      <div class="d-flex justify-content-between">
        <div class="category">
          <span class="badge badge-glow badge-primary">
            {{ contest.categoryTitle | translate }}
          </span>
        </div>

        <div>
          <span class="badge badge-success badge-glow" *ngIf="contest.isRated">{{ 'Rated' | translate }}</span>
          <span class="badge badge-danger badge-glow" *ngIf="!contest.isRated">{{ 'Unrated' | translate }}</span>
        </div>
      </div>
      <div class="card-title">
        {{ contest.title }}
      </div>
    </div>

    <div class="card-body">
      <div class="contest-description" [innerHTML]="contest.description"></div>
      <div class="contest-time">
        <div *ngIf="contest.status == 0">
          <h3 class="text-center mt-1 mb-3">
            {{ 'CONTESTS.CONTEST_ENDS' | translate }}
          </h3>
          <span class="badge already badge-warning badge-glow">
            {{ 'Now' | translate }}
          </span>
          <contest-countdown [clockColor]="'#fff'" [contest]="contest"></contest-countdown>
        </div>
  
        <div *ngIf="contest.status == -1">
          <h3 class="text-center mt-1 mb-3">
            {{ 'CONTESTS.CONTEST_STARTS' | translate }}
          </h3>
          <contest-countdown [clockColor]="'#fff'" [contest]="contest"></contest-countdown>
        </div>
  
        <div class="text-center" *ngIf="contest.status == 1">
          <h3 class="mb-3 mt-1" ngbTooltip="{{ contest.finishTime | localizedDate:'medium' }}">
            {{ 'CONTESTS.CONTEST_FINISHED' | translate }}
          </h3>
    
          <div [@fadeInOnEnter] *ngIf="top3Contestants.length > 0" class="mt-2 row">
            <div *ngIf="top3Contestants.length > 1" class="col contestant mt-1">
              <img width="32" height="32" src="assets/images/icons/contest-medal-2.png">
              <br>
              <contestant-view [teamNameColor]="'white'" [textColor]="'white'" [user]="top3Contestants[1].user" [team]="top3Contestants[1].team"></contestant-view>
            </div>
    
            <div class="col contestant">
              <img width="32" height="32" src="assets/images/icons/contest-medal-1.png">
              <br>
              <contestant-view [teamNameColor]="'white'" [textColor]="'white'" [user]="top3Contestants[0].user" [team]="top3Contestants[0].team"></contestant-view>
            </div>
    
            <div *ngIf="top3Contestants.length > 2" class="col contestant mt-2">
              <img width="32" height="32" src="assets/images/icons/contest-medal-3.png">
              <br>
              <contestant-view [teamNameColor]="'white'" [textColor]="'white'" [user]="top3Contestants[2].user" [team]="top3Contestants[2].team"></contestant-view>
            </div>
    
          </div>
        </div>    
      </div>
    </div>
  </a>

  <div class="card-footer justify-content-between d-flex">
    <div class="meta-info text-center">
      <span class="badge badge-glow badge-primary">
        <i data-feather="user"></i>
        <span *ngIf="contest.status == -1" ngbTooltip="{{ 'Registrants' | translate }}">
          {{ contest.registrantsCount }}
        </span>
        <span *ngIf="contest.status != -1" ngbTooltip="{{ 'Contestants' | translate }}">
          {{ contest.contestantsCount }}
        </span>
      </span>
      <span class="badge badge-glow badge-primary" ngbTooltip="{{ 'Problems' | translate }}">
        <i [data-feather]="'problem' | iconName"></i>
        {{ contest.problemsCount }}
      </span>
      <span class="badge badge-glow badge-{{ contest.getBadgeType() }}">
        {{ contest.type }}
      </span>
    </div>

    <div class="registration text-center">
      <!--Virtual contest-->
      <ng-container *ngIf="contest.isFinished()">
        <kepcoin-spend-swal
          *ngIf="!contest.userInfo.virtualContestPurchased"
          [customContent]="true"
          [purchaseUrl]="'contests/' + contest.id + '/purchase-virtual-contest/'"
          [value]="5"
          (success)="virtualContestPurchaseSuccess()">
          <button class="btn btn-primary btn-sm round">
            <i [data-feather]="'contest' | iconName" [size]="16"></i>
            {{ 'Virtual' | translate }}
          </button>
        </kepcoin-spend-swal>

        <button
          *ngIf="contest.userInfo.virtualContestPurchased"
          (click)="virtualContestStart()"
          class="btn btn-primary btn-sm round">
          <i [data-feather]="'contest' | iconName" [size]="16"></i>
          {{ 'StartVirtual' | translate }}
        </button>
      </ng-container>

      <span *ngIf="contest.status != 1 && !contest.userInfo.virtualContestPurchased">
        <kepcoin-spend-swal
          *ngIf="contest.status != 0 && contest.isRated && contest.userInfo.isRegistered && !contest.userInfo.unratedContestPurchased"
          [customContent]="true"
          [purchaseUrl]="'contests/' + contest.id + '/purchase-unrated-contest/'"
          [value]="10"
          class="mr-1" ngbTooltip="{{ 'Unrated' | translate }}"
          (success)="contest.userInfo.unratedContestPurchased=true;">
          <img height="25" src="assets/images/icons/unrated.png">
        </kepcoin-spend-swal>
        <img
          *ngIf="contest.userInfo.isRegistered && contest.isRated && contest.userInfo.unratedContestPurchased"
          ngbTooltip="{{ 'Purchased' | translate }}"
          height="25" src="assets/images/icons/unrated.png" class="mr-1">

          <button ngbTooltip="{{ 'Cancel' | translate }}" rippleEffect class="btn btn-sm round btn-gradient-success"
          (click)="cancelRegistration()" *ngIf="contest.userInfo.isRegistered">
          <i data-feather="user" [size]="16"></i> {{ 'Registered' | translate }}
          <i data-feather="x" class="text-danger"></i>
        </button>
        <button rippleEffect class="btn btn-sm round btn-gradient-primary" (click)="openRegistrationModal(registration)"
          *ngIf="currentUser && !contest.userInfo.isRegistered">
          <i data-feather="user" [size]="16"></i> {{ 'CONTESTS.REGISTER' | translate }}
        </button>
      </span>
    </div>
  </div>

</div>
