<base-table
  [attempts]="attempts"
  [contest]="contest"
  [hideSourceCodeSize]="hideSourceCodeSize"
  (clicked)="openModal($event)">
</base-table>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mr-1">{{ 'Attempt' | translate }}</h5>
    <button type="button" class="close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <base-table
      *ngIf="selectedAttempt"
      [attempts]="[selectedAttempt]"
      [contest]="contest"
      [hideSourceCodeSize]="hideSourceCodeSize"
    >
    </base-table>

    <ul ngbNav #navWithIcons="ngbNav" class="nav-tabs" [destroyOnHide]="false">
      <li ngbNavItem>
        <a ngbNavLink>
          <span [data-feather]="'code'"></span> {{ 'Code' | translate }}
        </a>
        <ng-template ngbNavContent>
          <clipboard-button
            style="
              position: absolute;
              top: 165px;
              right: 20px;"
            [text]="selectedAttempt.sourceCode"></clipboard-button>

          <div [style.height.px]="window.innerHeight - 350">
            <monaco-editor
              [lang]="selectedAttempt.lang"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="selectedAttempt.sourceCode">
            </monaco-editor>
          </div>
        </ng-template>
      </li>

      <li ngbNavItem *ngIf="hackEnabled">
        <a ngbNavLink>
          <span [data-feather]="'hack' | iconName"></span> {{ 'Hack' | translate }}
        </a>
        <ng-template ngbNavContent>
          <div [formGroup]="hackForm">
            <textarea formControlName="input"></textarea>
            <button (click)="hackSubmit(selectedAttempt.id)" class="btn btn-primary btn-sm">Hack</button>
          </div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="navWithIcons" class="mt-2"></div>
  </div>
</ng-template>

<audio
  #successAudio
  src="assets/audio/success/{{ successSoundName }}.mp3">
</audio>

<audio
  #wrongAudio
  src="assets/audio/wrong.mp3">
</audio>
