<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center mb-2">
          <i class="font-medium-3" data-feather="users"></i>
          <h4 class="mb-0 ml-75">Teams</h4>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        @for (team of teams; track team.id) {
          <team-card [team]="team"></team-card>
        }
      </div>
    </div>

    <div class="col-6">
      <div class="font-medium-4 font-weight-bolder">New team</div>
      <label>Name</label>
      <input class="form-control" [(ngModel)]="teamName">

      <button (click)="createTeam()" class="btn btn-sm btn-primary mt-2">Create</button>
    </div>
  </div>
</div>
