<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="mt-2">
      <kep-table [loading]="!total && isLoading">
        <ng-container header>
          <tr class="bg-gradient-primary">
            <th class="text-center text-white">#</th>
            <th class="text-white">{{ 'USER' | translate }}</th>
            <th class="text-center text-white"><kep-icon name="contest"></kep-icon></th>
            <th class="text-center text-white"><kep-icon name="rating"></kep-icon></th>
          </tr>
        </ng-container>
        <ng-container body>
          @for (contestsRating of contestsRatingList;track contestsRating.username) {
            <tr>
              <td class="text-dark text-center">{{ contestsRating.rowIndex }}</td>
              <td class="text-dark">
                <contestant-view [user]="contestsRating"></contestant-view>
              </td>
              <td class="text-dark text-center">
              <span class="badge badge-light-info">
                {{ contestsRating.contestantsCount }}
              </span>
              </td>
              <td class="text-center">
              <span class="badge badge-{{ contestsRating.rating | contestsRatingColor }} badge-glow">
                {{ contestsRating.rating }}
              </span>
              </td>
            </tr>
          }
        </ng-container>
        <ng-container pagination>
          <div class="mb-1">
            <kep-pagination
              (pageChange)="pageChange($event)"
              (pageSizeChange)="pageSizeChange($event)"
              *ngIf="total"
              [(page)]="pageNumber"
              [collectionSize]="total"
              [maxSize]="maxSize"
              [pageOptions]="pageOptions"
              [pageSize]="pageSize"
              [rotate]="true">
            </kep-pagination>
          </div>
        </ng-container>
      </kep-table>
    </section>
  </div>
</div>
