<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="mt-2">
      <kep-table [loading]="!total && isLoading">
        <ng-container header>
          <tr>
            <th class="text-center">#</th>
            <th class="">{{ 'User' | translate }}</th>
            <th container="body" ngbTooltip="{{ 'Contests' | translate }}" class="text-center">
              <kep-icon name="contest"></kep-icon>
            </th>
            <th container="body" ngbTooltip="{{ 'Rating' | translate }}" class="text-center">
              <kep-icon name="rating"></kep-icon>
            </th>
          </tr>
        </ng-container>
        <ng-container body>
          @for (contestsRating of contestsRatingList; track contestsRating.username) {
            <tr>
              <td class="text-dark text-center">{{ contestsRating.rowIndex }}</td>
              <td class="text-dark">
                <contestant-view [user]="contestsRating"></contestant-view>
              </td>
              <td class="text-dark text-center">
                <span class="badge bg-primary">
                  {{ contestsRating.contestantsCount }}
                </span>
              </td>
              <td class="text-center">
                <span class="badge bg-{{ contestsRating.rating | contestsRatingColor }}-transparent">
                  {{ contestsRating.rating }}
                </span>
              </td>
            </tr>
          }
        </ng-container>
        <ng-container pagination>
          <div class="mb-1">
            @if (total) {
              <kep-pagination
                (pageChange)="pageChange($event)"
                (pageSizeChange)="pageSizeChange($event)"
                [(page)]="pageNumber"
                [collectionSize]="total"
                [maxSize]="maxSize"
                [pageOptions]="pageOptions"
                [pageSize]="pageSize"
                [disabled]="isLoading"
                [rotate]="true">
              </kep-pagination>
            }
          </div>
        </ng-container>
      </kep-table>
    </section>
  </div>
</div>
