<div class="content-wrapper p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="mt-2">
      <div class="row">
        <div class="col-12">
          <div class="layout-spacing">
            <div class="card">
              <div class="table-responsive beautiful-table">
                <table class="table table-striped">
                  <thead>
                    <tr class="bg-gradient-primary">
                      <th class="text-center text-white">#</th>
                      <th class="text-white">{{ 'USER' | translate }}</th>
                      <th class="text-center text-white"><i [data-feather]="'contest' | iconName" [size]="20"></i></th>
                      <th class="text-center text-white"><i [data-feather]="'rating' | iconName" [size]="20"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let contestsRating of contestsRating; index as i">
                      <td class="text-dark text-center">{{ 10*(currentPage-1) + 1 + i }}</td>
                      <td class="text-dark">
                        <contestant-view [user]="contestsRating"></contestant-view>
                      </td>
                      <td class="text-dark text-center">
                        <span class="badge badge-light-primary">
                          {{ contestsRating.contestantsCount }}
                        </span>
                      </td>
                      <td class="text-center">
                        <span class="badge badge-light-{{ contestsRating.rating | contestsRatingColor }}">
                          {{ contestsRating.rating }}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="mb-1">
              <pagination
                *ngIf="contestsRating.length > 0"
                [collectionSize]="totalUsersCount"
                [(page)]="currentPage"
                [pageSize]="10"
                [maxSize]="5"
                [rotate]="true"
                (pageChange)="reloadPage()">
              </pagination>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
