tr:first-child td, th {
  border-bottom: none !important;
  border-top: none !important;
}

thead tr th, tfoot tr th {
  font-size: 1rem;
  text-transform: initial !important;
}

.card .card-header {
  display: block;
}
