@import 'bootstrap/scss/mixins'; 
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

@import '../scss/variables.scss';


.bg-tournament {
  background: $tournaments-bg;
  box-shadow: none;
}

::ng-deep .dark-layout {
 .bg-tournament {
    background: $tournaments-bg-dark !important;
  }
}

.card {
  box-shadow: 0 0 10px $tournaments-color !important;
  border: none;

  .card-title {
    margin-left: 1rem;

    h3 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }
  }
}


.btn-registration {
  color: #fff;
  background: $tournaments-bg;
  
  &:hover {
    background: $tournaments-bg-dark;
  }
}

::ng-deep .nav-tabs.nav-tournament {
  
  .nav-link.active {
    color: $tournaments-color !important;
  }

  .nav-link:after {
    transform: translate3d(0, 0, 0);
    background: #4855636b !important;
    height: 1px;
  }
  
  .nav-link.active:after {
    background: $tournaments-bg !important;
    height: 2px;
  }

}

::ng-deep .dark-layout .nav-tabs.nav-tournament {
  .nav-link.active {
    color: #fff !important;
    background-color: #2830463e !important;
  }  
}

@include media-breakpoint-up(sm) {
  section {
    margin: 0.6rem 2rem 0.8rem 2rem;
  }
}
