@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.lugavar-page-top:before {
  content: "";
  margin-right: -2rem;
  margin-left: -2rem;
  position: absolute;
  top: -150px;
  width: calc(100%);
  z-index: -1;
  pointer-events: none;

  background: linear-gradient(-45deg, #6dd5ed, #2193b0, #23a5d5bd, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@media (max-width: 575.98px) {
  .lugavar-page-top:before {
    width: calc(100% + 0.8rem);
  }
}

::ng-deep .dark-layout .lugavar-page-top:before {
  background: #0F2027;
  background: linear-gradient(-45deg, #2C5364, #203A43, #0F2027);
}

@media (min-width: 0px) {
  .lugavar-page-top:before {
    height: 750px;
  }
}

@media (min-width: 992px) {
  .lugavar-page-top:before {
    height: 730px;
  }
}

.lugavar-shadow {
  box-shadow: 0 0 10px #2193b0 !important;
}

.daily-question-card {
  .question-option {
    border: 1px solid #ebe9f1;
    padding: 1rem;
    border-radius: 10px;
  }

  .question-option.true {
    border: 2px solid #2193b0;
  }
}

.gradient-border {
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

th {
  border-bottom: none !important;
  border-top: none !important;
}

thead tr th, tfoot tr th {
  font-size: 1rem;
  font-weight: 600 !important;
  text-transform: initial !important;
}

table > thead > tr > th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

table > thead > tr > th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/*
.underlined {
  flex: 1;
  font-size: 2em;
  line-height: 1.2;
  text-decoration: none;
  background-position: 0 -0.1em;
  background-image: linear-gradient(42.32deg, #7d73f1cc 47.03%, #bebaf4 100.95%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .5s;

  &:hover {
    background-size: 100% 100%;
  }
}

a {
  position: relative;
  display: inline-block;
}

a:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: .1em;
  bottom: .1em;
  color: rgb(102, 153, 255);
  background-image: linear-gradient(to right,
      transparent 0%,
      rgba(102, 153, 255, .6) 30%,
      rgba(102, 153, 255, .7) 50%,
      rgba(102, 153, 255, .6) 70%,
      transparent 100%);
  opacity: 0;
  animation: fadeIn 1000ms ease-out forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
*/