<div class="problem-description">
  <div class="problem-title">
    <h3 class="mb-2">
      {{ problem.id }}. {{ problem.title }}
    </h3>
  </div>

  <div class="problem-header d-grid">
    <div class="problem-difficulty">
      <span
        ngbTooltip="{{ 'DIFFICULTY' | translate }}"
        class="badge-pill badge-glow badge badge-{{ problem.difficulty | problemDifficultyColor }}">
        {{ problem.difficultyTitle | translate }}
      </span>  
    </div>

    <div class="problem-author" ngbTooltip="{{ 'Author' | translate }}">
      <span class="badge badge-primary badge-pill">
        <i [data-feather]="'user' | iconName"></i>
        <user-popover
          [textColor]="'white'"
          [placement]="'bottom'"
          [username]="problem.authorUsername">
        </user-popover>
      </span>  
    </div>
  
    <div class="problem-vote" *ngIf="currentUser">
      <button (click)="like()" class="btn btn-like btn-sm btn-relief-info round" [ngClass]="{
        'btn-gradient-success': problem.voteType == 1
      }">
        <i data-feather="thumbs-up"></i>
        {{ problem.likesCount }}
      </button>
      
      <button (click)="dislike()" class="btn btn-dislike btn-sm btn-relief-info round" [ngClass]="{
        'btn-gradient-success': problem.voteType == 0
      }">
        <i data-feather="thumbs-down"></i>
        {{ problem.dislikesCount }}
      </button>  
    </div>
    
    <div class="problem-vote" *ngIf="!currentUser">
      <span class="badge badge-info badge-pill">
        <i data-feather="thumbs-up"></i>
        {{ problem.likesCount }}
      </span>
      <span class="badge badge-info badge-pill">
        <i data-feather="thumbs-down"></i>
        {{ problem.dislikesCount }}
      </span>
    </div>

    <div class="problem-contstraints" *ngIf="problem.timeLimit && problem.memoryLimit">
      <span class="badge badge-info badge-pill" ngbTooltip="{{ 'TIME_LIMIT' | translate }}">
        {{ availableLang.timeLimit || problem.timeLimit }} {{ 'MS' | translate }}
      </span>    

      <span class="badge badge-pill badge-primary" ngbTooltip="{{ 'MEMORY_LIMIT' | translate }}">
        {{ availableLang.memoryLimit || problem.memoryLimit }} {{ 'MB' | translate }}
      </span>
    </div>
    
    <div class="problem-selected-lang">
      <span *ngIf="currentUser" class="badge badge-pill badge-{{ selectedLang }}">
        {{ selectedLang | langFullName }}
      </span>    
    </div>
  </div>


  <div class="mt-2 tour-step-1" *ngIf="currentUser">
    <span *ngFor="let availableLanguage of problem.availableLanguages">
      <a
        (click)="changeLang(availableLanguage.lang)"
        *ngIf="selectedLang != availableLanguage.lang"
        class="badge-pill text-white badge badge-{{ availableLanguage.lang }}">
        {{ availableLanguage.lang | langFullName }}
      </a>
    </span>
  </div>

  <hr>
  
  <problem-body [problem]="problem"></problem-body>

  <ngb-accordion [destroyOnHide]="false" [closeOthers]="false">
    <ngb-panel id="panelMargin1" [cardClass]="'collapse-margin'">
      <ng-template ngbPanelTitle>
        <span>{{ 'Tags' | translate }}</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div *ngIf="currentUser?.permissions.canChangeProblemTags && problem.hasSolved else elseBlock">
          <button *ngFor="let tag of problem.tags" (click)="removeTag(tag)" class="btn mb-2 mr-50 btn-relief-primary btn-sm">
            {{ tag.name }} <i data-feather="x"></i>
          </button>

          <ng-select
            appendTo="body"  
            [items]="tags"
            bindValue="id"
            bindLabel="name"
            [dropdownPosition]="'bottom'"
            [(ngModel)]="selectedTag">
          </ng-select>

          <button class="mt-2 btn btn-relief-primary btn-sm" (click)="addTag()">{{ 'Add' | translate }}</button>
        </div>

        <ng-template #elseBlock>
          <span class="badge badge-pill badge-primary" *ngFor="let tag of problem.tags">
            {{ tag.name }}
          </span>
        </ng-template>
      </ng-template>
    </ngb-panel>

    <ngb-panel *ngIf="currentUser && problem.hasSolution" id="panelMargin2" [cardClass]="'collapse-margin'">
      <ng-template ngbPanelTitle>
        <span>{{ 'Solution' | translate }}</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div *ngIf="problem.canViewSolution else elseBlock;">
          <button class="btn btn-sm btn-relief-primary" (click)="openSolutionModal(solution)">
            {{ 'View' | translate }}
          </button>
        </div>
        <ng-template #elseBlock>
          <kepcoin-spend-swal
            [value]="problem.solutionKepcoinValue"
            [purchaseUrl]="'problems/' + problem.id + '/purchase-solution/'"
            (success)="problem.canViewSolution=true;">
          </kepcoin-spend-swal>
        </ng-template>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

</div>

<ng-template #solution let-modal>
	<div class="modal-header" *ngIf="problem.hasSolution">
		<h4 class="modal-title">{{ 'Solution' | translate }}</h4>
	</div>
	<div class="modal-body">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]="1" *ngIf="problemSolution.codeCpp">
        <a ngbNavLink>C++</a>
        <ng-template ngbNavContent>
          <clipboard-button [text]="problemSolution.codeCpp"></clipboard-button>
          <pre>{{ problemSolution.codeCpp }}</pre>
        </ng-template>
      </li>
      <li [ngbNavItem]="2" *ngIf="problemSolution.codePy">
        <a ngbNavLink>Python</a>
        <ng-template ngbNavContent>
          <clipboard-button [text]="problemSolution.codePy"></clipboard-button>
          <pre>{{ problemSolution.codePy }}</pre>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
	</div>
</ng-template>
