<section class="arena">
  <div class="arena-page-top mb-2">
    <div class="col-12">
      <div class="text-center">
        <div [@fadeInUpOnEnter] class="avatar avatar-lg p-50 m-0 mt-1 mb-1 arena-avatar">
          <div class="avatar-content">
            <i class="font-large-1" data-feather="shield"></i>
          </div>
        </div>

        <h2 [@fadeInUpOnEnter] class="mt-2">
          <span class="text-white">{{ 'Arena' | translate }}</span>
        </h2>

        <div class="mt-3 col-lg-8 col-12 offset-lg-2 offset-0">
          <div class="row">
            <div class="col-12 col-md-6">
              <a [@fadeInLeftOnEnter] class="card card-info" routerLink="/learn/blog/post/72">
                <div class="card-header">
                  <div class="card-title">
                    {{ 'AboutArena' | translate }}
                  </div>
                </div>
                <div class="info-img">
                  <img src="assets/images/pages/graphic-5.webp" alt="info-img">
                </div>
              </a>
            </div>

            <div class="col-12 col-md-6">
              <a [@fadeInRightOnEnter] class="card card-info" routerLink="/learn/blog/post/69">
                <div class="card-header">
                  <div class="card-title">
                    {{ 'AboutChallenges' | translate }}
                  </div>
                </div>
                <div class="info-img">
                  <img src="assets/images/pages/graphic-1.webp" alt="info-img">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-12 offset-lg-2">
      <div class="row">
        @for (arena of arenaList; track arena) {
          <div class="col-12 bg-arena-list">
            <arena-list-card [@fadeInOnEnter] [arena]="arena"></arena-list-card>
          </div>
        }
      </div>
    </div>
  </div>
</section>
