<div class="card">
  <div
    class="card-header d-flex flex-sm-row flex-column justify-content-md-between align-items-start justify-content-start">
    <h4 class="card-title mb-sm-0 mb-1">{{ 'NumberAttemptsSolve' | translate }}</h4>
  </div>
  <div class="card-body">
    <div *ngIf="numberOfAttemptsForSolve">
      <apx-chart
        [theme]="chartTheme"
        [chart]="numberOfAttemptsForSolveChart.chart"
        [series]="numberOfAttemptsForSolveChart.series"
        [dataLabels]="numberOfAttemptsForSolveChart.dataLabels"
        [stroke]="numberOfAttemptsForSolveChart.stroke"
        [labels]="numberOfAttemptsForSolveChart.labels"
        [yaxis]="numberOfAttemptsForSolveChart.yaxis"
        [xaxis]="numberOfAttemptsForSolveChart.xaxis"
        [legend]="numberOfAttemptsForSolveChart.legend"
        [colors]="numberOfAttemptsForSolveChart.colors"
      >
      </apx-chart>
    </div>
  </div>
</div>
