<div class="practice-container">
  <div class="bg-img"></div>
  <div class="content-wrapper container-xxl p-2">
    <div class="content-body text-center">
      <div class="row">
        <div style="height: 375px;" class="col-12 col-lg-6 d-flex align-items-center">
          <div>
            <h2 class="text-primary">
              <kep-icon name="practice"></kep-icon>
              {{ 'LandingPage.SectionPracticeTitle' | translate }}
            </h2>
            <br>
            <p class="text-dark font-medium-1 px-4">{{ 'LandingPage.SectionPracticeText' | translate }}</p>
            <div class="row">
              @for (menuItem of menu[2].children; track menuItem.id){
                <div class="col-lg-3 col-6">
                  <a [routerLink]="menuItem.url" class="btn btn-primary mb-1 btn-sm text-nowrap">
                    <kep-icon [name]="menuItem.icon" size="small-4"></kep-icon>
                    {{ menuItem.translate | translate }}
                  </a>
                </div>
              }
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <video
            [src]="isDarkMode ? 'assets/landing-page/practice-dark.mp4' : 'assets/landing-page/practice-light.mp4'"
            autoplay
            loop
            width="90%">
          </video>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-12 col-lg-6 order-2 order-lg-1">
          <video
            [src]="isDarkMode ? 'assets/landing-page/competitions-dark.mp4' : 'assets/landing-page/competitions-light.mp4'"
            autoplay
            loop
            width="90%">
          </video>
        </div>

        <div style="height: 375px;" class="col-12 col-lg-6 order-1 order-lg-2 d-flex justify-content-center align-items-center">
          <div class="text-center">
            <h2 class="text-primary">
              <kep-icon name="competition"></kep-icon>
              {{ 'LandingPage.SectionCompetitionsTitle' | translate }}
            </h2>
            <br>
            <p class="text-dark font-medium-1 px-4">{{ 'LandingPage.SectionCompetitionsText' | translate }}</p>
            <div class="d-flex justify-content-center">
              @for (menuItem of menu[3].children; track menuItem.id){
                <a [routerLink]="menuItem.url" class="btn mt-50 mb-1 me-50 btn-primary btn-sm">
                  <kep-icon [name]="menuItem.icon" size="small-4"></kep-icon>
                  {{ menuItem.translate | translate }}
                </a>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
