@import 'styles/kep-imports';

.practice-container {
  position: relative;

  .bg-img {
    padding: 2rem 4rem;
    width: 100%;
    background-repeat: round !important;
    background-size: 200% 200%;
    position: absolute;
    height: 100%;
    border-radius: 3.5rem 3.5rem 0 0;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.5);

    @include dark-layout {
      background-image: url('assets/landing-page/beautiful-bg-dark.webp') !important;
      background-repeat: round !important;
    }
  }

  h2 {
    @include dark-layout {
      color: white !important;
    }
  }
}

video {
  box-shadow: 0 0 5px #22292f1a;
  border-radius: 5px;
}
