<kep-card #container>
  <a [routerLink]="['/learn', 'blog', 'post', blog.id]" loading="lazy" class="card-img">
    <img [ngStyle]="{'max-height.px': cardImgHeight}" class="swiper-lazy card-img-top img-fluid" [src]="blog.image"
         alt="Blog Post pic"/>
  </a>
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/learn', 'blog', 'post', blog.id]" class="blog-title-truncate text-body-heading">
        {{ blog.title }}
      </a>
    </h4>
    <div class="d-flex">
      <div class="avatar me-50">
        <img [src]="blog.author.avatar" alt="Avatar" width="32" height="32"/>
      </div>
      <div class="flex-grow-1">
        <small><a href="javascript:void(0);" class="text-body text-primary">
          <strong>
            <user-popover [username]="blog.author.username">
            </user-popover>
          </strong>
        </a></small>
        <span class="text-muted ms-50 me-1">| </span>
        <small class="text-muted">
          <span class="text-success">{{ blog.created }}</span>
        </small>
      </div>
    </div>
    <div class="my-1 py-25">
      @for (tag of blog.tags; track tag) {
        <div class="badge me-50 badge-light-info">
          {{ tag }}
        </div>
      }
    </div>
    <p class="card-text blog-content-truncate"></p>
    <hr/>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center text-primary">
        <i data-feather="message-square" class="font-medium-1 me-50"></i>
        <span class="fw-medium pe-2">{{ blog.commentsCount }}</span>
        <i data-feather="heart" class="font-medium-1 me-50"></i>
        <span class="fw-medium pe-2">{{ blog.likesCount }}</span>
        <i data-feather="eye" class="font-medium-1 me-50"></i>
        <span class="fw-medium pe-2">{{ blog.views }}</span>
      </div>
    </div>
  </div>
</kep-card>
