@import 'styles/kep-imports';

.card-img-top {
  object-fit: contain;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(34, 41, 47, 0.1);

  @include dark-layout {
    box-shadow: none;
    border: 1px solid black;
  }
}

.card-img {
  text-align: center;
  padding: 15px 18px;
}
