<kep-card customClass="statistics-activity">
  <div class="statistics-activity__header">
    <div class="statistics-activity__title">
      <div class="statistics-activity__icon">
        <kep-icon name="activity"></kep-icon>
      </div>
      <div>
        <div class="statistics-activity__label">{{ 'RecentActivity' | translate }}</div>
        <div class="statistics-activity__sub">{{ 'Problems' | translate }}</div>
      </div>
    </div>
    @if (daysOptions?.length) {
      <div class="statistics-activity__filters">
        @for (day of daysOptions; track day) {
          <button
            type="button"
            class="btn btn-sm"
            [class.btn-primary]="day === selectedDays"
            [class.btn-outline-primary]="day !== selectedDays"
            (click)="onSelectDays(day)"
          >
            {{ day }}
          </button>
        }
      </div>
    }
  </div>

  <div class="statistics-activity__body">
    @if (isLoading) {
      <div class="statistics-activity__loading">
        <spinner></spinner>
      </div>
    } @else {
      <div class="statistics-activity__overview">
        <div class="statistics-activity__count">{{ activitySolved }}</div>
        <div class="statistics-activity__hint">{{ 'Solved' | translate }}</div>
      </div>
      <div class="statistics-activity__chart" *ngIf="activityChart && hasActivity">
        <apex-chart [options]="activityChart"></apex-chart>
      </div>
      @if (!hasActivity) {
        <div class="statistics-activity__empty">{{ 'NoActivity' | translate }}</div>
      }
    }
  </div>
</kep-card>
