<kep-card>
  <div class="card-header">
    <div class="card-title">
      {{ 'Activity' | translate }}
    </div>
    @if (allowedDays?.length) {
      <div role="group" aria-label="{{ 'Activity' | translate }}" class="btn-group">
        @for (option of allowedDays; track option) {
          <input
            type="radio"
            class="btn-check"
            [id]="'activity-days-' + option"
            name="activity-days"
            [checked]="activityDays === option"
            (change)="onDaysChange(option)"
          >
          <label [for]="'activity-days-' + option" class="btn btn-outline-primary">{{ option }}</label>
        }
      </div>
    }
  </div>

  <div class="card-body">
    @if (isLoading) {
      <div [style.height.px]="200" class="d-flex align-items-center justify-content-center">
        <spinner></spinner>
      </div>
    } @else {
      <div class="mt-2">
        <div class="row g-1">
          <div [ngClass]="{
            'col-6': activitySolved > 0,
            'col-12': activitySolved === 0
          }">
            <div class="text-center">
              <div class="avatar bg-primary-transparent p-50 m-0 mb-1">
                <div class="avatar-content">
                  <kep-icon class="font-medium-3" name="check-circle"></kep-icon>
                </div>
              </div>
              <h2 class="text-dark">{{ activitySolved }}</h2>
              <p class="font-medium-1 mb-2">{{ 'Problems' | translate }}</p>
            </div>
          </div>

          <div class="col-6">
            @if (activityChart && activitySolved > 0) {
              <apex-chart [options]="activityChart"/>
            }
          </div>
        </div>
      </div>
    }
  </div>
</kep-card>
