.problems-activity-card {
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .btn-group .btn {
    min-width: 3rem;
  }

  .activity-content {
    min-height: 200px;

    apex-chart {
      width: 100%;
    }
  }
}
