<div class="content-wrapper container-xxl">
  <div class="content-body">
    <app-content-header (refresh)="reloadPage()" [contentHeader]="contentHeader"></app-content-header>


    @if (currentUser) {
      <attempts-filter (filterChange)="filterChange($event)"/>
    }

    @if (!attempts && isLoading) {
      <div class="card" [style.height.px]='300'>
        <spinner></spinner>
      </div>
    } @else {
      <attempts-table [hackEnabled]="true" [attempts]="attempts"></attempts-table>
    }

    <div class="mb-1">
      <kep-pagination
        (pageChange)="pageChange($event)"
        (pageSizeChange)="pageSizeChange($event)"
        [collectionSize]="total"
        [maxSize]="maxSize"
        [pageOptions]="pageOptions"
        [pageSize]="pageSize"
        [page]="pageNumber">
      </kep-pagination>
    </div>
  </div>
</div>
