.card .card-header {
    display: block;
}

span {
    zoom: 90%;
}

.card.contest-problem {
    margin-bottom: 0rem;
    border-radius: 0rem;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);;
}

.badge.badge-pill {
    display: inline-block !important;
    padding: 0.3rem 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
    border-radius: 10rem !important;
    font-size: 85% !important;
    font-weight: 600 !important;
    line-height: 1 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background 0s, border 0s !important;
}

::ng-deep pre {
    background-color: transparent !important;
}

::ng-deep code {
    padding: 0px !important;
}

::ng-deep .dark-layout pre code {
    color: white !important;
}
