<div class="table-responsive">
  <table class="table">
    <thead>
      <tr class="bg-gradient-primary">
        <th class="text-center">{{ 'CONTESTS.TITLE' | translate }}</th>
        <th class="text-center">{{ 'STATUS' | translate }}</th>
        <th class="text-center">{{ 'CONTESTS.START_TIME' | translate }}</th>
        <th class="text-center">{{ 'CONTESTS.FINISH_TIME' | translate }}</th>
        <th class="text-center">{{ 'CONTESTS.TYPE' | translate }}</th>
        <th class="text-center">
        </th>
        <th>
          {{ 'CONTESTS.PROBLEMS_COUNT' | translate }}
        </th>
        <th class="text-center">{{ 'CONTESTS.REGISTRANTS_COUNT' | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contest of contests">
        <td class="text-center text-dark">
          <i [data-feather]="'contest' | iconName" [size]="20"></i>
          <a [routerLink]="['/competitions', 'contests', 'user-contests', 'contest', contest.id]">
            {{ contest.title }}
          </a>
        </td>

        <td class="text-center">
          <div [ngSwitch]="contest.status">
            <span class="badge badge-glow badge-primary" *ngSwitchCase="-1">
              Boshlanmagan
            </span>

            <span class="badge badge-glow badge-success" *ngSwitchCase="0">
              Hozirda
            </span>

            <span class="badge badge-glow badge-dark" *ngSwitchCase="1">
              Yakunlangan
            </span>

          </div>
        </td>

        <td class="text-center text-primary">
          <u>{{ contest.startTime | date:'y/MM/dd'}}</u>
          <br>
          <u>{{ contest.startTime | date:'H:mm'}}</u>
        </td>

        <td class="text-center text-primary">
          <u>{{ contest.finishTime | date:'y/MM/dd'}}</u>
          <br>
          <u>{{ contest.finishTime | date:'H:mm'}}</u>
        </td>

        <td class="text-center">
          <span class="badge badge-glow badge-light-{{ contest.getBadgeType() }}">
            {{ contest.type }}
          </span>
        </td>

        <td class="text-center">
          <button rippleEffect class="btn btn-primary btn-sm round">
            {{ 'CONTESTS.STANDINGS' | translate }}
          </button>
          <br>
          <span class="badge mt-1 badge-light-primary badge-glow">
            {{ contest.solved }} / {{ contest.problemsCount }}
          </span>
        </td>

        <td class="text-center">
          <span class="badge badge-glow badge-primary">
            {{ contest.problemsCount }}
          </span>
        </td>

        <td class="text-center text-primary">
          <div class="avatar bg-light-primary p-50 m-0 mb-1">
            <div class="avatar-content">
              <i data-feather="users" class="font-medium-3"></i>
            </div>
          </div>
          <h5 class="font-weight-bolder">
            <span class="badge-glow badge badge-primary">
              {{ contest.contestantsCount || contest.registrantsCount }}
            </span>
          </h5>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="contests.length > 1">
      <tr>
        <th class="text-center">{{ 'CONTESTS.TITLE' | translate }}</th>
        <th class="text-center">{{ 'STATUS' | translate }}</th>
        <th class="text-center">{{ 'CONTESTS.START_TIME' | translate }}</th>
        <th class="text-center">{{ 'CONTESTS.FINISH_TIME' | translate }}</th>
        <th class="text-center">{{ 'CONTESTS.TYPE' | translate }}</th>
        <th class="text-center"></th>
        <th class="text-center">{{ 'CONTESTS.REGISTRANTS_COUNT' | translate }}
        </th>
      </tr>
    </tfoot>
  </table>
</div>
