<a [@fadeInOnEnter] routerLink="project/{{ project.id }}">
  <div class="card project-{{ project.id }} shadow gradient">
    <div class="card-header">
      <div class="card-title text-white">
        {{ project.title }}
      </div>
      <div class="card-img">
        <img [src]="project.logo" alt="project-img">
      </div>
    </div>
  
    <div class="card-body">
      <span class="text-white" [innerHTML]="project.descriptionShort"></span>
  
      <div class="text-right">
        <span class="project-level bg">
          {{ project.levelTitle }}
        </span>

        <span
          class="project-technology technology-{{ technology.technology }}"
          *ngFor="let technology of project.availableTechnologies">
          {{ technology.technology }}
        </span>
      </div>

    </div>
  
    <div class="card-footer border-top">
      <span *ngIf="project.inThePipeline; else elseBlock" class="badge bg">
        {{ 'InThePipeline' | translate }}
      </span>
  
      <ng-template #elseBlock>
        <span class="bg badge">
          {{ 'View' | translate }}
        </span>  
      </ng-template>
    </div>
  </div>
</a>
