<header>
  <svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="-300 0 950 270">
    <path d="M-314,267 C105,364 400,100 812,279" fill="none" stroke-width="120"
      stroke-linecap="round" />
  </svg>

  <h1 [@fadeInOnEnter] class="text-center">
    <div class="cup-image">
      <img height="90" src="assets/images/icons/cpython-cup.png" alt="">
    </div>
    CPython Cup
  </h1>

  <h2 [@fadeInOnEnter] class="text-center">
    Kompyuter fanlari bo'yicha 4 bosqichli musobaqa
  </h2>

  <h3 [@fadeInOnEnter] class="text-center">
    6 may - 28 may
  </h3>

<!--  &lt;!&ndash;<ngx-countdown [time]="leftTime" [render]="render" format="DD:HH:mm:ss">-->
<!--    <ng-template #render let-data>-->
<!--      <div class="container d-flex justify-content-between">-->
<!--        <div class="countdown text-center">-->
<!--          <h5 class="clock-val">{{ data.fragments[0] }}</h5>-->
<!--          <h5 class="clock-text">{{ 'DAY' | translate }}</h5>-->
<!--        </div>-->

<!--        <div class="countdown text-center">-->
<!--          <h5 class="clock-val">{{ data.fragments[1] }}</h5>-->
<!--          <h5 class="clock-text">{{ 'HOUR' | translate }}</h5>-->
<!--        </div>-->
<!--  -->
<!--        <div class="countdown text-center">-->
<!--          <h5 class="clock-val">{{ data.fragments[2] }}</h5>-->
<!--          <h5 class="clock-text">{{ 'MINUTE' | translate }}</h5>-->
<!--        </div>-->
<!--  -->
<!--        <div class="countdown text-center">-->
<!--          <h5 class="clock-val">{{ data.fragments[3] }}</h5>-->
<!--          <h5 class="clock-text">{{ 'SECOND' | translate }}</h5>-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-template>-->
<!--  </ngx-countdown>&ndash;&gt;-->
</header>
