<div class="content-wrapper p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="mt-2">
      <div class="row">
        <div [@fadeInLeft]="startAnimationState" class="col-lg-9 col-md-12 col-sm-12 order-2 order-lg-1">
          <div class="layout-spacing">
            <div class="card">
              <div class="card-header">
                <contest-tab [contest]="contest"></contest-tab>
                <hr>
              </div>
              <div class="card-body">
                <h2 class="text-center mb-2">
                  {{ contestProblem.symbol }}. {{ problem.title }}
                </h2>

                <div class="row justify-content-center mt-1">
                  <div class="col text-right problem-header">
                    <small class="text-center pr-1">
                      {{ 'Languages' | translate }}:
                    </small>
                  </div>

                  <div class="col problem-header">
                    <small class="text-center">
                      <span *ngFor="let availableLanguage of problem.availableLanguages">
                        <a
                          (click)="changeLang(availableLanguage.lang)"
                          class="badge-pill text-white badge badge-{{ availableLanguage.lang }}">
                          {{ availableLanguage.lang | langFullName }}
                        </a>
                      </span>
                    </small>
                  </div>
                </div>

                <div *ngIf="currentUser" class="row justify-content-center mt-1">
                  <div class="col text-right problem-header">
                    <small class="text-center pr-1">
                     {{ 'SelectedLanguage' | translate }}:
                    </small>
                  </div>

                  <div class="col problem-header">
                    <small class="text-center">
                      <span class="badge badge-pill badge-{{ selectedLang }}">
                        {{ selectedLang | langFullName }}
                      </span>      
                    </small>
                  </div>
                </div>

                <div class="row justify-content-center mt-1">
                  <div class="col text-right problem-header">
                    <small class="text-center pr-1">
                      {{ 'TIME_LIMIT' | translate }}:
                    </small>
                  </div>

                  <div class="col problem-header">
                    <small class="text-center">
                      <span class="text-info">
                        {{ availableLang.timeLimit || problem.timeLimit }} {{ 'MS' | translate }}
                      </span>
                    </small>
                  </div>
                </div>

                <div class="row justify-content-center mt-1">
                  <div class="col text-right problem-header">
                    <small class="text-center pr-1">
                      {{ 'MEMORY_LIMIT' | translate }}:
                    </small>
                  </div>

                  <div class="col problem-header">
                    <small class="text-center">
                      <span class="text-primary">
                        {{ availableLang.memoryLimit || problem.memoryLimit }} {{ 'MB' | translate }}
                      </span>
                    </small>
                  </div>
                </div>

                <problem-body [problem]="problem"></problem-body>
              </div>
            </div>
          </div>

          <div class="layout-spacing" *ngIf="currentUser">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title text-center mt-2 mb-1">{{ 'ATTEMPTS' | translate }}</h3>
              </div>
              <div class="card-body">
                <contest-attempts-table
                  [attempts]="attempts"
                  [contest]="contest"
                  (checkFinishEvent)="reloadProblems()"
                >
                </contest-attempts-table>
                <pagination
                  *ngIf="attempts.length > 0"
                  [collectionSize]="totalAttemptsCount"
                  [(page)]="currentPage"
                  [pageSize]="50"
                  [maxSize]="5"
                  (pageChange)="reloadAttempts()"
                >
                </pagination>
              </div>
            </div>
          </div>

        </div>

        <div [@fadeInRight]="startAnimationState" class="col-lg-3 col-md-12 col-sm-12 order-1 order-lg-2">
          <div class="layout-spacing" *ngIf="contest">
            <contest-card-countdown [contest]="contest"></contest-card-countdown>
          </div>

          <div class="layout-spacing">
            <div class="card">

              <div class="">
                <div class="table-responsive contest-problems">
                  <table class="table">
                    <tbody>
                      <tr *ngFor="let contestProblem of contestProblems">
                        <td [ngClass]="{
                          'bg-success': contestProblem.isSolved,
                          'bg-danger': !contestProblem.isSolved && contestProblem.isAttempted,
                          'bg-darken-1': coreConfig.layout.skin == 'dark',
                          'bg-lighten-4': coreConfig.layout.skin != 'dark'
                        }">
                          <a [routerLink]="['/competitions', 'contests', 'user-contests', 'contest', contest.id, 'problem', contestProblem.symbol]">
                            {{ contestProblem.symbol }}
                          </a>
                        </td>  
                        <td>
                          <a [routerLink]="['/competitions', 'contests', 'user-contests', 'contest', contest.id, 'problem', contestProblem.symbol]">
                            <span class="text-primary">
                            </span>
                            {{ contestProblem.problem.title }}                              
                            
                            <br>
                            <small>
                              <span class="text-success">
                                {{ contestProblem.solved }}
                                <i data-feather="user-check"></i>
                              </span>
    
                              <span class="pl-1 text-danger">
                                {{ contestProblem.attemptUsersCount - contestProblem.solved }}
                                <i data-feather="user-x"></i>
                              </span> 
                            </small>
                          </a>
                        </td>
                        <td *ngIf="contestProblem.ball > 1 && contest.isAlready()">
                          <span class="badge badge-success badge-glow">
                            {{ contestProblem.getCurrentBall(contest) }}
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>                
              </div>  
            </div>

          </div>
        </div>
      </div>

      <code-editor-modal
        *ngIf="contest?.isAlready() && contest?.isRegistered && currentUser"
        [uniqueName]="'problem-' + problem.id"
        [sampleTests]="problem.sampleTests"
        [availableLanguages]="problem.availableLanguages"
        [submitUrl]="'user-contests/' + contest.id + '/submit/'"
        [contestProblem]="contestProblem.symbol"
        (submittedEvent)="reloadAttempts()"
      ></code-editor-modal>

    </section>
  </div>
</div>