<div class="project">
  <div class="project-header">
    <div class="project-title">
      {{ project.title }}
    </div>

    <div class="project-image">
      <img alt="" height="90" src="{{ project.logo }}">
    </div>
  </div>

  <div class="project-body">
    <div [innerHTML]="project.description" class="project-description">
    </div>

    <hr>

    <div class="project-tasks">
      <div class="title">{{ 'Tasks' | translate }}</div>
      <div class="accordion collapse-margin">
        <ngb-accordion [closeOthers]="true" [destroyOnHide]="false">
          @for (task of project.tasks;track task) {
            <ngb-panel id="panelMargin{{ task.number }}" [cardClass]="'collapse-margin'">
              <ng-template ngbPanelTitle>
                <div class="d-flex justify-content-between align-items-center">
                  <span>{{ task.number }}. {{ task.title }}</span>
                  <kepcoin [value]="task.kepcoinValue"></kepcoin>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div [innerHTML]="task.description"></div>
              </ng-template>
            </ngb-panel>
          }
        </ngb-accordion>
      </div>
    </div>

    <div class="project-technologies">
      <div class="title">{{ 'Technologies' | translate }}</div>
      <div class="accordion collapse-margin">
        <ngb-accordion [closeOthers]="true" [destroyOnHide]="false">
          @for (technology of project.availableTechnologies;track technology;let i = $index) {
            <ngb-panel id="panelMargin{{ i }}" [cardClass]="'collapse-margin'">
              <ng-template ngbPanelTitle>
                <span>{{ technology.technology }}</span>
              </ng-template>
              <ng-template ngbPanelContent>
                <div [innerHTML]="technology.info"></div>
              </ng-template>
            </ngb-panel>
          }
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>
