@keyframes zoomAnimation {
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.96);
  }
}


.topics {
  box-shadow: var(--inherit-bg-box-shadow) !important;
  border: none;
  margin-top: 2rem;
  border-radius: 10px; 
  margin-bottom: 2rem;
  padding: 20px;
  background: inherit !important;

  .title {
    font-weight: 500;
    margin-bottom: 1rem;
  }

}

.topic {
  transform: scale(0.96);
  display: block;  
  white-space: nowrap;
  border-radius: 5px;
  min-height: 100px;
  min-width: 120px;
  padding: 1rem;
  text-align: center;
  color: #fff;

  &:hover {
    animation: zoomAnimation 0.5s;
  }

  &.active {
    transform: scale(1);
    transition: 0.5s ease;
  }

  .icon {
    img {
      height: 80px;
    }
  }

  .text {
    font-weight: 500;
    font-size: 14px;
    padding-top: 10px;
  }
}

.topic-all {
  background-image: linear-gradient(to right, #4e54c8, #646ae2);
  
  img {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    height: 60px !important;
  }
}

.topic-bash {
  background-image: linear-gradient(47deg, #787883, #ebebeb);
}

.topic-coding {
  background-image: linear-gradient(147deg, #70cfff, 60%, #aba2ff);
}

.topic-python-tricks {
  background-image: linear-gradient(47deg, #b97bff, #8397f3);
}

.topic-best {
  background-image: linear-gradient(to right, #dc66e5, #e469ea);
}

.topic-database {
  background-image: linear-gradient(47deg, #76b4fa, #9d74df);
}

.topic-math {
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}


::ng-deep .dark-layout {
  .topic-all {
    background-image: linear-gradient(to right, #223f79, #4b6cb7);
  }

  .topic-bash {
    background-image: linear-gradient(47deg, #3d3d43, #a4a4a4);
  }
  
  .topic-coding {
    background-image: linear-gradient(47deg, #33aae6, #6b60cd);
  }
  
  .topic-python-tricks {
    background-image: linear-gradient(47deg, #9538ff, #6b85f7);
  }
  
  .topic-best {
    background-image: linear-gradient(47deg, #e240f4, #4f42ff);
  }
  
  .topic-database {
    background-image: linear-gradient(47deg, #41aaff, #7a4bc6);
  }
  
  .topic-math {
    background-image: linear-gradient(135deg, #68a3cb 0%, #585ca9 100%);
  }
}