<div class="card mt-2">
  <div class="card-header">
    <div [@fadeInRightOnEnter] class="card-title text-dark">
      {{ 'Topics' | translate }}
    </div>
  </div>

  <div class="card-body">
    <swiper [config]="swiperConfig" class="swiper-lazy-loading">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a container="body" ngbTooltip="{{ 'Best' | translate }}" [@fadeInRightOnEnter]
             (click)="click(1)" class="topic" [ngClass]="{'active': activeTopic == 1}">
            <div class="icon">
              <img src="assets/images/problems/topics/topic-best.png">
            </div>
          </a>
        </div>

        <div class="swiper-slide">
          <a container="body" ngbTooltip="{{ 'Coding' | translate }}" [@fadeInRightOnEnter]
             (click)="click(2)" class="topic" [ngClass]="{'active': activeTopic == 2}">
            <div class="icon">
              <img src="assets/images/problems/topics/topic-coding.png">
            </div>
          </a>
        </div>

        <div class="swiper-slide">
          <a container="body" ngbTooltip="{{ 'Python Tricks' | translate }}" [@fadeInRightOnEnter]
             (click)="click(3)" class="topic" [ngClass]="{'active': activeTopic == 3}">
            <div class="icon">
              <img src="assets/images/problems/topics/topic-python-tricks.png">
            </div>
          </a>
        </div>

        <div class="swiper-slide">
          <a container="body" ngbTooltip="{{ 'Bash' | translate }}" [@fadeInRightOnEnter]
             (click)="click(4)" class="topic" [ngClass]="{'active': activeTopic == 4}">
            <div class="icon">
              <img src="assets/images/problems/topics/topic-bash.png">
            </div>
          </a>
        </div>

        <div class="swiper-slide">
          <a container="body" ngbTooltip="{{ 'Database' | translate }}" [@fadeInRightOnEnter]
             (click)="click(5)" class="topic" [ngClass]="{'active': activeTopic == 5}">
            <div class="icon">
              <img src="assets/images/problems/topics/topic-database.png">
            </div>
          </a>
        </div>

        <div class="swiper-slide">
          <a container="body" ngbTooltip="{{ 'Math' | translate }}" [@fadeInRightOnEnter]
             (click)="click(6)" class="topic" [ngClass]="{'active': activeTopic == 6}">
            <div class="icon">
              <img src="assets/images/problems/topics/topic-math.png">
            </div>
          </a>
        </div>

        <div class="swiper-slide">
          <a container="body" ngbTooltip="{{ 'IQ' | translate }}" [@fadeInRightOnEnter]
             (click)="click(7)" class="topic" [ngClass]="{'active': activeTopic == 7}">
            <div class="icon">
              <img src="assets/images/problems/topics/topic-iq.png">
            </div>
          </a>
        </div>
      </div>
    </swiper>
  </div>
</div>
