<div class="content-wrapper p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="mt-2">
      <kep-table [loading]="isLoading" [empty]="pageResult?.total === 0">
        <ng-container header>
          <tr class="text-white bg-gradient-primary">
            <th>#</th>
            <th>{{ 'User' | translate }}</th>
            <th>{{ 'Wins' | translate }}</th>
            <th>{{ 'Draws' | translate }}</th>
            <th>{{ 'Losses' | translate }}</th>
            <th><i data-feather="bar-chart"></i></th>
          </tr>
        </ng-container>
        <ng-container body>
          @for (challengesRating of challengesRatingList; track challengesRating.username) {
            <tr>
              <td class="font-weight-bold">{{ challengesRating.rowIndex }}</td>
              <td><challenges-user-view [user]="challengesRating"></challenges-user-view></td>
              <td><span class="badge badge-light-success badge-pill">{{ challengesRating.wins }}</span></td>
              <td><span class="badge badge-light-secondary badge-pill">{{ challengesRating.draws }}</span></td>
              <td><span class="badge badge-light-danger badge-pill">{{ challengesRating.losses }}</span></td>
              <td><span class="badge badge-glow badge-{{ challengesRating.rankTitle | challengesRankColor }}">{{ challengesRating.rating }}</span></td>
            </tr>
          }
        </ng-container>
        <ng-container pagination>
          <kep-pagination
            [collectionSize]="total"
            [(page)]="pageNumber"
            [pageSize]="pageSize"
            [maxSize]="maxSize"
            [rotate]="true"
            (pageChange)="reloadPage()">
          </kep-pagination>
        </ng-container>
      </kep-table>
    </section>
  </div>
</div>
