<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"/>

    <section class="mt-2">
      <kep-table [loading]="isLoading" [empty]="pageResult?.total === 0">
        <ng-container header>
          <tr>
            <th>#</th>
            <th>{{ 'User' | translate }}</th>
            <th>
              <table-ordering
                [value]="ordering"
                [justifyContent]="'start'"
                [ordering]="'wins'"
                [reverse]="true"
                (change)="orderingChange($event)">
                {{ 'Wins' | translate }}
              </table-ordering>
            </th>
            <th>
              <table-ordering
                [value]="ordering"
                [justifyContent]="'start'"
                [ordering]="'draws'"
                [reverse]="true"
                (change)="orderingChange($event)">
                {{ 'Draws' | translate }}
              </table-ordering>
            </th>
            <th>
              <table-ordering
                [value]="ordering"
                [justifyContent]="'start'"
                [ordering]="'losses'"
                [reverse]="true"
                (change)="orderingChange($event)">
                {{ 'Losses' | translate }}
              </table-ordering>
            </th>
            <th>
              <table-ordering
                [value]="ordering"
                [justifyContent]="'start'"
                [ordering]="'rating'"
                [reverse]="false"
                (change)="orderingChange($event)">
                <i data-feather="bar-chart"></i>
              </table-ordering>
            </th>
          </tr>
        </ng-container>
        <ng-container body>
          @for (challengesRating of challengesRatingList; track challengesRating.username) {
            <tr>
              <td class="fw-bold">{{ challengesRating.rowIndex }}</td>
              <td><challenges-user-view [user]="challengesRating"></challenges-user-view></td>
              <td><span class="badge badge-light-success badge-pill">{{ challengesRating.wins }}</span></td>
              <td><span class="badge badge-light-secondary badge-pill">{{ challengesRating.draws }}</span></td>
              <td><span class="badge badge-light-danger badge-pill">{{ challengesRating.losses }}</span></td>
              <td><span class="badge badge-glow badge-{{ challengesRating.rankTitle | challengesRankColor }}">{{ challengesRating.rating }}</span></td>
            </tr>
          }
        </ng-container>
        <ng-container pagination>
          <kep-pagination
            [collectionSize]="total"
            [page]="pageNumber"
            [pageSize]="pageSize"
            [maxSize]="maxSize"
            [rotate]="true"
            (pageChange)="pageChange($event)">
          </kep-pagination>
        </ng-container>
      </kep-table>
    </section>
  </div>
</div>
