@if (isLoading && !userSocial) {
  <kep-card>
    <div class="card-body py-5 text-center">
      <spinner></spinner>
    </div>
  </kep-card>
} @else if (userSocial && (userSocial.telegram || userSocial.codeforcesHandle)) {
  <kep-card>
    <div class="card-body">
      <h4 class="mb-3">
        <i data-feather="share-2"></i>
        {{ 'UserInfo.Social' | translate }}
      </h4>
      @if (userSocial.telegram) {
        <div class="mt-2">
          <h5 class="mb-50">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/2048px-Telegram_logo.svg.png"
              height="16" width="16">
            {{ 'UserInfo.Telegram' | translate }}:
          </h5>
          <a class="card-text mb-0" href="https://t.me/{{ userSocial.telegram }}">{{ userSocial.telegram }}</a>
        </div>
      }
      @if (userSocial.codeforcesHandle) {
        <div class="mt-2">
          <a href="https://codeforces.com/profile/{{ userSocial.codeforcesHandle }}">
            <h5 class="mb-50">
              <img width="16" height="16" src="https://cdn-1.webcatalog.io/catalog/codeforces/codeforces-icon-filled.png">
              {{ 'UserInfo.Codeforces' | translate }}:
            </h5>
            <p class="card-text mb-0">
              <span class="badge bg-warning">
                {{ userSocial.codeforcesHandle }}
              </span>
              <img class="ms-1" [src]="userSocial.codeforcesBadge">
            </p>
          </a>
        </div>
      }
    </div>
  </kep-card>
} @else {
  <kep-card>
    <div class="card-body py-5 text-center text-muted">
      {{ 'NoData' | translate }}
    </div>
  </kep-card>
}
