<div class="content-wrapper p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="mt-2">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <contest-tab [contest]="contest"></contest-tab>
              <hr>
            </div>
            <div [@fadeInUp]="startAnimationState" class="card-body">
              <div class="col-lg-8 col-md-10 col-sm-12 offset-lg-2 offset-md-1 offset-sm-0">
                <contest-card [contest]="contest"></contest-card>
              </div>

              <contests-table [contests]="[contest]"></contests-table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>