<kep-table
  spinnerColor="var(--bg)"
  [loading]="isLoading && contestants.length == 0"
  [empty]="contestants.length == 0">
  <ng-container header>
    <tr>
      <th class="text-center">#</th>
      <th>{{ 'CONTESTS.CONTESTANT' | translate }}</th>
      <th class="text-center">
        <a container="body" ngbTooltip="{{ 'CONTESTS.POINTS' | translate }}">
          <kep-icon name="rating"/>
        </a>
      </th>

      @if (contest.isRated) {
        <th ngbTooltip="{{ 'RatingChange' | translate }}" container="body" class="text-center">
          <i [data-feather]="'delta' | iconName"></i>
        </th>
      }

      @if (contest?.hasPenalties()) {
        <th class="text-center">{{ 'CONTESTS.PENALTIES' | translate }}</th>
      }
      <th class="text-center">
        <a container="body" ngbTooltip="{{ 'CONTESTS.PERFOMANCE' | translate }}">
          <i data-feather="activity"></i>
        </a>
      </th>
      @for (contestProblem of contestProblems; track contestProblem) {
        <th class="text-center" style="white-space: nowrap;">
          <a
            [routerLink]="['..', 'problem', contestProblem.symbol]"
            [ngbTooltip]="contestProblem.problem.title"
            tooltipClass="tooltip-primary"
            container=".contests-colors">
            {{ contestProblem.symbol }}
            @if (contest?.hasBalls()) {
              <span>
                ({{ contestProblem.ball }})
              </span>
            }
          </a>
        </th>
      }
    </tr>
  </ng-container>

  <ng-container body>
    @for (contestant of contestants; track contestant.username) {
      <tr
        [class]="contestant.rowClass"

        [ngClass]="{'bg-light-primary': currentUser?.username == contestant.username }">
        <td class="text-center text-dark">
          {{ contestant.rank }}
        </td>
        <td>
          <div class="d-flex justify-content-start">
            <contestant-view
              [isVirtual]="contestant.isVirtual"
              [isUnrated]="contestant.isUnrated"
              [isOfficial]="contestant.isOfficial"
              [user]="contestant"
              [team]="contestant.team"/>

            <i *ngIf="contestant.country" class="fi fi-{{ contestant.country }} ms-1"></i>
          </div>
        </td>
        <td class="text-center">
          <span class="badge points">
            {{ contestant.points }}
          </span>
        </td>
        @if (contest.isRated) {
          <td class="text-center">
            <kep-delta [value]="contestant.delta"/>
          </td>
        }
        @if (contest?.hasPenalties()) {
          <td class="text-center">
            <span class="badge bg-danger-transparent">
              {{ contestant.penalties }}
            </span>
          </td>
        }
        <td class="text-center" style="white-space: nowrap;">
          <contests-rating-image
            [title]="contestant.perfomanceTitle"
            [class]="'me-1'"/>
          <span class="text-dark me-1">
            @if (contestant.perfomance >= 3400) {
              <span>∞</span>
            }
            @if (contestant.perfomance < 3400) {
              <span>{{ contestant.perfomance }}</span>
            }
          </span>
        </td>
        @for (contestProblem of contestProblems; track contestProblem) {
          <td class="text-center">
            <ng-template
              #selfie [ngTemplateOutlet]="selfie"
              let-problemInfo="aVariable"
              [ngTemplateOutletContext]="{
                    aVariable: contestant.problemsInfo | problemInfoBySymbol:contestProblem.symbol
                  }">
              <div>
                @if (problemInfo) {
                  <div [innerHTML]="problemInfo | problemInfoGetHtml:contest"></div>
                }
              </div>
            </ng-template>
          </td>
        }
      </tr>
    }
  </ng-container>

  <ng-container footer>
    <tr>
      <th class="text-center text-dark">#</th>
      <th class="text-dark">{{ 'CONTESTS.CONTESTANT' | translate }}</th>
      <th class="text-center text-dark">
        <kep-icon name="rating"/>
      </th>
      @if (contest.isRated) {
        <th class="text-center">
          <i [data-feather]="'delta' | iconName"></i>
        </th>
      }
      @if (contest?.hasPenalties()) {
        <th class="text-center">{{ 'CONTESTS.PENALTIES' | translate }}</th>
      }
      <th class="text-center"><i data-feather="activity"></i></th>
      @for (contestProblem of contestProblems; track contestProblem) {
        <th class="text-dark text-center">
          {{ contestProblem.symbol }}
          <br>
          <small>
            (<span class="text-success">{{ contestProblem.solved }}</span>/<span
            class="text-danger">{{ contestProblem.unsolved }}</span>/<span
            class="text-dark">{{ contestProblem.attemptsCount }}</span>)
          </small>
        </th>
      }
    </tr>
  </ng-container>
</kep-table>
