<div class="table-responsive">
  <table class="table attempts-table">
    <thead>
      <tr class="bg-gradient-primary">
        <th class="text-center">ID</th>
        <th class="text-center">{{ 'SUBMITTED' | translate }}</th>
        <th class="text-center">{{ 'LANG' | translate }}</th>
        <th>{{ 'USER' | translate }}</th>
        <th>{{ 'PROBLEM' | translate }}</th>
        <th>{{ 'VERDICT' | translate }}</th>
        <th class="text-center">{{ 'TIME' | translate }}</th>
        <th class="text-center">{{ 'MEMORY' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let attempt of attempts"
        [ngClass]="{'bg-light-primary': attempt.user?.username==currentUser?.username}">
        <td class="text-center">
          <a (click)="onClick(attempt.id)"
            *ngIf="attempt.canView; else other;">
            <u>
              {{ attempt.id }}
            </u>
          </a>
          <ng-template #other>{{ attempt.id }}</ng-template>
        </td>

        <td class="text-center">
          <span class="badge badge-light-success text-center" ngbTooltip="{{ attempt.created | date:'yyyy/MM/dd HH:mm:ss' }}">
            {{ attempt.getContestTime(contest.startTime) }}
          </span>
        </td>

        <td class="text-center">
          <span class="badge badge-glow badge-{{ attempt.lang }}">
            {{ attempt.lang | langFullName }}
          </span>
        </td>

        <td>
          <contestant-view
            [user]="attempt.user"
            [team]="attempt.team"
          ></contestant-view>
        </td>

        <td>
          <a [routerLink]="['/competitions', 'contests', 'contest', attempt.contestProblem.contest, 'problem', attempt.contestProblem.symbol]">
            <u class="text-primary">{{ attempt.contestProblem.symbol }}. {{ attempt.problemTitle }}</u>
          </a>
        </td>

        <td
          [@bounce]="attempt.animationAcceptedState"
          [@shake]="attempt.animationWrongState">
          <div [innerHTML]="attempt | attemptVerdictHTML"></div>
        </td>

        <td class="text-center">
          <span class="badge badge-info">{{ attempt.time }} {{ 'MS' | translate }}</span>
        </td>

        <td class="text-center">
          <span class="badge badge-primary">{{ attempt.memory }} {{ 'KB' | translate }}</span>
        </td>

      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">{{ 'SUBMITTED' | translate }}</th>
        <th class="text-center">{{ 'LANG' | translate }}</th>
        <th>{{ 'USER' | translate }}</th>
        <th>{{ 'PROBLEM' | translate }}</th>
        <th>{{ 'VERDICT' | translate }}</th>
        <th class="text-center">{{ 'TIME' | translate }}</th>
        <th class="text-center">{{ 'MEMORY' | translate }}</th>
      </tr>
    </tfoot>
  </table>
</div>

<!-- Modal -->
<ng-template #modal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mr-1">{{ 'Attempt' | translate }}</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div class="table-responsive mb-4">
      <table class="table attempts-table">
        <thead>
          <tr class="bg-gradient-primary">
            <th class="th-content">ID</th>
            <th class="th-content">{{ 'SUBMITTED' | translate }}</th>
            <th class="th-content">{{ 'LANG' | translate }}</th>
            <th class="th-content">{{ 'USER' | translate }}</th>
            <th class="th-content">{{ 'PROBLEM' | translate }}</th>
            <th class="th-content">{{ 'VERDICT' | translate }}</th>
            <th class="th-content">{{ 'TIME' | translate }}</th>
            <th class="th-content">{{ 'MEMORY' | translate }}</th>
            <th class="th-content">{{ 'SIZE' | translate }}</th>
            <th><clipboard-button [text]="selectedAttempt.sourceCode"></clipboard-button></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {{ selectedAttempt.user.id }}
            <td class="attempt-id">
              {{ selectedAttempt.id }}
            </td>
    
            <td>
              <span class="badge badge-light-success text-center" style="width: 130px;">
                {{ selectedAttempt.created | date:"yyyy/MM/dd HH:mm:ss" }}
              </span>
            </td>
    
            <td>          
              <span class="badge badge-glow badge-{{ selectedAttempt.lang }}">
                {{ selectedAttempt.lang | langFullName }}
              </span>
            </td>
        
            <td>
              <contestant-view [user]="selectedAttempt.user" [team]="selectedAttempt.team"></contestant-view>
            </td>
    
            <td class="problem-title">
              <a [routerLink]="['/practice', 'problems', 'problem', selectedAttempt.problemId]">
                <u class="text-primary">{{ selectedAttempt.problemId }}. {{ selectedAttempt.problemTitle }}</u>
              </a>
            </td>
    
            <td class="td-content">
              <div *ngIf="selectedAttempt.canTestView; else elseBlock">
                <a ngbTooltip="Testni ko'rish"
                  href="http://api.cpython.uz/angular/attempts/{{ selectedAttempt.id }}/failed-test?number={{ selectedAttempt.testCaseNumber }}">
                  <div [innerHTML]="selectedAttempt | attemptVerdictHTML"></div>
                </a>
              </div>

              <ng-template #elseBlock>
                <div [innerHTML]="selectedAttempt | attemptVerdictHTML"></div>
              </ng-template>
            </td>
    
            <td class="td-content">
              <span class="badge badge-info">{{ selectedAttempt.time }} {{ 'MS' | translate }}</span>
            </td>
    
            <td class="td-content">
              <span class="badge badge-primary">{{ selectedAttempt.memory }} {{ 'KB' | translate }}</span>
            </td>
    
            <td class="td-content">
              <span class="badge badge-dark">{{ selectedAttempt.sourceCodeSize }}</span>
            </td>
            <td></td>
    
          </tr>
        </tbody>
      </table>
    </div>
    <ngx-monaco-editor
      [ngModelOptions]="{standalone: true}"
      [options]="editorOptions"
      [(ngModel)]="selectedAttempt.sourceCode"
      name="code"
      style="height: 400px;"
      class="mt-1"
      ngDefaultControl
    ></ngx-monaco-editor>
  </div>
</ng-template>
<!-- / Modal -->


<audio
  #successAudio
  src="assets/audio/success.mp3">
</audio>

<audio
  #wrongAudio
  src="assets/audio/wrong.mp3">
</audio>
