<div [@fadeInOnEnter] class="table-responsive">
  <table class="table challenge-card">
    <tbody>
      <tr>
        <td>
          <challenges-user-view
            [user]="challenge.playerFirst"
            [withRating]="true"
          ></challenges-user-view>
        </td>

        <td>
          <span class="badge badge-glow" [ngClass]="{
            'badge-success': challenge.playerFirst.result > challenge.playerSecond.result,
            'badge-danger': challenge.playerFirst.result < challenge.playerSecond.result,
            'badge-secondary': challenge.playerFirst.result == challenge.playerSecond.result
          }">
            {{ challenge.playerFirst.result }}
          </span>
        </td>

        <td>
          <kep-delta [value]="challenge.playerFirst.delta"></kep-delta>
        </td>

        <td class="text-right">
          <span ngbTooltip="{{ 'Time' | translate }}" class="badge mr-25 badge-glow badge-primary bg-primary">
            <kep-icon class="font-small-3" name="challenge-time"></kep-icon>
            {{ challenge.timeSeconds }}
          </span>
          <span ngbTooltip="{{ 'Questions' | translate }}" class="badge badge-glow badge-primary bg-primary">
            <kep-icon class="font-small-3" name="challenge-task"></kep-icon>
            {{ challenge.questionsCount }}
          </span>
        </td>
      </tr>

      <tr>
        <td>
          <challenges-user-view
            [user]="challenge.playerSecond"
            [withRating]="true"
          ></challenges-user-view>
        </td>

        <td>
          <span class="badge badge-glow" [ngClass]="{
            'badge-danger': challenge.playerFirst.result > challenge.playerSecond.result,
            'badge-success': challenge.playerFirst.result < challenge.playerSecond.result,
            'badge-secondary': challenge.playerFirst.result == challenge.playerSecond.result
          }">
            {{ challenge.playerSecond.result }}
          </span>
        </td>

        <td>
          <kep-delta [value]="challenge.playerSecond.delta"></kep-delta>
        </td>

        <td class="text-right">
          @if (!challenge.finished) {
            <span class="badge badge-glow badge-success">
              {{ 'Now' | translate }}
            </span>
          }
          @if (challenge.finished) {
            <span class="badge bg-primary">
              {{ challenge.finished }}
            </span>
          }
        </td>
      </tr>
    </tbody>
  </table>
</div>
