@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$bg-primary: #5456da;
$bg-darken: #484ed0;
$bg-lighten: #6c6aef;
$bg-gradient-primary: linear-gradient(to right, $bg-primary, $bg-lighten);
$bg-gradient-primary-reversed: linear-gradient(to right, $bg-lighten, $bg-primary);

$dark-layout-bg-primary: rgba(47, 45, 161, 0.8);
$dark-layout-bg-lighten: #484ed0;
$dark-layout-bg-darken: rgba(47, 45, 161, 0.8);
$dark-layout-bg-gradient-primary: linear-gradient(to right, $dark-layout-bg-primary, $dark-layout-bg-lighten);
$dark-layout-bg-gradient-primary-reversed: linear-gradient(to right, $dark-layout-bg-lighten, $dark-layout-bg-primary);

::ng-deep section.challenges {
  --bg-primary: #{$bg-primary};
  --bg-darken: #{$bg-darken};
  --bg-lighten: #{$bg-lighten};
  --bg-gradient: #{$bg-gradient-primary};
  --bg-gradient-reversed: #{$bg-gradient-primary-reversed};

  .text-primary {
    color: var(--bg-primary) !important;
  }

  .badge-primary, .bg-primary {
    background-color: var(--bg-primary) !important;
  }

  .bg-primary-lighten {
    background-color: var(--bg-lighten) !important;
  }

  .bg-primary-darken {
    background-color: var(--bg-darken) !important;
  }

  .bg-gradient-primary {
    background: var(--bg-gradient) !important;
  }

  .bg-gradient-primary-reversed {
    background: var(--bg-gradient-reversed) !important;
  }

  .top-rating div, .top-rating span {
    color: #fff !important;
  }

  .ng-select-container {
    background: var(--bg-primary);

    .ng-value {
      background: inherit !important;
    }
  }

  .btn-primary {
    color: #fff;
    box-shadow: 0 0 20px var(--bg-lighten);
    border-radius: 10px;
    border: none;
    background-color: var(--bg-darken) !important;

    &:hover {
      background-color: var(--bg-lighten) !important;
    }
  }

  .pagination-primary .page-item.active .page-link {
    background: var(--bg-primary) !important;
  }
}

::ng-deep .dark-layout section.challenges {
  --bg-primary: #{$dark-layout-bg-primary};
  --bg-darken: #{$dark-layout-bg-darken};
  --bg-lighten: #{$dark-layout-bg-lighten};
  --bg-gradient: #{$dark-layout-bg-gradient-primary};
  --bg-gradient-reversed: #{$dark-layout-bg-gradient-primary-reversed};

  .top-rating {
    background: var(--bg-primary) !important;

    thead th {
      background: var(--bg-darken) !important;
    }
  }
}

.avatar-lg {
  background: var(--bg-darken);
  box-shadow: 0 0 10px var(--bg-lighten);
}

.challenges-page-top {
  margin-left: -2rem;
  position: absolute;
  top: -150px;
  width: calc(100% + 2rem);
  z-index: -1;
  height: 650px;
  background: var(--bg-gradient);

  @include media-breakpoint-down(lg) {
    width: calc(100% + 1.2rem);
  }
}

.card.card-info {
  border: none;
  opacity: 1;
  height: 150px;
  box-shadow: 0 0 10px var(--bg-lighten) !important;
  background: inherit !important;
  background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)), rgba(0, 0, 0, var(--bg-filter-opacity))), var(--bg-img) !important;

  &:hover {
    transform: scale(1.05);
  }

  .card-header .card-title {
    color: #fff;
  }

  .info-img {
    position: absolute;
    height: 120px;
    width: 120px;
    bottom: 0.5rem;
    right: 0.5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.card.in-queue {
  background-size: 200% auto;
  background-color: var(--bg-primary) !important;

  .card-footer {
    border-top: 1px solid var(--bg-darken);
  }
}

.card.top-rating {
  border: none;
  box-shadow: 0 0 10px var(--bg-lighten) !important;
  background: var(--bg-darken);

  .avatar {
    background: var(--bg-darken) !important;
    box-shadow: 0 0 5px var(--bg-lighten);
  }

  thead tr {
    background-size: 200% auto;
  }

  td {
    height: 50px;
  }

  th, td {
    border-top: none !important;
    border-bottom: none !important;
  }
}

::ng-deep .slider-custom .noUi-connect {
  background: var(--bg-gradient) !important;
  box-shadow: 0 0 10px var(--bg-primary);
}
