@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

.avatar-lg {
  background: var(--bg-darken);
  box-shadow: 0 0 10px var(--bg-lighten);
}

.challenges-page-top {
  margin-left: -2rem;
  position: absolute;
  top: -150px;
  width: calc(100% + 2rem);
  z-index: -1;
  height: 650px;
  background: var(--bg-gradient);

  @include media-breakpoint-down(lg) {
    width: calc(100% + 1.2rem);
  }
}

.card.in-queue {
  background-size: 200% auto;
  background-color: var(--bg-primary) !important;

  .card-footer {
    border-top: 1px solid var(--bg-darken);
  }
}

.card.top-rating {
  border: none;
  box-shadow: 0 0 10px var(--bg-lighten) !important;
  background: var(--bg-darken);

  .avatar {
    background: var(--bg-darken) !important;
    box-shadow: 0 0 5px var(--bg-lighten);
  }

  thead tr {
    background-size: 200% auto;
  }

  td {
    height: 50px;
  }

  th, td {
    border-top: none !important;
    border-bottom: none !important;
  }
}

::ng-deep .slider-custom .noUi-connect {
  background: var(--bg-gradient) !important;
  box-shadow: 0 0 10px var(--bg-primary);
}
