@import 'styles/kep-imports';

.card.in-queue {
  background-color: var(--bg-primary) !important;

  .card-footer {
    border-top: 1px solid mix(black, $primary, 30);
  }
}

::ng-deep .slider-custom .noUi-connect {
  background: var(--bg-gradient) !important;
  box-shadow: 0 0 10px var(--bg-primary);
}
