
<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <!-- Login v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a href="/" class="brand-logo">
          <img [src]="defaultCoreConfig.app.appLogoImage" alt="brand-logo" height="28" />
          <h2 class="brand-text text-primary ml-1">{{ defaultCoreConfig.app.appTitle }}</h2>
        </a>

        <h4 class="card-title mb-1">{{ 'WelcomeToKEP' | translate }}! 👋</h4>
        <p class="card-text mb-2">{{ 'LoginText' | translate }}</p>

        <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="form-label" for="login-username">{{ 'Username' | translate }}</label>
            <input
              type="text"
              formControlName="username"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
              placeholder="{{ 'Username' | translate }}"
              aria-describedby="login-username"
              autofocus=""
              tabindex="1"
            />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">required</div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="login-password">{{ 'Password' | translate }}</label
              >
              <!--
                <a routerLink="/pages/authentication/forgot-password-v2"><small>Forgot Password?</small></a>
              -->
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                [type]="passwordTextType ? 'text' : 'password'"
                formControlName="password"
                class="form-control form-control-merge"
                [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
                placeholder="············"
                aria-describedby="login-password"
                tabindex="2"
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer" (click)="togglePasswordTextType()">
                  @if (passwordTextType){
                    <kep-icon type="duotone" name="toggle-on"></kep-icon>
                  } @else {
                    <kep-icon type="duotone" name="toggle-off"></kep-icon>
                  }
                </span>
              </div>
            </div>
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.password.errors }"
            >
              <div *ngIf="f.password.errors.required">required</div>
            </div>
          </div>
          <button [disabled]="loading" class="btn btn-primary btn-block" tabindex="4" rippleEffect>
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>{{ 'Login' | translate }}
          </button>
        </form>

        <div class="divider my-2">
          <div class="divider-text">{{ 'or' | translate }}</div>
        </div>

        <div class="auth-footer-btn d-flex justify-content-center">
          <a class="btn btn-google" style="margin-right: 1rem;" href="/login/google-oauth2/?next=/home"><i data-feather="mail"></i></a>
          <a class="btn btn-github" href="/login/github/?next=/home"><i data-feather="github"></i></a>
        </div>
      </div>
    </div>
    <!-- /Login v1 -->
  </div>
</div>
