<div class="card">
  <div class="card-header">
    <div class="card-title">
      {{ 'LatestNews' | translate }}
    </div>
  </div>

  <div class="card-body">
    @if (skeletonVisible) {
      <div class="item">
        <ngx-skeleton-loader
          count="3"
          animation="pulse"
          appearance="line"
          [theme]="{height: '108px', 'margin-top': '15px', 'margin-bottom': '30px', background: 'var(--skeleton-color)'}"
        ></ngx-skeleton-loader>
      </div>
    } @else {
      <swiper [config]="newsSwiperConfig" [height]="475" #newsSwiper>
        @for (news of lastNews; track news) {
          <div
            class="swiper-slide"
            [@fadeInRightOnEnter]
          >
            <news-card [blog]="news.blog"></news-card>
            <hr>
          </div>
        }
        <div class="swiper-pagination"></div>
      </swiper>
    }
  </div>
</div>
