@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import 'scss/base/bootstrap-extended/variables';
@import 'scss/base/components/variables-dark';

header {
  h1 {
    font-weight: 600;
    font-size: 3rem;
  }

  h3 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 1.75rem;
  }

  .sections {
    margin-top: 80px;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid !important;

    .section {
      .icon {
        height: 2rem !important;
      }

      .title {
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 1rem;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  header {
    width: calc(100% + 1.2rem);
  }
}


@include media-breakpoint-down(sm) {
  header {
    h1 {
      font-size: 1.75rem;
    }

    .sections {
      margin-top: 60px;

      .section {
        .title {
          font-size: 1.1rem;
        }
      }
    }

    h3 {
      font-size: 1.25rem;
    }
  }
}
