<div class="row">
  <div class="col-12 header-section">
    <header-section></header-section>
  </div>

  <div class="offset-lg-1 offset-0 col-lg-6 col-md-8 col-12">
    <news-section></news-section>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-12">
    <activity-section></activity-section>
    <profile-section></profile-section>
  </div>

  <div class="col-12 mt-1">
    <div class="row">
      <div class="col-lg-4 col-12">
        @defer {
          <top-rating-section></top-rating-section>
        }
      </div>
      <div class="col-lg-4 col-12">
        @defer {
          <system-section></system-section>
        }
      </div>
      <div class="col-lg-4 col-12">
        @defer {
          <users-chart-card></users-chart-card>
        }
      </div>
    </div>
  </div>

  <div class="col-lg-8 offset-lg-2 col-12 text-center">
    @defer {
      <calendar-section></calendar-section>
    }
  </div>

  <div class="col-12 mt-1">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        @defer {
          <birthdays-section></birthdays-section>
        }
      </div>
      <div class="col-lg-9 col-md-6 col-sm-12">
        <div class="mb-4">
          @defer {
            <posts-section></posts-section>
          }
        </div>
      </div>

    </div>
  </div>

  <div class="col-12">
    @defer {
      <statistics-section></statistics-section>
    }
  </div>

</div>

<audio
    #audio
    muted="muted"
    src="assets/audio/intro.mp3">
</audio>
