@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

.course-header {
  @include media-breakpoint-up(lg) {
    height: 550px;
  }

  @include media-breakpoint-down(md) {
    height: 600px;
  }

  @include media-breakpoint-down(sm) {
    height: 650px;
  }
}

::ng-deep {
  .course-detail-page {
    background: #fff !important;
  }
  
  .course-detail-page.dark-layout {
    background: #161d31 !important;
  }
}
