@if (contentHeader){
  <div class="mb-3" [ngClass]="{
    'd-flex justify-content-between align-items-center': contentHeader.refreshVisible || hasActions
  }">
    <div class="content-header" [@fadeInLeft]="animationState">
      <div class="content-header-left mb-0">
        <div class="breadcrumbs-top">
          <div class="d-flex mt-1">
            <h2 class="content-header-title text-dark float-start mb-0">
              {{ contentHeader.headerTitle | translate }}
            </h2>
            <!-- app-breadcrumb component -->
            <app-breadcrumb [breadcrumb]="contentHeader.breadcrumb"></app-breadcrumb>
          </div>
        </div>
      </div>
    </div>

    <div class="text-end" [@fadeInUp]="animationState">
      <ng-content select="[actions]"></ng-content>
      @if (contentHeader.refreshVisible) {
        <button ngbTooltip="{{ 'Reload' | translate }}" (click)="refresh.next(null)" rippleEffect class="btn btn-sm btn-primary">
          <i data-feather="refresh-cw"></i>
        </button>
      }
    </div>
  </div>
}
