<core-sidebar [hideOnEsc]="true" [name]="sidebarName" class="code-editor-sidebar">
  <a
    (click)="toggleSidebar()"
    class="btn-toggle d-flex align-items-center justify-content-center">
    <span [data-feather]="'terminal'"></span>
  </a>

  <ng-scrollbar>
    <div class="card full-height position-relative" (keydown)="onKeyDown($event)">
      <div class="card-header">
        <div class="card-title">
          {{ 'CODE_EDITOR.EDITOR' | translate }}
        </div>

        <div class="d-flex justify-content-between">
          <button (click)="toggleSidebar()" aria-label="Close" class="btn-close" type="button"></button>
        </div>
      </div>
      <hr class="mt-0 mb-50">
      <div class="card-body" [formGroup]="editorForm">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-12">
            <div
              [ngbTooltip]="editorForm.controls.code.errors | errorMessage"
              [style.height.%]="100"
              container="body"
              tooltipClass="tooltip-danger"
              >
              <monaco-editor
                [lang]="editorForm.controls.lang.value"
                [formControl]="editorForm.controls.code"
                [height]="480">
              </monaco-editor>
            </div>
          </div>

          <div class="col-lg-4 col-md-5 d-none d-md-block">
            <div class="mb-1">
              <label class="fw-bold">{{ 'Language' | translate }}: </label>
              <ng-select
                [appendTo]="'body'"
                [clearable]="false"
                [formControl]="editorForm.controls.lang"
                (change)="langChange($event)">
                @for (availableLanguage of availableLanguages; track availableLanguage) {
                  <ng-option
                    [value]="availableLanguage.lang">
                    {{ availableLanguage.langFull || availableLanguage.lang }}
                  </ng-option>
                }
              </ng-select>
            </div>

            @if (sampleTests.length > 0) {
              <div class="mb-1">
                <label class="fw-bold">{{ 'CODE_EDITOR.SAMPLE_TEST' | translate }}: </label>
                <ng-select
                  appendTo="body"
                  (change)="onSampleTestChange()"
                  [clearable]="false"
                  formControlName="testCaseNumber"
                  >
                  @for (sampleTest of sampleTests; track sampleTest; let i = $index) {
                    <ng-option
                      value="{{ i + 1 }}">
                      {{ i + 1 }}
                    </ng-option>
                  }
                </ng-select>
              </div>
            }

            @if (!isSelectedLangText()) {
              <div class="mb-1">
                <label class="fw-bold">{{ 'CODE_EDITOR.INPUT' | translate }}:</label>
                <textarea
                  [ngbTooltip]="editorForm.controls.input.errors | errorMessage"
                  class="form-control"
                  formControlName="input"
                  placeholder=""
                  rows="3"
                  tooltipClass="tooltip-danger"
                ></textarea>
              </div>
            }

            @if (!isSelectedLangText()) {
              <div class="mb-1">
                <label class="fw-bold">{{ 'CODE_EDITOR.OUTPUT' | translate }}:</label>
                <textarea
                  class="form-control"
                  formControlName="output"
                  rows="2"
                ></textarea>
              </div>
            }

            @if (!isSelectedLangText()) {
              <div class="mb-1">
                <label class="fw-bold">{{ 'CODE_EDITOR.ANSWER' | translate }}:</label>
                <textarea
                  class="form-control"
                  formControlName="answer"
                  rows="2"
                ></textarea>
              </div>
            }
          </div>
        </div>
      </div>

      <div class="card-footer d-none d-md-flex justify-content-between">
        @if (authService.currentUserValue?.permissions?.canUseCheckSamples === false){
          <kepcoin-spend-swal
            (success)="checkSamplesPurchaseSuccess()"
            [customContent]="true"
            [purchaseUrl]="'problems/' + problem?.id + '/purchase-check-samples/'"
            [value]="100"
            >
            <div new-feature class="position-relative">
              <button class="btn btn-glow btn-dark bg-dark">
                {{ 'CODE_EDITOR.CHECK_SAMPLES' | translate }}
                <i data-feather="shopping-cart"></i>
              </button>
            </div>
          </kepcoin-spend-swal>
        } @else {
          <button
            (click)="checkSamples()"
            ngbTooltip="Alt+Z"
            class="btn btn-glow btn-dark bg-dark me-50"
            type="button">
            @if (isCheckSamples) {
              <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
            }
            @if (!isCheckSamples) {
              <span><i data-feather="terminal"></i></span>
            }
            {{ 'CODE_EDITOR.CHECK_SAMPLES' | translate }}
          </button>
        }
        <div class="d-flex">
          @if (!isSelectedLangText()) {
            <button
              ngbTooltip="Alt+X"
              (click)="run()"
              class="btn btn-glow btn-dark bg-dark me-50"
              type="button">
              @if (isRunning) {
                <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
              }
              @if (!isRunning) {
                <span><i data-feather="terminal"></i></span>
              }
              {{ 'CODE_EDITOR.RUN' | translate }}
            </button>
          }

          @if (answerForInputEnabled) {
            <kepcoin-spend-swal
              (success)="answerForInput($event)"
              [customContent]="true"
              [purchaseUrl]="'problems/' + problem?.id + '/answer-for-input/'"
              [requestBody]="{input_data: editorForm.get('input').value}"
              [value]="1"
              >
              <button class="btn btn-glow btn-dark bg-dark me-50" type="button">
                @if (isAnswerForInput) {
                  <span
                    class="spinner-border spinner-border-sm"
                    role="status">
                  </span>
                }
                @if (!isAnswerForInput) {
                  <span>
                    <i data-feather="check-square"></i>
                  </span>
                }
                {{ 'CODE_EDITOR.ANSWER_FOR_INPUT' | translate }}
              </button>
            </kepcoin-spend-swal>
          }

          @if (submitUrl) {
            <button
              ngbTooltip="Alt+Enter"
              (click)="submit()"
              [disabled]="!editorForm.valid"
              class="btn btn-glow btn-dark bg-dark"
              type="submit">
              <i data-feather="send"></i>
              {{ 'CODE_EDITOR.SUBMIT' | translate }}
            </button>
          }
        </div>
      </div>

      <div class="card-footer d-md-none d-block text-end">
        @if (submitUrl) {
          <button
            ngbTooltip="Alt+Enter"
            (click)="submit()"
            [disabled]="!editorForm.valid"
            class="btn btn-glow btn-dark bg-dark"
            type="submit">
            <i data-feather="send"></i>
            {{ 'CODE_EDITOR.SUBMIT' | translate }}
          </button>
        }
      </div>
    </div>
  </ng-scrollbar>
</core-sidebar>

<core-sidebar [hideOnEsc]="true" [name]="checkSamplesResultSidebarName" class="check-samples-result">
  <ng-scrollbar autoWidthDisabled="false">
    <div class="card results-card full-height position-relative" (keydown)="onKeyDown($event)">
      @if (isCheckSamples) {
        <div class="card-body" [style.height.px]="200">
          <spinner [name]="checkSamplesResultSidebarName"></spinner>
        </div>
      } @else {
        <div class="card-header">
          <div class="card-title">
            {{ 'RESULT' | translate }}
          </div>
        </div>
        <hr class="mt-0 mb-0">
        <div class="card-body">
<!--          <ngb-accordion [closeOthers]="false" [destroyOnHide]="false">-->
<!--            @for (result of checkSamplesResult; track result.input){-->
<!--              <ngb-panel [cardClass]="'collapse-margin'" [id]="'result' + $index">-->
<!--                <ng-template ngbPanelTitle>-->
<!--                  <div class="fw-bolder d-flex justify-content-between">-->
<!--                    <span>TC #{{ $index + 1 }}</span>-->
<!--                    <span [class]="{-->
<!--                      'text-success': result.verdict == Verdicts.Accepted,-->
<!--                      'text-danger': result.verdict != Verdicts.Accepted,-->
<!--                    }">{{ result.verdict | verdictShortTitle }}</span>-->
<!--                  </div>-->
<!--                </ng-template>-->
<!--                <ng-template ngbPanelContent>-->
<!--                  @if (result.input) {-->
<!--                    <div class="meta">-->
<!--                      <div class="fw-bold">Input:</div>-->
<!--                      <div>{{ result.input }}</div>-->
<!--                    </div>-->
<!--                  }-->

<!--                  @if (result.answer) {-->
<!--                    <div>-->
<!--                      <div class="fw-bold">Answer:</div>-->
<!--                      <div>{{ result.answer }}</div>-->
<!--                    </div>-->
<!--                  }-->

<!--                  @if (result.output) {-->
<!--                    <div>-->
<!--                      <div class="fw-bold">Output:</div>-->
<!--                      <div>{{ result.output }}</div>-->
<!--                    </div>-->
<!--                  }-->

<!--                  @if (result.error) {-->
<!--                    <div>-->
<!--                      <div class="fw-bold">Error:</div>-->
<!--                      <div><pre>{{ result.error }}</pre></div>-->
<!--                    </div>-->
<!--                  }-->
<!--                </ng-template>-->
<!--              </ngb-panel>-->
<!--            }-->
<!--          </ngb-accordion>-->
        </div>
      }
    </div>
  </ng-scrollbar>
</core-sidebar>

<ng-select-css></ng-select-css>
<toastr-css></toastr-css>
