@if (horizontalMenu) {
  <div class="navbar-header d-xl-block d-none">
    <!-- Navbar brand -->
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/']">
          <span class="brand-logo">
            <img [src]="defaultCoreConfig.app.appLogoImage" alt="brand-logo" height="36" width="48" />
          </span>
          <h2 class="brand-text text-dark mb-0">{{ defaultCoreConfig.app.appTitle }}</h2>
        </a>
      </li>
    </ul>
    <!--/ Navbar brand -->
  </div>
}

<div class="navbar-container d-flex content">
  <div class="bookmark-wrapper d-flex align-items-center">
    <!-- Menu Toggler | Menu icon will be hidden in case of layout without menu -->
    @if (!coreConfig.layout.menu.hidden) {
      <ul class="nav navbar-nav d-xl-none align-items-center">
        <li class="nav-item">
          <a class="nav-link menu-toggle" (click)="toggleSidebar('menu')">
            <kep-icon name="element-11" type="duotone" class="font-large-1"></kep-icon>
          </a>
        </li>
        <li class="nav-item d-lg-none d-md-block d-sm-block">
          <div class="nav-link nav-link-style btn cursor-pointer" (click)="toggleDarkSkin()">
            @if (currentSkin == 'dark'){
              <kep-icon name="sun" type="duotone" class="font-large-1"></kep-icon>
            } @else {
              <kep-icon name="moon" type="duotone" class="font-large-1"></kep-icon>
            }
          </div>
        </li>
      </ul>
    }
    <!--/ Menu Toggler -->

    <!-- Toggle skin -->
    <div class="nav-item d-none d-lg-block">
      <div class="nav-link nav-link-style btn cursor-pointer" (click)="toggleDarkSkin()">
        @if (currentSkin == 'dark'){
          <kep-icon name="sun" type="duotone" class="font-large-1"></kep-icon>
        } @else {
          <kep-icon name="moon" type="duotone" class="font-large-1"></kep-icon>
        }
      </div>
    </div>
    <!--/ Toggle skin -->
  </div>
  <ul class="nav navbar-nav align-items-center ms-auto">
    <li ngbDropdown placement="bottom-left" class="nav-item dropdown dropdown-language mr-lg-0 me-50">
      <div class="nav-link dropdown-toggle cursor-pointer" id="dropdown-flag" ngbDropdownToggle>
        <i class="fi fi-{{ languageOptions[translateService.currentLang].flag }}"></i>
      </div>
      <div ngbDropdownMenu>
        @for (lang of translateService.getLangs(); track lang) {
          <div class="cursor-pointer" ngbDropdownItem (click)="setLanguage(lang)">
            <i class="me-50 fi fi-{{ languageOptions[lang].flag }}"></i> {{ languageOptions[lang].title }}
          </div>
        }
      </div>
    </li>

    @if (!isAuthenticated) {
      <li>
        <div (click)="loginModalOpenForm()" class="cursor-pointer btn" rippleEffect>
          <i data-feather="log-in"></i>
          {{ 'LOGIN' | translate }}
        </div>
      </li>
    }

    @defer (when isAuthenticated) {
    @if (isAuthenticated){
      <app-navbar-daily-tasks></app-navbar-daily-tasks>
    }
  }

  @defer (when isAuthenticated) {
  @if (isAuthenticated){
    <app-navbar-kepcoin></app-navbar-kepcoin>
  }
}

@defer (when isAuthenticated) {
@if (isAuthenticated){
  <app-navbar-notification></app-navbar-notification>
}
}
<!-- User Dropdown -->
@if (isAuthenticated) {
  <li ngbDropdown class="nav-item dropdown-user">
    <a
      class="nav-link dropdown-toggle dropdown-user-link"
      id="dropdown-user"
      ngbDropdownToggle
      id="navbarUserDropdown"
      aria-haspopup="true"
      aria-expanded="false"
      >
      <div class="user-nav d-sm-flex d-none">
        <span class="user-name fw-bolder">{{ currentUser.username }}</span><span class="user-status"></span>
      </div>
      <span class="avatar"
        ><img
        class="round"
        src="{{ currentUser.avatar }}"
        alt="avatar"
        height="40"
        width="40" /><span class="avatar-status-online"></span
      ></span>
    </a>
    <div ngbDropdownMenu aria-labelledby="navbarUserDropdown" class="dropdown-menu dropdown-menu-end">
      <a ngbDropdownItem [routerLink]="['/users', 'user', currentUser?.username]">
        <span [data-feather]="'user'" [class]="'me-50'"></span> {{ 'PROFILE' | translate }}
      </a>
      <a ngbDropdownItem [routerLink]="['/settings']">
        <span [data-feather]="'settings'" [class]="'me-50'"></span> {{ 'Settings' | translate }}
      </a>
      <div class="dropdown-divider"></div>
      <a ngbDropdownItem (click)="logout()"
        ><span [data-feather]="'power'" [class]="'me-50'"></span> {{ 'LOGOUT' | translate }}</a
        >
      </div>
    </li>
  }
  <!--/ User Dropdown -->
</ul>
</div>
