<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center mb-2">
          <i data-feather="user" class="font-medium-3"></i>
          <h4 class="mb-0 ml-75">General Settings</h4>
        </div>
      </div>
    </div>
    <div class="col-12">

      <!-- header media -->
      <div class="media">
        <a href="javascript:void(0);" class="mr-25">
          <img [src]="generalInfo.avatar" class="rounded mr-50" alt="profile image" height="90" width="90" />
        </a>
        <!-- upload and reset button -->
        <div class="media-body mt-75 ml-1">
          <button (click)="file.click()" class="btn btn-sm btn-primary mb-75 mr-75" rippleEffect>
            Upload
          </button>
          <input type="file" #file hidden accept="image/*" (change)="uploadImage($event)" />
          @if (errors?.avatar) {
            <p class="text-danger">{{ errors.avatar[0] }}</p>
          }
        </div>
        <!--/ upload and reset button -->
      </div>
      <!--/ header media -->

      <div class="row mt-2">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Username</label>
            <input
              type="text"
              [(ngModel)]="generalSettings.username"
              class="form-control"
              placeholder="Username"
              [ngModelOptions]="{standalone: true}" />
              @if (errors?.username) {
                <p class="text-danger">{{ errors.username[0] }}</p>
              }
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label>E-mail</label>
              <input
                type="text"
                [(ngModel)]="generalSettings.email"
                class="form-control"
                placeholder="Email"
                [ngModelOptions]="{standalone: true}" />
                @if (errors?.email) {
                  <p class="text-danger">{{ errors.email[0] }}</p>
                }
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>First name</label>
                <input
                  type="text"
                  [(ngModel)]="generalSettings.firstName"
                  class="form-control"
                  placeholder="First name"
                  [ngModelOptions]="{standalone: true}" />
                  @if (errors?.firstName) {
                    <p class="text-danger">{{ errors.firstName[0] }}</p>
                  }
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Last name</label>
                  <input
                    type="text"
                    [(ngModel)]="generalSettings.lastName"
                    class="form-control"
                    placeholder="Last name"
                    [ngModelOptions]="{standalone: true}" />
                    @if (errors?.lastName) {
                      <p class="text-danger">{{ errors.lastName[0] }}</p>
                    }
                  </div>
                </div>

                <div class="media">
                  <img class="ml-1 mt-2" [src]="generalInfo.coverPhoto" alt="cover image" height="100%" width="50%" />
                  <!-- upload and reset button -->
                  <div class="media-body mt-2 ml-1">
                    @if (!canChangeCoverPhoto) {
                      <kepcoin-spend-swal
                        [customContent]="true"
                        [value]="5"
                        [purchaseUrl]="'users/purchase-cover-photo-change/'"
                        (success)="canChangeCoverPhoto=true;"
                        >
                        <button class="btn btn-sm btn-primary mb-75 mr-75" rippleEffect>
                          Edit
                        </button>
                      </kepcoin-spend-swal>
                    }
                    @if (canChangeCoverPhoto) {
                      <div>
                        <button (click)="cover.click()" for="account-upload" class="btn btn-sm btn-primary mb-75 mr-75"
                          rippleEffect>
                          Upload
                        </button>
                        <input type="file" #cover hidden accept="image/*" (change)="uploadCover($event)" />
                        @if (errors?.coverPhoto) {
                          <p class="text-danger">{{ errors.coverPhoto[0] }}</p>
                        }
                      </div>
                    }
                  </div>
                  <!--/ upload and reset button -->
                </div>

                <div class="col-12 mt-2">
                  <button type="submit" class="btn btn-primary mt-2 mr-1" (click)="save()" rippleEffect>Save</button>
                  <button type="reset" class="btn btn-outline-primary mt-2" (click)="reset()" rippleEffect>Reset</button>
                </div>
              </div>
            </div>
          </div>
        </div>
