<div (keyup.enter)="answerCheck(true)">
  <div *ngIf="question.type == 1">
    <h5>
      <mathjax [content]="question.body"></mathjax>
    </h5>
    <br>
    <div class="ml-1 mb-1 custom-control custom-radio" *ngFor="let option of question.options">
      <input type="radio" id="radio-{{ option.id }}" name="singleRadio" [(ngModel)]="singleRadio" value="{{ option.id }}"
        class="custom-control-input" />
      <label class="custom-control-label" for="radio-{{ option.id }}">{{ option.optionMain }}</label>
    </div>
  </div>

  <div *ngIf="question.type == 2">
    <h5>
      <mathjax [content]="question.body"></mathjax>
    </h5>
    <br>
    <div class="ml-1 mb-1 custom-control custom-control-primary custom-checkbox" *ngFor="let option of question.options">
      <input type="checkbox" id="check-{{ option.id }}" [(ngModel)]="option.checked" class="custom-control-input" />
      <label class="custom-control-label" for="check-{{ option.id }}">{{ option.optionMain }}</label>
    </div>
  </div>
  
  <div *ngIf="question.type == 3">
    <h5>
      <mathjax [content]="question.body"></mathjax>
    </h5>
    <br>
    <div class="col-lg-6 col-12 mx-auto">
      <input type="text" [(ngModel)]="input" id="input" class="form-control" />
    </div>
  </div>
  
  <div *ngIf="question.type == 4">
    <h5>
      <mathjax [content]="question.body"></mathjax>
    </h5>
  
    <div class="row">
      <div class="col">
        <ul class="list-group" dragula="basic-list-group-1" [(dragulaModel)]="conformityGroupOne" id="basic-list-group-1">
          <li class="bg-gradient-primary list-group-item draggable" *ngFor="let option of conformityGroupOne">
            <div class="row justify-content-between">
              <div class="pl-1">
                {{ option }}
              </div>
              <div class="pr-1">
                <i class="text-primary" data-feather="arrow-right"></i>
              </div>
            </div>
  
          </li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group" dragula="basic-list-group-2" [(dragulaModel)]="conformityGroupTwo" id="basic-list-group-2">
          <li class="bg-gradient-primary list-group-item draggable" *ngFor="let option of conformityGroupTwo">
            <i class="text-white" data-feather="arrow-left"></i>
            {{ option }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="question.type == 5">
    <h5>
      <mathjax [content]="question.body"></mathjax>
    </h5>
    <br>
    <div class="col-lg-6 col-12 mx-auto">
      <ul class="list-group" dragula="basic-list-group-3" [(dragulaModel)]="orderingList" id="basic-list-group-3">
        <li class="bg-gradient-primary list-group-item draggable" *ngFor="let option of orderingList">
          <div class="row justify-content-between">
            <div class="pl-1">
              {{ option }}
            </div>
            <div class="pr-1">
              <i class="text-primary" data-feather="arrow-right"></i>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="question.type == 6">
    <h5>
      <mathjax [content]="question.body"></mathjax>
    </h5>
    <br>
    <div class="col-lg-6 col-12 mx-auto">
      <div *ngFor="let group of classificationGroups; index as i">
        <li class="list-group-item">
          {{ group.key }}
        </li>
        <ul class="list-group" dragula="basic-list-group-3" [(dragulaModel)]="group.values" id="basic-list-group-{{i}}">
          <li class="bg-gradient-primary list-group-item draggable" *ngFor="let option of group.values">
            <div class="row justify-content-between">
              <div class="pl-1">
                {{ option }}
              </div>
              <div class="pr-1">
                <i class="text-primary" data-feather="arrow-right"></i>
              </div>
            </div>  
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="question.type == 7">
    <h5>
      <mathjax [content]="question.body"></mathjax>
    </h5>
    <br>
    <div style="height: 250px;">
      <ngx-monaco-editor
        [ngModelOptions]="{standalone: true}"
        [options]="{theme: 'vs-light', language: 'python'}"
        [(ngModel)]="code"
        name="code"
        class="mt-1"
        style="height: 100%;"
        ngDefaultControl>
      </ngx-monaco-editor>
    </div>

    <code-editor-modal
      [availableLanguages]="[{'lang': 'py', 'codeTemplate': '# Yechimingizni tekshirib ko`ring'}]">
    </code-editor-modal>
    
  </div>

  <button (click)="answerCheck()" class="mb-2 mt-2 btn btn-gradient-primary">
    <i data-feather="check"></i> {{ 'COURSES.CHECK' | translate }}
  </button>
</div>
