
@import 'bootstrap-extended/include'; // Bootstrap includes
@import 'components/include'; // Components includes

@import 'scss/base/core/mixins/transitions'; // Template custom mixins

// Core
// ------------------------------
// layouts
@import 'scss/base/core/layouts/content';
@import 'scss/base/core/layouts/sidebar';
@import 'scss/base/core/layouts/footer';
// menu
@import 'scss/base/core/menu/navigation';

// Components
// ------------------------------
@import 'components/avatar';
@import 'components/search';
// @import 'components/chart';
@import 'components/bootstrap-social';
@import 'components/demo'; //! Plugins demo styles, remove in real project
@import 'components/customizer'; //! Customizer demo, remove in real project
@import 'components/divider';
@import 'components/timeline';

// Plugins
// ------------------------------
@import 'plugins/ui/breakpoints';
@import 'plugins/forms/select2/select2';
@import 'plugins/tables/datatables';
@import 'plugins/forms/form-number-input'; // ? globally required for cart dropdown
