@import 'styles/kep-imports';

body {
  padding-right: 0 !important
}

pre {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: 1px solid $theme-dark-body-bg !important;
  color: white;
}

@include media-breakpoint-down(sm) {
  .nav-tabs .nav-item {
    width: 100%;
  }
}

.list-group-item:hover {
  background-color: rgba(var(--primary-rgb), 0.05) !important;
}

.fc-list-empty {
  background-color: inherit !important;
}

.nav-tabs {
  margin-bottom: 0 !important;
}

img {
  max-width: 100%;
}

.table-striped tr:nth-of-type(even) {
  background-color: $gray-200;

  @include dark-layout {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
