@import 'styles/kep-imports';

$primary-dark: mix(black, $primary, 30);

.dark-layout {
  --primary: #{$primary-dark};

  .btn-primary {
    background-color: $primary-dark !important;
    border-color: $primary-dark !important;
  }

  .badge.badge-success {
    background-color: mix(black, $green, 30);

    &.badge-glow {
      box-shadow: 0 0 5px mix(black, $green, 30);
    }
  }

  .badge.badge-info {
    background-color: mix(black, $info, 30);
  }

  .badge.badge-blue {
    background-color: mix(black, $blue, 30);
  }
}
