@import 'styles/kep-imports';

$colors: (
  'secondary': $secondary,
  'primary': $primary,
  'success': $green,
  'info': $info,
  'warning': $warning,
  'danger': $red,
  'yellow': $yellow,
  'blue': $blue,
  'brown': $brown,
  'dark': $dark,
);

.dark-layout {
  @each $color_name, $color in $colors {
    $dark-color: mix(black, $color, 30);

    @if ($color_name != 'white' and $color_name != 'dark' and $color_name != 'light' and $color_name != 'black') {
      .text-#{$color_name} {
        color: mix(black, $color, 30) !important;
      }

      .bg-gradient-#{$color_name} {
        background: linear-gradient(to right, mix(black, $color, 30), $color) !important;
      }

      .bg-light-#{$color_name} {
        background: rgba($color, 0.12) !important;
      }
    }

    .btn-#{$color_name} {
      background-color: rgba($dark-color, 0.75) !important;
      border-color: $dark-color !important;
    }

    .badge.badge-#{$color_name} {
      background-color: $dark-color;

      &.badge-glow {
        box-shadow: 0 0 5px $dark-color;
      }
    }

    .bg-#{$color_name} {
      background-color: $dark-color !important;

      &.badge-glow {
        box-shadow: 0 0 5px $dark-color !important;
      }
    }

    --#{$color_name}: #{$dark-color};
  }
}
