@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';


::ng-deep {
  .post-detail-page {
    background: #fff !important;

    .post-detail-page-top path {
      fill: #fff;
    }
  }

  .post-detail-page.dark-layout {
    background: #161d31 !important;

    .post-detail-page-top {
      background: linear-gradient(to right, #3f4c6b, #606c88);

      path {
        fill: #161d31;
      }
    }

    .post-header {
      .post-title {
        color: #fff !important;
      }
    }

    .post-content {
      p {
        color: #fff !important;
      }
    }

  }
}


.post-detail-page-top {
  position: absolute;
  height: 650px;
  margin-left: -2rem;
  width: calc(100% + 2rem);
  top: -80px;
  background: linear-gradient(to right, #eef2f3, #8e9eab);

  &>svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
  }
}

@include media-breakpoint-down(lg) {
  .post-detail-page-top {
    width: calc(100% + 1.2rem);
  }
}

.post-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1280px;
  margin: auto;
  align-items: center;
  padding: 0 10rem;
  padding-top: 5rem;

  .post-title {
    z-index: 1;
    color: #2a2a2a;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    text-transform: uppercase;
    margin-right: 1rem;
  }

  .post-image {
    z-index: 1;
    height: 200px !important;
    object-fit: contain;
    height: 100%;
    text-align: left;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .post-meta-info {
    z-index: 1;
    width: 100%;
    margin-top: 2rem;

    .media {
      border-bottom: none !important;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 12px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .post-header {
    grid-template-columns: 1fr 1fr;
    padding: 0 4rem;

    .post-title {
      font-size: 2rem;
    }
  }

  .post-content {
    margin-top: 18rem;
  }
}

@include media-breakpoint-down(sm) {
  .post-header {
    grid-template-columns: 1fr;
    padding: 0 2rem;
    margin-left: 3rem;

    .post-title {
      margin-bottom: 2rem;
      margin-top: 2rem;
      font-size: 1.8rem;
      margin-right: 0;
    }

    .post-image {
      height: 150px !important;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
}

@include media-breakpoint-down(xs) {
  .post-header {
    margin-left: 0rem;

    .post-image {
      height: 100px !important;
    }

    .post-meta-info {
      zoom: 90%;
    }
  }
}

::ng-deep .post-content {
  z-index: 1;
  padding: 14rem 20rem 0rem 20rem;

  p {
    color: #404041;
    font-size: 15px;
    line-height: 25px;
  }

  img {
    max-width: 100%;
    border-radius: 8px;
  }

  .full-width {
    width: 100%;
  }
}

.post-info {
  max-width: 1152px;
  margin: 0 auto;
  padding: 48px;
  padding-top: 15px;
}

@media (max-width: 991px) {
  .post-content,
  .post-info {
    padding: 24px 26px;
  }

  .post-content {
    padding-bottom: 0;
  }
}