<div class="content-wrapper p-0">
  <div class="content-body">
    <!-- content-header component -->

    <section>
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12" [@fadeInLeft]="startAnimationState">
          <div class="card bg-arena">
            <div class="card-header text-center">
              <div class="card-title">
                <i data-feather="shield" class="font-large-1 mr-25"></i>
                {{ arena.title }}
              </div>
            </div>

            <div class="card-body text-center">
              <div ngbTooltip="{{ 'Time' | translate }}">
                <i data-feather="clock" class="font-medium-3"></i>
                <span class="font-large-1">
                  {{ arena.timeSeconds }}
                </span>
              </div>

              <div ngbTooltip="{{ 'Questions' | translate }}">
                <i data-feather="activity" class="font-medium-3"></i>
                <span class="font-large-1">
                  {{ arena.questionsCount }}
                </span>
              </div>
          
            </div>

            <div class="card-footer text-center" *ngIf="currentUser && arena.status != 1">
              <span *ngIf="arena.isRegistrated" class="badge badge-warning">
                {{ 'Registrated' | translate }}
              </span>
              <button *ngIf="!arena.isRegistrated" class="btn btn-sm btn-relief-warning" (click)="register()">
                {{ 'Registration' | translate }}
              </button>
            </div>

          </div>

          <div class="card bg-arena">
            <div class="card-header text-center">
              <div class="card-title">
                <i data-feather="edit-3" class="font-large-1 mr-25"></i>
                {{ 'Chapters' | translate }}
              </div>
            </div>

            <div class="card-body text-center">
              <img
                *ngFor="let chapter of arena.chapters"
                [src]="chapter.icon"
                height="48"
                alt="chapter-icon"
                class="mr-50"
                [ngbTooltip]="chapter.title"
              >
            </div>
          </div>
        </div>
        
        <div class="col-lg-6 col-12 order-lg-2 order-3" [@fadeIn]="startAnimationState">
          <div class="card bg-arena" *ngIf="arena.status == 1 && top3.length > 0">
            <div class="card-body">
              <div class="row text-center">
                <div class="col-4 mt-2" [@bounce2]="startAnimationState">
                  <img width="90" height="90" class="mb-2" src="assets/images/icons/arena-second-place.png" alt="first-place">
                  <arena-player-statistics [statistics]="top3[1]" [withOpponents]="false"></arena-player-statistics>
                </div>
                <div class="col-4" [@bounce1]="startAnimationState">
                  <img width="90" height="90" class="mb-2" src="assets/images/icons/arena-first-place.png" alt="first-place">
                  <arena-player-statistics [statistics]="top3[0]" [withOpponents]="false"></arena-player-statistics>
                </div>
                <div class="col-4 mt-4" [@bounce3]="startAnimationState">
                  <img width="90" height="90" class="mb-2" src="assets/images/icons/arena-third-place.png" alt="first-place">
                  <arena-player-statistics [statistics]="top3[2]" [withOpponents]="false"></arena-player-statistics>
                </div>
              </div>
            </div>
          </div>

          <ngx-skeleton-loader [count]="1" class="d-none"></ngx-skeleton-loader>

          <div *ngIf="arena.isRegistrated && arena.status == 0" class="text-center">
            <div *ngIf="remainingTime && remainingTime <= 1000*60*2; else elseBlock">
              <ngb-alert [type]="'info'" [dismissible]="false">
                <h4 class="alert-heading animate">
                  {{ 'ArenaDrawOver' | translate }}
                </h4>
              </ngb-alert>           
            </div>
            <ng-template #elseBlock>
              <div *ngIf="arena.pause">
                <ngb-alert [type]="'warning'" [dismissible]="false">
                  <h4 class="alert-heading animate">
                    {{ 'ArenaPauseText' | translate }}
                    <button (click)="arenaStart()" class="ml-50 btn btn-sm btn-relief-warning">{{ 'Start' | translate }}</button>
                  </h4>
                </ngb-alert>
              </div>
              <div *ngIf="!arena.pause">
                <ngb-alert [type]="'success'" [dismissible]="false">
                  <h4 class="alert-heading animate">
                    {{ 'ArenaStartText' | translate }}
                    <button (click)="arenaPause()" class="ml-50 btn btn-sm btn-relief-success">{{ 'Pause' | translate }}</button>
                  </h4>
                </ngb-alert>
              </div>  
            </ng-template>
          </div>

          <div class="card">
            <div class="table-responsive arena-table">
              <table class="table-results table table-striped">
                <thead>
                  <tr class="bg-arena">
                    <th class="text-dark">#</th>
                    <th class="text-dark">{{ 'User' | translate }}</th>
                    <th class="text-dark text-right">{{ 'Results' | translate }}</th>
                    <th class="text-dark text-center">{{ 'Points' | translate }}</th>
                  </tr>
                </thead>

                <tbody>
                  <tr style="cursor: pointer;" (click)="loadArenaPlayerStatistics(player.username)"
                      *ngFor="let player of arenaPlayers; index as i" [ngClass]="{
                    'bg-light-warning': player.username == currentUser?.username
                  }">
                    <td class="text-dark">{{ (pageNumber-1)*10+i+1 }}</td>
                    <td>
                      <challenges-user-view [user]="player" [withRating]="true"></challenges-user-view>
                    </td>
                    <td class="text-right player-results">
                      <span *ngFor="let result of player.results" [ngClass]="{
                        'text-warning': result == 3,
                        'text-success': result == 2,
                        'text-secondary': result == 1,
                        'text-danger': result == 0
                      }">
                        {{ result }}
                      </span>
                    </td>
                    <td class="text-center">
                      <span class="badge-glow badge-warning badge">
                        <img *ngIf="player.streak && arena.status == 0" src="assets/images/icons/fire_red.png" alt="streak" width="17" height="17">
                        {{ player.points }}
                      </span>
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>

          </div>

          <pagination
            *ngIf="total > 0"
            [collectionSize]="total"
            [(page)]="pageNumber"
            [pageSize]="10"
            [maxSize]="5"
            [rotate]="true"
            [color]="'warning'"
            (pageChange)="updateArenaPlayers()">
          </pagination>

          <div class="col-12">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-12" *ngFor="let challenge of arenaChallenges">
                <div class="table-responsive challenge-results mb-1">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                          <challenges-user-view [user]="challenge.playerFirst"></challenges-user-view>
                        </td>
                        <td class="text-right">
                          <span class="badge badge-glow" [ngClass]="{
                              'badge-success': challenge.playerFirst.result > challenge.playerSecond.result,
                              'badge-danger': challenge.playerFirst.result < challenge.playerSecond.result,
                              'badge-secondary': challenge.playerFirst.result == challenge.playerSecond.result
                            }">
                            {{ challenge.playerFirst.result }}
                          </span>
                        </td>            
                      </tr>
                
                      <tr>
                        <td>
                          <challenges-user-view [user]="challenge.playerSecond"></challenges-user-view>
                        </td>
                
                        <td class="text-right">
                          <span class="badge badge-glow" [ngClass]="{
                              'badge-danger': challenge.playerFirst.result > challenge.playerSecond.result,
                              'badge-success': challenge.playerFirst.result < challenge.playerSecond.result,
                              'badge-secondary': challenge.playerFirst.result == challenge.playerSecond.result
                            }">
                            {{ challenge.playerSecond.result }}
                          </span>
                        </td>            
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>    
            </div>
          </div>

          <div class="mb-2">
            <pagination
              *ngIf="total > 0"
              [collectionSize]="total"
              [(page)]="pageNumber"
              [pageSize]="10"
              [maxSize]="5"
              [rotate]="true"
              [color]="'warning'"
              (pageChange)="updateArenaPlayers()">
            </pagination>
          </div>

        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 order-lg-3 order-2" [@fadeInRight]="startAnimationState">
          <div class="card bg-arena">
            <div class="card-body">
              <div class="text-center" *ngIf="arena.status == 1">
                <h4 class="mb-2">
                  {{ 'TournamentFinish' | translate }}
                </h4>

                <div ngbTooltip="{{ 'AverageRating' | translate }}">
                  <i data-feather="bar-chart-2" class="font-medium-3"></i>
                  <span class="font-large-1">
                    {{ arenaStatistics.averageRating }}
                  </span>
                </div>
  
                <div ngbTooltip="{{ 'Challenges' | translate }}">
                  <i data-feather="zap" class="font-medium-3"></i>
                  <span class="font-large-1">
                    {{ arenaStatistics.challenges }}
                  </span>  
                </div>
              </div>
              <ngx-countdown *ngIf="arena.status != 1" [time]="leftTime" [render]="render" format="HH:mm:ss" (finish)="refreshPage()">
                <ng-template #render let-data>
                  <div class="d-flex justify-content-between">
                    <div class="countdown text-center">
                      <h5 class="clock-val">{{ data.fragments[0] }}</h5>
                      <h5 class="clock-text">{{ 'HOUR' | translate }}</h5>
                    </div>

                    <div class="countdown text-center">
                      <h5 class="clock-val">{{ data.fragments[1] }}</h5>
                      <h5 class="clock-text">{{ 'MINUTE' | translate }}</h5>
                    </div>

                    <div class="countdown text-center">
                      <h5 class="clock-val">{{ data.fragments[2] }}</h5>
                      <h5 class="clock-text">{{ 'SECOND' | translate }}</h5>
                    </div>
                  </div>
                </ng-template>
              </ngx-countdown>
            </div>
          </div>

          <div *ngIf="arenaPlayerStatistics" class="text-center">
            <arena-player-statistics [statistics]="arenaPlayerStatistics"></arena-player-statistics>
          </div>

        </div>

      </div>
    </section>
  </div>
</div>
