<div class="card bg-tournament" [@fadeInLeftOnEnter]>
  <div class="card-header justify-content-start">
    <div class="icon d-sm-block d-none">
      <img src="assets/images/icons/tournament.png" alt="tournament-icon" width="90" height="90">
    </div>
    <div class="card-title">
      <h3 class="text-white">
        {{ tournament.title }}
      </h3>
      <p class="text-white">{{ tournament.startTime | localizedDate:'MMM dd, yyyy'}}</p>
      <button *ngIf="!tournament.isRegistered && canRegistration" (click)="registration()" class="btn btn-sm btn-registration">
        <i data-feather="user"></i> {{ 'Registration' | translate }}
      </button>
      <span *ngIf="tournament.isRegistered" class="badge badge-glow badge-dark">
        <i class="text-success" data-feather="check-circle"></i>
        {{ 'Registrated' | translate }}
      </span>
    </div>
  </div>
</div>

<ul
  [(activeId)]="activeId"
  (navChange)="tabChange($event)"
  [@fadeInLeftOnEnter]
  ngbNav
  #navFilled="ngbNav"
  class="nav-tabs nav-fill nav-tournament">
  <li ngbNavItem [ngbNavItem]="1">
    <a ngbNavLink>{{ 'Info' | translate }}</a>
    <ng-template ngbNavContent>
      <tournament-info [tournament]="tournament"></tournament-info>
    </ng-template>
  </li>
  <li ngbNavItem [ngbNavItem]="2">
    <a ngbNavLink>{{ 'Duels' | translate }}</a>
    <ng-template ngbNavContent>
      <tournament-duels [tournament]="tournament"></tournament-duels>
    </ng-template>
  </li>
  <li ngbNavItem [ngbNavItem]="3">
    <a ngbNavLink>{{ 'Results' | translate }}</a>
    <ng-template ngbNavContent>
      <tournament-bracket [tournament]="tournament"></tournament-bracket>
    </ng-template>
  </li>
  <li ngbNavItem [ngbNavItem]="4">
    <a ngbNavLink>{{ 'Schedule' | translate }}</a>
    <ng-template ngbNavContent>
      <tournament-schedule [tournament]="tournament"></tournament-schedule>
    </ng-template>
  </li>
</ul>
<div [@fadeInUpOnEnter] [ngbNavOutlet]="navFilled" class="mt-2"></div>
