<kep-card [@fadeInLeftOnEnter]>
  <div class="card-header p-2 justify-content-start">
    <div class="icon d-sm-block d-none">
      <img src="assets/images/icons/tournament.png" alt="tournament-icon" width="90" height="90">
    </div>
    <div class="card-title">
      <h3 class="text-white">
        {{ tournament.title }}
      </h3>
      <p class="text-white">{{ tournament.startTime | localizedDate:'MMM dd, yyyy' }}</p>
      @if (!tournament.isRegistered && canRegistration) {
        <button (click)="registration()" class="btn btn-sm btn-primary">
          <i data-feather="user"></i> {{ 'Registration' | translate }}
        </button>
      }
      @if (tournament.isRegistered) {
        <span class="badge bg-primary font-small-2">
          <i class="text-dark-emphasis" data-feather="check-circle"></i>
          {{ 'Registrated' | translate }}
        </span>
      }
    </div>
  </div>
</kep-card>

<ul
  [(activeId)]="activeId"
  (navChange)="tabChange($event)"
  [@fadeInLeftOnEnter]
  ngbNav
  #navFilled="ngbNav"
  class="nav-tabs nav-style-1 nav-fill">
  <li ngbNavItem [ngbNavItem]="1">
    <a ngbNavLink>{{ 'Info' | translate }}</a>
    <ng-template ngbNavContent>
      <tournament-info [tournament]="tournament"></tournament-info>
    </ng-template>
  </li>
  <li ngbNavItem [ngbNavItem]="2">
    <a ngbNavLink>{{ 'Duels' | translate }}</a>
    <ng-template ngbNavContent>
      <tournament-duels [tournament]="tournament"></tournament-duels>
    </ng-template>
  </li>
  <li ngbNavItem [ngbNavItem]="3">
    <a ngbNavLink>{{ 'Results' | translate }}</a>
    <ng-template ngbNavContent>
      <tournament-bracket [tournament]="tournament"></tournament-bracket>
    </ng-template>
  </li>
  <li ngbNavItem [ngbNavItem]="4">
    <a ngbNavLink>{{ 'Schedule' | translate }}</a>
    <ng-template ngbNavContent>
      <tournament-schedule [tournament]="tournament"></tournament-schedule>
    </ng-template>
  </li>
</ul>
<div [@fadeInUpOnEnter] [ngbNavOutlet]="navFilled" class="mt-2"></div>
