<ngb-pagination
  [collectionSize]="collectionSize"
  [(page)]="page"
  [pageSize]="pageSize"
  [maxSize]="maxSize"
  (pageChange)="change($event)"
  class="d-flex justify-content-center pagination-{{ color }} mt-2">
<ng-template ngbPaginationPrevious>
  <span
    [data-feather]="'chevron-left'"
    [size]="18"
    [class]="'font-weight-bolder'">
  </span>
</ng-template>
<ng-template ngbPaginationNext>
  <span
    [data-feather]="'chevron-right'"
    [size]="18"
    [class]="'font-weight-bolder'">
  </span>
</ng-template>
</ngb-pagination>
