<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="mb-1">
          <label for="accountTextarea">Bio</label>
          <quill-editor class="full-width" [(ngModel)]="userInfo.bio">
            <div quill-editor-toolbar>
              <span class="ql-formats">
                <button class="ql-bold" [title]="'Bold'"></button>
                <button class="ql-italic" [title]="'italic'"></button>
                <button class="ql-underline" [title]="'underline'"></button>
              </span>
              <span class="ql-formats">
                <select class="ql-align" [title]="'Alignment'">
                  <option selected></option>
                  <option value="center"></option>
                  <option value="right"></option>
                  <option value="justify"></option>
                </select>
              </span>
              <span class="ql-formats">
                <button class="ql-list" value="ordered" type="button"></button>
              </span>
              <span class="ql-formats">
                <button class="ql-link" value="ordered" type="button"></button>
              </span>
              <span class="ql-formats">
                <button class="ql-formula" value="ordered" type="button"></button>
                <button class="ql-code-block" value="ordered" type="button"></button>
              </span>
              <span class="ql-formats">
                <button class="ql-clean" value="ordered" type="button"></button>
              </span>
            </div>

          </quill-editor>

          @if (errors?.bio) {
            <p class="text-danger">{{ errors.bio[0] }}</p>
          }
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="mb-1">
          <label for="account-birth-date">Birth date</label>
          <div class="full-width">
            <p-calendar (onSelect)="onDateChange($event)" [styleClass]="'full-width'" appendTo="body" [(ngModel)]="birthDate"></p-calendar>
          </div>
          @if (errors?.dateOfBirth) {
            <p class="text-danger">{{ errors.dateOfBirth[0] }}</p>
          }
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="mb-1">
          <label for="account-website">Website</label>
          <input
            type="text"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="userInfo.website"
            class="form-control"
            name="website"
            id="account-website"/>
            @if (errors?.website) {
              <p class="text-danger">{{ errors.website[0] }}</p>
            }
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="mb-1">
            <label for="user-country">Country</label>
            <ng-select
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="userInfo.country"
              appendTo="body">
              @for (country of countries; track country) {
                <ng-option [value]="country.id.toLowerCase()">
                  <span class="fi fi-{{ country.id.toLowerCase() }}"></span>
                  {{ country.name }}
                </ng-option>
              }
            </ng-select>

            @if (errors?.country) {
              <p class="text-danger">{{ errors.country[0] }}</p>
            }
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="mb-1">
            <label for="user-region">Region</label>
            <input
              type="text"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="userInfo.region"
              class="form-control"
              name="user-region"
              id="user-region"/>
              @if (errors?.region) {
                <p class="text-danger">{{ errors.region[0] }}</p>
              }
            </div>
          </div>

          <div class="col-12">
            <button (click)="save()" type="submit" class="btn btn-primary mt-1 me-1" rippleEffect>Save</button>
            <button (click)="reset()" type="reset" class="btn btn-outline-secondary mt-1" rippleEffect>Reset</button>
          </div>
        </div>
      </div>
    </div>

    <quill-css></quill-css>
    <ng-select-css></ng-select-css>
