<div class="form-group">
  <div *ngIf="currentUser" class="custom-control custom-checkbox">
    <input
      (change)="loadHackAttempts()"
      [(ngModel)]="myAttempts"
      [ngModelOptions]="{standalone: true}"
      class="custom-control-input"
      id="myAttempts"
      type="checkbox"/>
    <label class="custom-control-label" for="myAttempts">{{ 'MY_ATTEMPTS' | translate }}</label>
  </div>
</div>

<hack-attempts-table [hackAttempts]="hackAttempts"></hack-attempts-table>

<pagination
  (pageChange)="loadHackAttempts()"
  *ngIf="hackAttempts.length > 0"
  [(page)]="currentPage"
  [collectionSize]="totalAttemptsCount"
  [maxSize]="5"
  [pageSize]="10">
</pagination>
