<div class="col-12">
  <div *ngIf="challenge?.status == status.already">
    <div class="row">
      <div class="col-12 mb-2">
        <challenge-results-card [challenge]="challenge"></challenge-results-card>
      </div>

      <div class="col-lg-9 col-md-9 col-sm-12">
        <div class="card">

          <div class="card-body">
            <div *ngIf="question.type == 1" (keyup.enter)="checkAnswer()">
              <h5 class="pl-1 d-flex">
                {{ challenge.nextQuestion.number }}.
                <span class="pl-50 question-body">
                  <mathjax [content]="question.body"></mathjax>
                </span>
              </h5>
              <br>
              <div
                class="ml-1 mb-1 custom-control custom-radio"
                *ngFor="let option of question.options; index as i">
                <input
                  type="radio"
                  id="radio-{{ i }}"
                  name="selectedOption"
                  [(ngModel)]="singleRadio"
                  [value]="option.id"
                  class="custom-control-input" />
                <label class="custom-control-label" for="radio-{{ i }}">{{ option.option }}</label>
              </div>
            </div>
    
            <div *ngIf="question.type == 2" (keyup.enter)="checkAnswer()">
              <h5 class="pl-1 d-flex">
                {{ challenge.nextQuestion.number }}.
                <span class="pl-50 question-body">
                  <mathjax [content]="question.body"></mathjax>
                </span>
              </h5>
              <br>
              <div
                class="ml-1 mb-1 custom-control custom-control-primary custom-checkbox"
                *ngFor="let option of question.options; index as i">
                <input
                  type="checkbox"
                  id="check-{{ i }}"
                  [(ngModel)]="option.selected"
                  class="custom-control-input" />
                <label class="custom-control-label" for="check-{{ i }}">{{ option.option }}</label>
              </div>
            </div>
    
            <div *ngIf="question.type == 3" (keyup.enter)="checkAnswer()">
              <h5 class="pl-1 d-flex">
                {{ challenge.nextQuestion.number }}.
                <span class="pl-50 question-body">
                  <mathjax [content]="question.body"></mathjax>
                </span>
              </h5>
              <br>
              <div class="col-lg-6 col-12 mx-auto">
                <input type="text" [(ngModel)]="input" id="input" class="form-control" />
              </div>
            </div>
    
            <div *ngIf="question.type == 4" (keyup.enter)="checkAnswer()">
              <h5 class="pl-1 d-flex">
                {{ challenge.nextQuestion.number }}.
                <span class="pl-50 question-body">
                  <mathjax [content]="question.body"></mathjax>
                </span>
              </h5>
            
              <div class="row">
                <div class="col">
                  <ul class="list-group" dragula="basic-list-group-1" [(dragulaModel)]="conformityGroupOne" id="basic-list-group-1">
                    <li class="bg-gradient-primary list-group-item draggable" *ngFor="let option of conformityGroupOne">
                      <div class="row justify-content-between">
                        <div class="pl-1">
                          {{ option }}
                        </div>
                        <div class="pr-1">
                          <i class="text-primary" data-feather="arrow-right"></i>
                        </div>
                      </div>
            
                    </li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="list-group" dragula="basic-list-group-2" [(dragulaModel)]="conformityGroupTwo" id="basic-list-group-2">
                    <li class="bg-gradient-primary list-group-item draggable" *ngFor="let option of conformityGroupTwo">
                      <i class="text-white" data-feather="arrow-left"></i>
                      {{ option }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div *ngIf="question.type == 5" (keyup.enter)="checkAnswer()">
              <h5 class="pl-1 d-flex">
                {{ challenge.nextQuestion.number }}.
                <span class="pl-50 question-body">
                  <mathjax [content]="question.body"></mathjax>
                </span>
              </h5>
              <br>
              <div class="col-lg-6 col-12 mx-auto">
                <ul class="list-group" dragula="basic-list-group-3" [(dragulaModel)]="orderingList" id="basic-list-group-3">
                  <li class="bg-gradient-primary list-group-item draggable" *ngFor="let option of orderingList">
                    <div class="row justify-content-between">
                      <div class="pl-1">
                        {{ option }}
                      </div>
                      <div class="pr-1">
                        <i class="text-primary" data-feather="arrow-right"></i>
                      </div>
                    </div>
          
                  </li>
                </ul>
              </div>
            </div>

            <div *ngIf="question.type == 6" (keyup.enter)="checkAnswer()">
              <h5 class="pl-1 d-flex">
                {{ challenge.nextQuestion.number }}.
                <span class="pl-50 question-body">
                  <mathjax [content]="question.body"></mathjax>
                </span>
              </h5>
              <br>
              <div class="col-lg-6 col-12 mx-auto">
                <div *ngFor="let group of classificationGroups; index as i">
                  <li class="list-group-item">
                    {{ group.key }}
                  </li>
                  <ul class="list-group" dragula="basic-list-group-3" [(dragulaModel)]="group.values" id="basic-list-group-{{i}}">
                    <li class="bg-gradient-primary list-group-item draggable" *ngFor="let option of group.values">
                      <div class="row justify-content-between">
                        <div class="pl-1">
                          {{ option }}
                        </div>
                        <div class="pr-1">
                          <i class="text-primary" data-feather="arrow-right"></i>
                        </div>
                      </div>  
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div *ngIf="question.type == 7">
              <h5 class="pl-1 d-flex">
                {{ challenge.nextQuestion.number }}.
                <span class="pl-50 question-body">
                  <mathjax [content]="question.body"></mathjax>
                </span>
              </h5>
              <br>
              <div style="height: 250px;">
                <ngx-monaco-editor
                  [ngModelOptions]="{standalone: true}"
                  [options]="editorOptions"
                  [(ngModel)]="input"
                  name="code"
                  class="mt-1"
                  style="height: 100%; width: 100%;"
                  ngDefaultControl>
                </ngx-monaco-editor>
              </div>          
            </div>
          </div>

          <div class="card-footer text-right">
            <button type="submit" class="btn btn-gradient-primary" (click)="counter.pause();checkAnswer()">
              <i data-feather="check"></i>
              {{ 'Check' | translate }}
            </button>
          </div>

        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card countdown bg-gradient-chapter-{{ challenge?.nextQuestion.question.chapterId }}">
          <div class="card-body">
            <ngx-countdown
              #counter
              [time]="challenge.timeSeconds*1000"
              [render]="render"
              format="ss"
              (finish)="checkAnswer()"
            >
              <ng-template #render let-data>
                <div class="d-flex justify-content-center">          
                  <div class="text-center">
                    <h5 class="clock-val mb-50 text-white">{{ data.fragments[0] }}</h5>
                    <h5 class="text-white clock-text">{{ 'SECOND' | translate }}</h5>
                  </div>
                </div>    
              </ng-template>
            </ngx-countdown>
          </div>          
        </div>
      </div>

    </div>
  </div>
</div>

<swal
  #startSwal
  [showConfirmButton]="false"
  [showClass]="{ popup: 'animate__animated animate__fadeIn' }">  
  <div *swalPortal>
    <div class="mb-2 d-flex justify-content-center">
      <div class="text-center">
        <div class="avatar avatar-lg bg-light-primary badge-glow">
          <div class="avatar-content" ngbTooltip="{{ 'Challenges' | translate }}">
            <i class="font-medium-3" data-feather="zap"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-2 mb-2 d-flex justify-content-center">
      <h3 class="text-center">
        {{ 'Challenge' | translate }}
      </h3>  
    </div>

    <div class="mt-1 mb-2 d-flex justify-content-center">
      <div class="text-center">
        <span ngbTooltip="{{ 'Time' | translate }}" class="badge mr-25 badge-glow badge-primary">
          <i data-feather="clock"></i>
          {{ challenge.timeSeconds }}
        </span>
        <span ngbTooltip="{{ 'Questions' | translate }}" class="badge badge-glow badge-primary">
          <i data-feather="activity"></i>
          {{ challenge.questionsCount }}
        </span>
      </div>
    </div>

    <div class="mt-2 mb-2 d-flex justify-content-between">
      <div class="text-center">
        <challenges-user-view [user]="challenge.playerFirst"></challenges-user-view>
        <span class="ml-1 mt-25 badge badge-light-{{ challenge.playerFirst.rankTitle | challengesRankColor }}">
          {{ challenge.playerFirst.rating }}
        </span>
      </div>
      <div class="text-center">
        <challenges-user-view [user]="challenge.playerSecond"></challenges-user-view>
        <span class="ml-2 mt-25 badge badge-light-{{ challenge.playerSecond.rankTitle | challengesRankColor }}">
          {{ challenge.playerSecond.rating }}
        </span>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button class="btn btn-relief-success" (click)="startSwal.dismiss()">
        {{ 'Start' | translate }}
      </button>    
    </div>
  </div>
</swal>


<swal
  #finishSwal
  [showConfirmButton]="false">  
  <div *swalPortal>
    <div class="mb-2 d-flex justify-content-center">
      <div class="text-center">
        <div class="avatar avatar-lg bg-light-primary badge-glow">
          <div class="avatar-content" ngbTooltip="{{ 'Challenges' | translate }}">
            <i class="font-medium-3" data-feather="zap"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-2 mb-2 d-flex justify-content-center">
      <h3 class="text-center">
        {{ 'Challenge' | translate }}
      </h3>  
    </div>

    <div class="mt-1 mb-2 d-flex justify-content-center">
      <div class="text-center">
        <span ngbTooltip="{{ 'Time' | translate }}" class="badge mr-25 badge-glow badge-primary">
          <i data-feather="clock"></i>
          {{ challenge.timeSeconds }}
        </span>
        <span ngbTooltip="{{ 'Questions' | translate }}" class="badge badge-glow badge-primary">
          <i data-feather="activity"></i>
          {{ challenge.questionsCount }}
        </span>
      </div>
    </div>

    <div class="mt-2 mb-2 d-flex justify-content-between">
      <div class="text-center">
        <div class="text-center">
          <challenges-user-view [user]="challenge.playerFirst"></challenges-user-view>
          <span class="ml-1 mr-25 mt-2 badge badge-glow badge-{{ challenge.playerFirst.newRankTitle | challengesRankColor }}">
            {{ challenge.playerFirst.newRating }}
          </span>
          <span class="badge badge-glow mb-1" [ngClass]="{
            'badge-success': challenge.playerFirst.delta > 0,
            'badge-danger': challenge.playerFirst.delta < 0,
            'badge-secondary': challenge.playerFirst.delta == 0
          }">
            <i [data-feather]="'trending-up'"></i>
            {{ challenge.playerFirst.delta }}
          </span>
        </div>

        <div *ngFor="let result of challenge.playerFirst.results" [ngSwitch]="result">
          <i *ngSwitchCase="-1" class="text-warning" data-feather="minus"></i>
          <i *ngSwitchCase="0" class="text-danger" data-feather="x"></i>
          <i *ngSwitchCase="1" class="text-success" data-feather="check"></i>
        </div>

        <div class="text-center mt-1">
          <span class="badge badge-result badge-glow" [ngClass]="{
            'badge-danger': challenge.playerFirst.result < challenge.playerSecond.result,
            'badge-success': challenge.playerFirst.result > challenge.playerSecond.result,
            'badge-secondary': challenge.playerFirst.result == challenge.playerSecond.result
          }">
            {{ challenge.playerFirst.result }}
          </span>
        </div>
      </div>
      <div class="text-center">
        <div class="text-center">
          <challenges-user-view [user]="challenge.playerSecond"></challenges-user-view>
          <span class="ml-2 mr-25 mt-2 badge badge-glow badge-{{ challenge.playerSecond.newRankTitle | challengesRankColor }}">
            {{ challenge.playerSecond.newRating }}
          </span>
          <span class="badge badge-glow mb-1" [ngClass]="{
            'badge-success': challenge.playerSecond.delta > 0,
            'badge-danger': challenge.playerSecond.delta < 0,
            'badge-secondary': challenge.playerSecond.delta == 0
          }">
            <i [data-feather]="'trending-up'"></i>
            {{ challenge.playerSecond.delta }}
          </span>
        </div>

        <div *ngFor="let result of challenge.playerSecond.results" [ngSwitch]="result">
          <i *ngSwitchCase="-1" class="text-warning" data-feather="minus"></i>
          <i *ngSwitchCase="0" class="text-danger" data-feather="x"></i>
          <i *ngSwitchCase="1" class="text-success" data-feather="check"></i>
        </div>

        <div class="text-center mt-1">
          <span class="badge badge-result badge-glow" [ngClass]="{
            'badge-danger': challenge.playerFirst.result > challenge.playerSecond.result,
            'badge-success': challenge.playerFirst.result < challenge.playerSecond.result,
            'badge-secondary': challenge.playerFirst.result == challenge.playerSecond.result
          }">
            {{ challenge.playerSecond.result }}
          </span>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button class="btn btn-relief-info" (click)="finishSwal.dismiss()">
        {{ 'OK' | translate }}
      </button>    
    </div>
  </div>
</swal>

<sweet-alert-css></sweet-alert-css>

<audio
  #successAudio
  src="../../../../../assets/audio/success.mp3">
</audio>

<audio
  #wrongAudio
  src="../../../../../assets/audio/wrong.mp3">
</audio>
