<div class="row kepcoin-page-top">
  <div class="mb-3 mt-2 col-lg-10 col-12 offset-xl-2 offset-lg-1 offset-0">
    <h1>
      {{ 'YouHave' | translate }} <kepcoin [marginRight]="0.3" [imgSize]="30" [value]="currentUser?.kepcoin"></kepcoin>
    </h1>
  </div>
  <div class="col-xl-4 offset-xl-2 col-lg-5 offset-lg-1 col-md-6 col-12 offset-0">
    <div class="card bg-kepcoin">
      <div class="card-header">
        <div class="card-title">
          <i data-feather="cloud-snow"></i>
          {{ 'StreakFreeze' | translate }}
        </div>
        <div>
          <img [src]="streak > 0 ? 'assets/images/icons/fire_red.png' : 'assets/images/icons/fire_blue.png'" height="19">
          <strong>
            {{ streak }}
          </strong>
          <span class="badge mr-50 ml-50 badge-warning badge-glow">{{ 'YouHave' | translate }} <strong>{{ streakFreeze }}</strong></span>
          <kepcoin-spend-swal
            [value]="25"
            [purchaseUrl]="'purchase-streak-freeze'"
            (success)="success()"
          >
          </kepcoin-spend-swal>
        </div>
      </div>

      <div class="card-body">
        <p>{{ 'StreakFreezeText' | translate }}</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <span *ngIf="type == 1">
            <i data-feather="corner-right-up"></i>
            {{ 'Earns' | translate }}
          </span>
          <span *ngIf="type == 2">
            <i data-feather="corner-left-down"></i>
            {{ 'Spends' | translate }}
          </span>
        </div>

        <button (click)="type = 3 - type; updatePage();" class="btn btn-relief-warning btn-sm">
          <span *ngIf="type == 2">{{ 'Earns' | translate }}</span>
          <span *ngIf="type == 1">{{ 'Spends' | translate }}</span>
        </button>
      </div>

      <div class="card-body">
        <div *ngIf="type == 1">
          <ul class="timeline">
            <li class="timeline-item" *ngFor="let earn of earns">
              <span class="timeline-point timeline-point-warning timeline-point-indicator"></span>
              <div class="timeline-event">
                <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                  <h6>
                    <img height="19" src="assets/images/icons/kepcoin.webp"> {{ earn.kepcoin }}
                  </h6>
                  <span class="timeline-event-time">{{ earn.datetime }}</span>
                </div>
                <p>
                  <span [ngSwitch]="earn.earnType" class="text-dark">
                    <span *ngSwitchCase="4">
                      Admindan bonus
                    </span>
                    <span *ngSwitchCase="5">
                      Kunlik faollik: <u class="text-primary">{{ earn.detail.date }}</u>
                    </span>
                    <span *ngSwitchCase="6">
                      Kunlik topshiriq bajarildi: <u class="text-primary">{{ earn.detail.description }}</u>
                    </span>
                    <span *ngSwitchCase="7">
                      Kunlik masalalar reytingi g'olibi: <u class="text-primary">{{ earn.detail.date }}</u>
                    </span>
                    <span *ngSwitchCase="8">
                      Haftalik masalalar reytingi g'olibi: <u class="text-primary">{{ earn.detail.date }}</u>
                    </span>
                    <span *ngSwitchCase="9">
                      Oylik masalalar reytingi g'olibi: <u class="text-primary">{{ earn.detail.date }}</u>
                    </span>
                    <span *ngSwitchCase="10">
                      Kontest ishtirokchisi: <a
                        [routerLink]="['/competitions', 'contests', 'contest', earn.detail.contest.id]">
                        <u class="text-primary">{{ earn.detail.contest.title }}</u>
                      </a>
                    </span>
                    <span *ngSwitchCase="11">
                      Arena ishtirokchisi: <a
                        [routerLink]="['/competitions', 'arena', 'tournament', earn.detail.arena.id]">
                        <u class="text-primary">{{ earn.detail.arena.title }}</u>
                      </a>
                    </span>
                  </span>
                </p>
                <div class="media align-items-center">
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div *ngIf="type == 2">
          <ul class="timeline">
            <li class="timeline-item" *ngFor="let spend of spends">
              <span class="timeline-point timeline-point-warning timeline-point-indicator"></span>
              <div class="timeline-event">
                <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                  <h6>
                    <img height="19" src="assets/images/icons/kepcoin.webp"> {{ spend.kepcoin }}
                  </h6>
                  <span class="timeline-event-time">{{ spend.datetime }}</span>
                </div>
                <p>
                  <span [ngSwitch]="spend.type" class="text-dark">
                    <span *ngSwitchCase="1">
                      Urinishni ko'rish <a class="text-primary"
                        routerLink="/practice/problems/attempts/{{ spend.detail.attemptId }}">
                        <u>{{ spend.detail.attemptId }}</u>
                      </a>
                    </span>
                    <span *ngSwitchCase="2">
                      Urinish testini ko'rish <a class="text-primary"
                        routerLink="/practice/problems/attempts/{{ spend.detail.attemptId }}">
                        <u>{{ spend.detail.attemptId }}</u>
                      </a>
                    </span>
                    <span *ngSwitchCase="3">
                      Masala yechimini ko'rish <a class="text-primary"
                        routerLink="/practice/problems/problem/{{ spend.detail.problemId }}">
                        <u>{{ spend.detail.problemId }}. {{ spend.detail.problemTitle }}</u>
                      </a>
                    </span>
                    <span *ngSwitchCase="5">
                      Rasmni o'zgartirish
                      <img src="{{ spend.detail.coverPhoto }}" style="width: 100%;">
                    </span>
                    <span *ngSwitchCase="10">
                      Testdan o'tish <a class="text-primary" routerLink="/practice/tests/test/{{ spend.detail.test.id }}">
                        <u>{{ spend.detail.test.title }}</u>
                      </a>
                    </span>
                    <span *ngSwitchCase="11">
                      Kontest yaratish
                    </span>
                  </span>
                </p>
                <div class="media align-items-center">
                </div>
              </div>
            </li>
          </ul>  
        </div>

        <kep-pagination
          *ngIf="total > 0"
          [collectionSize]="total"
          [(page)]="currentPage"
          [pageSize]="10"
          [maxSize]="5"
          [color]="'warning'"
          [rotate]="true"
          (pageChange)="updatePage()">
        </kep-pagination>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-xl-4 col-md-6 col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <i data-feather="dollar-sign"></i>
          Kepcoin qanday topsa bo'ladi?
        </div>
      </div>

      <div class="card-body text-dark">
        Ushbu valyutaga ega bo'lish uchun tizim rivojlanishiga o'z xissangizni qo'shingingiz lozim. Jumladan kepcoin:

        <div class="earn">
          <kepcoin [value]="1"></kepcoin>: Kunlik faollik uchun
        </div>

        <div class="earn">
          <kepcoin [value]="'1-10'"></kepcoin>: Kunlik topshiriqlarni bajarganligi uchun
        </div>

        <div class="earn">
          <kepcoin [value]="'3, 10, 50'"></kepcoin>: Mos ravishda kunlik, haftalik va oylik masalalar reytingi g'olibi
          uchun
        </div>

        <div class="earn">
          <kepcoin [value]="'5+'"></kepcoin>: Musobaqada qatnashganligi uchun
        </div>

        <div class="earn">
          <kepcoin [value]="'10-100'"></kepcoin>: Blog yozish
        </div>

        <div class="earn">
          <kepcoin [value]="'1-50'"></kepcoin>: Masalalarni tahrirlashda yordamlashish(yechim yozish, tarjima, teglar qo'shish, o'xhash masalalar topish)
        </div>

      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <i data-feather="coffee"></i>
          Kepcoin qanday sarflasa bo'ladi?
        </div>
      </div>

      <div class="card-body text-dark">
        <div class="spend">
          <kepcoin [value]="'0-14'"></kepcoin>: Boshqa foydalanuvchi urinishini ko'rish
        </div>

        <div class="spend">
          <kepcoin [value]="1"></kepcoin>: Yechim yiqilgan testni ko'rish
        </div>
    
        <div class="spend">
          <kepcoin [value]="'2-50'"></kepcoin>: Masala yechimini xarid qilish
        </div>

        <div class="spend">
          <kepcoin [value]="5"></kepcoin>: Profil orqa rasmini o'zgartirish
        </div>

        <div class="spend">
          <kepcoin [value]="1"></kepcoin>: Testdan o'tish
        </div>

        <div class="spend">
          <kepcoin [value]="'1-1000'"></kepcoin>: Kurs sotib olish
        </div>

        <div class="spend">
          <kepcoin [value]="'50'"></kepcoin>: Kodni tahrirlashda testlash funksiyasi(butunlayga)
        </div>

        <div class="spend">
          <kepcoin [value]="25"></kepcoin>: Kontestda ikki barobar reyting o'zgarishi(manfiy bo'lsa ham ikki barobar bo'lib o'zgaradi)
        </div>

        <div class="spend">
          <kepcoin [value]="25"></kepcoin>: Kontestda reytingni saqlab qolish(agar manfiy bo'lsa berilmaydi)
        </div>
      </div>
    </div>

  </div>
</div>
