@import 'bootstrap/scss/mixins'; 
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

.card {
  border: none;
  box-shadow: var(--box-shadow) !important;
  background: inherit !important;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img) !important;

  .card-title {
    @include media-breakpoint-up(md) {
      color: #fff;
    }
  }
}

.category {
  transition: 0.5s ease;
  margin-left: 1rem;
  display: flex;
  align-items: center;

  &.active {
    border-bottom: 1px solid #fff;
  }
  
  &:hover {
    transform: scale(1.1);
  }

  .icon {
    width: 90px;
    height: 70px;

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  .text {
    display: none;
    transition: 1s ease;
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
    line-height: 1.4rem;
    margin-top: 0;
    text-align: left;
    white-space: pre-wrap;
    color: #fff;
  }
}
