@import '@core/scss/base/bootstrap-extended/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/functions';

$default: $primary;

@mixin define-contest-colors($selector, $background, $box-shadow, $color: #fff, $background-dark: false) {
  #{$selector} {
    color: $color;
    background: $background;
    border: none;
  }

  @if $background-dark != false {
    .dark-layout .badge-#{$name} {
      background: $background-dark;
    }
  }
}


.contests-colors {
  --text-color: #fff;
  --bg-gradient: linear-gradient(42.32deg, $default, mix(white, $default, 10));
  --bg: $default;
  --bg-light: rgb(115, 103, 240, 0.1);
  --box-shadow: 0px 0px 10px $default;
}
