@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import 'scss/base/bootstrap-extended/variables';

@mixin define-contest-colors($selector, $background, $box-shadow, $color: #fff, $background-dark: false) {
  #{$selector} {
    color: $color;
    background: $background;
    border: none;
  }

  @if $background-dark != false {
    .dark-layout .badge-#{$name} {
      background: $background-dark;
    }
  }
}

.contests-colors {
  --text-color: #fff;
  --bg-gradient: linear-gradient(42.32deg, rgba(77, 74, 232, 0.9), rgba(77, 74, 232, 0.8));
  --bg: #4d4ae8;
  --bg-light: rgb(115, 103, 240, 0.1);
  --box-shadow: 0px 0px 10px #4d4ae8;

  &.contest-254 {
    --bg-gradient: linear-gradient(to right, #38CCBC, #07e4cf);
    --bg: #2db3a5;
    --bg-light: rgb(45, 179, 165, 0.1);
    --box-shadow: 0 0 5px #32b9ac;
  }

  &.contest-251,
  &.contest-250 {
    --bg-gradient: linear-gradient(to right, #3E9773, #56977D);
    --bg: #56977D;
    --bg-light: rgb(86, 151, 125, 0.1);
    --box-shadow: 0 0 5px #3E9773;
  }

  &[class*="One"][class*="Line"] {
    --bg: #d54f56;
    --bg-light: rgb(213, 79, 86, 0.1);
    --box-shadow: 0 0 5px #d54f56;
    --bg-gradient: linear-gradient(-45deg, #b2010ac4, 50%, rgba(190, 18, 27, 0.719));
  }

  &[class*="Hack"][class*="it"] {
    --bg: #71609f;
    --bg-light: rgb(82, 65, 128, 0.2);
    --box-shadow: 0 0 5px #524180;
    --bg-gradient: linear-gradient(-45deg, #645294, 50%, #453572);

    .card-bg {
      zoom: 70% !important;
    }
  }

  &[class*="SQL"] {
    --bg: #e19327;
    --box-shadow: 0 0 5px #e39425;
    --bg-light: rgb(225, 147, 39, 0.1);
    --bg-gradient: linear-gradient(-45deg, rgba(234, 134, 71, 0.849), 50%, #ffad3bec);
  }

  &[class*="NASM"] {
    --bg: #0c4c90;
    --bg-light: rgb(12, 76, 144, 0.1);
    --box-shadow: 0 0 5px #0c4c90;
    --bg-gradient: linear-gradient(-45deg, #0c4c90c8, #0c4c90c2);
  }

  &.contest-253 {
    --bg-gradient: linear-gradient(141deg, #00ced5c5, 50%, #02abaf);
    --bg: #36b3e9;
    --bg-light: rgb(54, 179, 233, 0.1);
    --box-shadow: 0px 0px 5px #36b3e9;
  }

  &.contest-type-LessCode:not([class*="Line"]) {
    --bg-gradient: linear-gradient(141deg, #dee7e9b9, 50%, rgba(222, 231, 233, 0.74)e9);
    --bg: #b0b5b6c4;
    --bg-light: rgba(176, 181, 182, 0.77, 0.1);
    --box-shadow: 0px 0px 5px #b0b5b6c4;
    --text-color: #000;
  }

  &.contest-297 {
    --text-color: #fff;
  }

  &[class*="Uzinfocom"] {
    --bg-gradient: linear-gradient(45deg, #005ea2bb, rgba(24, 111, 182, 0.623));
    --bg: #186fb6d0;
    --bg-light: rgba(24, 111, 182, 0.1);
    --box-shadow: 0px 0px 5px #186fb6d3;
  }

  &[class*="UBTUIT"] {
    --bg-gradient: linear-gradient(42.32deg, rgba(172, 161, 6, 0.89), #dfd108);
    --bg: rgba(98, 102, 5, 0.88);
    --box-shadow: 0px 0px 5px rgba(98, 102, 5, 0.85);
  }

  &[class*="contest-type-MultiL"] {
    --bg-gradient: linear-gradient(45deg, #010c80be, #010c8094);
    --bg: #081386b0;
    --bg-light: rgba(8, 19, 134, 0.1);
    --box-shadow: 0px 0px 5px #010c80a6;

    .card-bg {
      zoom: 50% !important;
    }
  }

  &[class*="contest-type-CodeGolf"] {
    --bg-gradient: linear-gradient(45deg, #4d7e3ea5, #4d7e3e98);
    --bg: #4d7e3ede;
    --bg-light: rgb(77 126 62 / 10%);
    --box-shadow: 0px 0px 5px #4d7e3ed4;

    .card-bg {
      zoom: 50% !important;
    }
  }

  &.contest-309 {
    --bg-gradient: linear-gradient(to right, #605ee3, #484ed0);
    --bg: #1c25c1;
    --bg-light: rgba(96, 94, 227, 0.1);
    --box-shadow: 0 0 10px #1c25c1;
  }
}

.dark-layout .contests-colors {
  --bg-gradient: linear-gradient(42.32deg, #33319b, #3c39b4, #4d4ae8);

  &.contest-254 {
    --bg: #037166;
    --bg-gradient: linear-gradient(to right, #024b44, #037166);
  }

  &.contest-251,
  &.contest-250 {
    --bg-gradient: linear-gradient(to right, #024b44, #024b44);
  }

  &.contest-253 {
    --bg-gradient: linear-gradient(141deg, #064d52, 50%, #02989b);
  }

  &[class*="SQL"] {
    --bg-gradient: linear-gradient(45deg, #936028, 60%, #7e5420);
  }

  &[class*="NASM"] {
    --bg: #0c4c90;
    --box-shadow: 0 0 5px #0c4c90;
    --bg-gradient: linear-gradient(-45deg, #10559e, #0c4c9094);
  }

  &.contest-type-LessCode:not([class*="Line"]) {
    --bg-gradient: linear-gradient(141deg, #4d5051, 50%, #4d5051);
    --bg: #b0b5b6;
    --box-shadow: 0px 0px 5px #b0b5b6;
    --text-color: #fff;
  }

  &[class*="Hack"][class*="it"] {
    --bg-gradient: linear-gradient(-45deg, #524180c0, 50%, #524180da);
  }

  &[class*="Uzinfocom"] {
    --bg-gradient: linear-gradient(45deg, #042c4bde, #005ea2c9);
    --bg: #1870b6;
    --box-shadow: 0px 0px 5px #1870b6;
  }

  &[class*="UBTUIT"] {
    --bg-gradient: linear-gradient(42.32deg, #797104, #aca106);
    --bg: #626605;
    --box-shadow: 0px 0px 5px #626605;
  }

  &[class*="contest-type-MultiL"] {
    --bg-gradient: linear-gradient(45deg, #2a3186be, #19217488);
    --bg: #010c80;
    --box-shadow: 0px 0px 5px #010c80;

    .card-bg {
      zoom: 50% !important;
    }
  }

  &.contest-309 {
    --bg-gradient: linear-gradient(to right, rgba(47, 45, 161, 0.8), #484ed0);
    --bg: #1c25c1;
    --bg-light: rgba(96, 94, 227, 0.1);
    --box-shadow: 0 0 10px #1c25c1;
  }

  &[class*="contest-type-CodeGolf"] {
    --bg-gradient: linear-gradient(45deg, rgba(45, 75, 36, 0.92), rgba(77, 126, 62, 0.87));
  }

}

.contests-colors {
  thead tr {
    background: var(--bg-gradient) !important;
    // box-shadow: var(--box-shadow) !important;
    color: var(--text-color);
  }

  .text-primary {
    color: var(--bg) !important;
  }

  .badge-primary.badge-glow {
    background-color: var(--bg);
    box-shadow: var(--box-shadow) !important;
    color: var(--text-color);
  }

  .badge-light-primary {
    background-color: var(--bg-light) !important;
    color: var(--bg);
  }

  .bg-light-primary {
    background-color: var(--bg-light) !important;
  }

  .pagination-primary .page-item.active .page-link {
    background: var(--bg) !important;
  }

  .btn {
    background-color: var(--bg) !important;
    border: 1px var(--bg-gradient) !important;
    box-shadow: var(--box-shadow) !important;

    &:hover {
      background: var(--bg-gradient) !important;
    }
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--bg);
    background-color: var(--bg);
  }

}
