@if (isLoading) {
  <div class="card" [style.height.px]="200">
    <spinner></spinner>
  </div>
} @else {
  <div class="d-flex mb-2 mt-2 justify-content-between">
    <h2>{{ 'Topics' | translate }}</h2>
<!--    <button [ngbTooltip]="'All' | translate" class="btn btn-sm btn-primary" (click)="showAll=!showAll">-->
<!--      <kep-icon [name]="showAll ? 'double-up' : 'double-down'"></kep-icon>-->
<!--    </button>-->
  </div>

  <div class="row">
    @for (category of showAll ? categories : categories.slice(0, 4); track category.id){
      <div [@fadeInOnEnter] class="col-lg-3 col-md-6 col-12">
        <a [routerLink]="category.code" class="card">
          <div class="card-header justify-content-start">
            <div class="category-icon mr-1">
              <kep-icon type="duotone" size="large-1" color="primary" [name]="category.icon"></kep-icon>
            </div>

            <div class="card-title">
              {{ category.title }}
              <div class="problems-count mt-50">
                <kep-icon size="medium-1" name="problem"></kep-icon>
                <span [ngbTooltip]="'Problems' | translate">{{ category.problemsCount }}</span>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <a [routerLink]="category.code" class="text-primary d-flex justify-content-end align-items-center">
              {{ 'Practice' | translate }}
              <kep-icon class="ml-25" name="arrow-right"></kep-icon>
            </a>
          </div>
        </a>
      </div>
    }
  </div>
}
