@import 'styles/kep-imports';

.problems-count {
  font-size: 17px;
  font-weight: 100;
  vertical-align: super;
  color: #888ea8;
  letter-spacing: 2px;
}

.tags-dropdown {
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0;

  --bs-dropdown-bg: white;

  @include dark-layout {
    --bs-dropdown-bg: #{$theme-dark-card-bg};
  }
}

.select-tags {
  background: white;

  @include dark-layout {
    background: inherit;
  }
}
