<div class="card">
  <div class="card-body">
    <form [formGroup]="filterForm">
      <div class="row">
        <div class="col-6 col-lg-3">
          <div class="form-group">
            <label class="text-primary">
              <strong>
                {{ 'TITLE' | translate }}:
              </strong>
            </label>
            <input
              formControlName="title"
              class="form-control"
              name="title"
              type="text"
            />
          </div>
        </div>

        <div class="col-6 col-lg-3">
          <label class="text-primary">
            <strong>
              {{ 'TAGS' | translate }}:
            </strong>
          </label>
          <div class="form-group">
            <ng-select
              formControlName="tags"
              [multiple]="true"
              placeholder="{{ 'SELECT' | translate }}:"
              [compareWith]="compareEqual"
            >
              <ng-option *ngFor="let tag of tags" [value]="tag.id">{{ tag.name }}</ng-option>
            </ng-select>
          </div>
        </div>

        <div class="col-6 col-lg-3">
          <label class="text-primary">
            <strong>
              {{ 'DIFFICULTY' | translate }}:
            </strong>
          </label>
          <div class="form-group">
            <ng-select formControlName="difficulty" [compareWith]="compareEqual">
              <ng-option *ngFor="let item of difficulties" [value]="item.value">
                <span class="text-{{ item.value | problemDifficultyColor }}">
                  {{ item.name }}
                </span>
              </ng-option>
            </ng-select>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <label class="text-primary">
            <strong>
              {{ 'STATUS' | translate }}:
            </strong>
          </label>
          <div class="form-group">
            <ng-select formControlName="status" [compareWith]="compareEqual">
              <ng-option [value]="3">
                <i [data-feather]="'minus'" class="text-warning"></i>
                {{ 'Unknown' | translate }}
              </ng-option>
              <ng-option [value]="1">
                <i [data-feather]="'exists' | iconName" class="text-success"></i>
                {{ 'Solved' | translate }}
              </ng-option>
              <ng-option [value]="2">
                <i [data-feather]="'not_exists' | iconName" class="text-danger"></i>
                {{ 'Unsolved' | translate }}
              </ng-option>
            </ng-select>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-3 col-6">
          <label class="text-primary">
            <strong>
              {{ 'Checker' | translate }}:
            </strong>
          </label>
          <div class="form-group">
            <ng-select formControlName="hasChecker" [compareWith]="compareEqual">
              <ng-option [value]="true">
                <i [data-feather]="'exists' | iconName" class="text-success"></i>
                {{ 'Yes' | translate }}
              </ng-option>
              <ng-option [value]="false">
                <i [data-feather]="'not_exists' | iconName" class="text-danger"></i>
                {{ 'No' | translate }}
              </ng-option>
            </ng-select>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <label class="text-primary">
            <strong>
              {{ 'CheckInput' | translate }}:
            </strong>
          </label>
          <div class="form-group">
            <ng-select formControlName="hasCheckInput" [compareWith]="compareEqual">
              <ng-option [value]="true">
                <i [data-feather]="'exists' | iconName" class="text-success"></i>
                {{ 'Yes' | translate }}
              </ng-option>
              <ng-option [value]="false">
                <i [data-feather]="'not_exists' | iconName" class="text-danger"></i>
                {{ 'No' | translate }}
              </ng-option>
            </ng-select>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <label class="text-primary">
            <strong>
              {{ 'Solution' | translate }}:
            </strong>
          </label>
          <div class="form-group">
            <ng-select formControlName="hasSolution" [compareWith]="compareEqual">
              <ng-option [value]="true">
                <i [data-feather]="'exists' | iconName" class="text-success"></i>
                {{ 'Yes' | translate }}
              </ng-option>
              <ng-option [value]="false">
                <i [data-feather]="'not_exists' | iconName" class="text-danger"></i>
                {{ 'No' | translate }}
              </ng-option>
            </ng-select>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <label class="text-primary">
            <strong>
              {{ 'PartialSolvable' | translate }}:
            </strong>
          </label>
          <div class="form-group">
            <ng-select formControlName="partialSolvable" [compareWith]="compareEqual">
              <ng-option [value]="true">
                <i [data-feather]="'exists' | iconName" class="text-success"></i>
                {{ 'Yes' | translate }}
              </ng-option>
              <ng-option [value]="false">
                <i [data-feather]="'not_exists' | iconName" class="text-danger"></i>
                {{ 'No' | translate }}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
