<div class="card">
  <div class="card-header">
    <div class="card-title">
      {{ 'Filter' | translate }}
    </div>
    <button class="btn btn-sm btn-primary" (click)="filterCollapsed=!filterCollapsed;">
      <span *ngIf="!filterCollapsed"><i data-feather="chevrons-down"></i></span>
      <span *ngIf="filterCollapsed"><i data-feather="chevrons-up"></i></span>
    </button>
  </div>
  <div class="card-body">
    <form [formGroup]="filterForm">
      <div class="row">
        <div class="col-6 col-lg-3">
          <div class="form-group">
            <label class="text-primary">
              <strong>
                {{ 'TITLE' | translate }}:
              </strong>
            </label>
            <input
              formControlName="title"
              class="form-control"
              name="title"
              type="text"
            />
          </div>
        </div>

        <div class="col-6 col-lg-3">
          <label class="text-primary">
            <strong>
              {{ 'TAGS' | translate }}:
            </strong>
          </label>
          <div class="form-group">
            <div ngbDropdown [placement]="'bottom'" class="select-tags btn-group full-width d-lg-block d-none">
              <button type="button" class="btn btn-outline-primary" [style.width.%]="70" rippleEffect>
                {{ selectedTagsName || ('SELECT' | translate) }}
              </button>
              <button
                [style.width.%]="30"
                ngbDropdownToggle
                type="button"
                class="btn btn-outline-primary dropdown-toggle-split"
                rippleEffect>
              </button>
              <div ngbDropdownMenu [style.min-width.rem]="32" aria-labelledby="dropdownMenuButton902">
                <ngb-accordion [closeOthers]="false" [destroyOnHide]="false">
                  @for(category of categories; track category.id){
                    <ngb-panel [cardClass]="'card-category'" [id]="'i' + category.id">
                      <ng-template ngbPanelTitle>
                        <span>{{ category.title }}</span>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        @for(tag of category.tags; track tag.id){
                          <span (click)="tagOnClick(tag.id)" class="cursor-pointer badge-pill ml-25 mr-25 mb-50 badge badge-primary" [class]="{
                            'badge-light-primary': filterForm.value.tags?.indexOf(tag.id) == -1
                          }">
                            {{ tag.name }}
                          </span>
                        }
                      </ng-template>
                    </ngb-panel>
                  }
                </ngb-accordion>
              </div>
            </div>

            <ng-select
              class="d-lg-none tags-select"
              formControlName="tags"
              [dropdownPosition]="'top'"
              [multiple]="true"
              [items]="tags"
              [closeOnSelect]="false"
              [maxSelectedItems]="3"
              [groupBy]="'category'"
              [bindLabel]="'name'"
              [bindValue]="'id'"
              placeholder="{{ 'SELECT' | translate }}:"
              [compareWith]="compareEqual">
              <ng-template ng-optgroup-tmp let-item="item">
                {{ item.category }}
              </ng-template>
            </ng-select>
          </div>
        </div>

        <div class="col-6 col-lg-3">
          <label class="text-primary">
            <strong>
              {{ 'DIFFICULTY' | translate }}:
            </strong>
          </label>
          <div class="form-group">
            <ng-select formControlName="difficulty" [compareWith]="compareEqual">
              <ng-option *ngFor="let item of difficulties" [value]="item.value">
                <span class="text-{{ item.value | problemDifficultyColor }}">
                  {{ item.name }}
                </span>
              </ng-option>
            </ng-select>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <label class="text-primary">
            <strong>
              {{ 'STATUS' | translate }}:
            </strong>
          </label>
          <div class="form-group">
            <ng-select formControlName="status" [compareWith]="compareEqual">
              <ng-option [value]="3">
                <i [data-feather]="'minus'" class="text-warning"></i>
                {{ 'Unknown' | translate }}
              </ng-option>
              <ng-option [value]="1">
                <i [data-feather]="'exists' | iconName" class="text-success"></i>
                {{ 'Solved' | translate }}
              </ng-option>
              <ng-option [value]="2">
                <i [data-feather]="'not_exists' | iconName" class="text-danger"></i>
                {{ 'Unsolved' | translate }}
              </ng-option>
            </ng-select>
          </div>
        </div>

      </div>

      <div class="row" *ngIf="filterCollapsed">
        <div class="col-lg-3 col-6">
          <label class="text-primary">
            <strong>
              {{ 'Checker' | translate }}:
            </strong>
          </label>
          <div class="form-group">
            <ng-select formControlName="hasChecker" [compareWith]="compareEqual">
              <ng-option [value]="true">
                <i [data-feather]="'exists' | iconName" class="text-success"></i>
                {{ 'Yes' | translate }}
              </ng-option>
              <ng-option [value]="false">
                <i [data-feather]="'not_exists' | iconName" class="text-danger"></i>
                {{ 'No' | translate }}
              </ng-option>
            </ng-select>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <label class="text-primary">
            <strong>
              {{ 'CheckInput' | translate }}:
            </strong>
          </label>
          <div class="form-group">
            <ng-select formControlName="hasCheckInput" [compareWith]="compareEqual">
              <ng-option [value]="true">
                <i [data-feather]="'exists' | iconName" class="text-success"></i>
                {{ 'Yes' | translate }}
              </ng-option>
              <ng-option [value]="false">
                <i [data-feather]="'not_exists' | iconName" class="text-danger"></i>
                {{ 'No' | translate }}
              </ng-option>
            </ng-select>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <label class="text-primary">
            <strong>
              {{ 'Solution' | translate }}:
            </strong>
          </label>
          <div class="form-group">
            <ng-select formControlName="hasSolution" [compareWith]="compareEqual">
              <ng-option [value]="true">
                <i [data-feather]="'exists' | iconName" class="text-success"></i>
                {{ 'Yes' | translate }}
              </ng-option>
              <ng-option [value]="false">
                <i [data-feather]="'not_exists' | iconName" class="text-danger"></i>
                {{ 'No' | translate }}
              </ng-option>
            </ng-select>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <label class="text-primary">
            <strong>
              {{ 'PartialSolvable' | translate }}:
            </strong>
          </label>
          <div class="form-group">
            <ng-select formControlName="partialSolvable" [compareWith]="compareEqual">
              <ng-option [value]="true">
                <i [data-feather]="'exists' | iconName" class="text-success"></i>
                {{ 'Yes' | translate }}
              </ng-option>
              <ng-option [value]="false">
                <i [data-feather]="'not_exists' | iconName" class="text-danger"></i>
                {{ 'No' | translate }}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
