<div class="card">
  <div class="table-responsive mb-2">
    <table class="table table-striped">
      <thead>
        <tr class="bg-gradient-primary">
          <th>ID</th>
          <th>{{ 'TITLE' | translate }}</th>
          <th>{{ 'TAGS' | translate }}</th>
          <th class="text-center">{{ 'DIFFICULTY' | translate }}</th>
          <th class="text-center">{{ 'RATING' | translate }}</th>
          <th class="text-center">{{ 'ATTEMPTS' | translate }}</th>
        </tr>
      </thead>
  
      <tbody>
        <tr [@fadeInOnEnter] [ngClass]="{
          'bg-light-success': problem.hasSolved,
          'bg-light-danger': !problem.hasSolved && problem.hasAttempted
        }" *ngFor="let problem of problems; index as i">
          <td>
            {{ problem.id }}
          </td>
  
          <td>
            <a [routerLink]="['problem', problem.id]">
              {{ problem.title }}
              <br>
              <span ngbTooltip="{{ 'Solution' | translate }}"  placement="left" container="body">
                <i *ngIf="problem.hasSolution" [data-feather]="'exists' | iconName" class="text-primary" [size]="16"></i>
                <i *ngIf="!problem.hasSolution" [data-feather]="'not_exists' | iconName" class="text-danger" [size]="16"></i>  
              </span>
              <span class="ml-1" ngbTooltip="{{ 'Checker' | translate }}"  placement="left" container="body">
                <i *ngIf="problem.hasChecker" [data-feather]="'exists' | iconName" class="text-primary" [size]="16"></i>
                <i *ngIf="!problem.hasChecker" [data-feather]="'not_exists' | iconName" class="text-danger" [size]="16"></i>  
              </span>
            </a>
          </td>
  
          <td>
            <button
              class="btn btn-gradient-primary round btn-sm"
              *ngFor="let tag of problem.tags"
              (click)="tagOnClick(tag.id)"
            >
              <small>
                {{ tag.name }}
              </small>
            </button>
          </td>
  
          <td class="text-center">
            <span class="badge badge-glow badge-{{ problem.difficulty | problemDifficultyColor }}">
              {{ problem.difficultyTitle | translate }}
            </span>
          </td>
  
          <td class="text-center">
            <div class="likes-count">
              <i data-feather="thumbs-up"></i>
              {{ problem.likesCount }}
            </div>
            <div class="dislikes-count">
              <i data-feather="thumbs-down"></i>
              {{ problem.dislikesCount }}
            </div>
          </td>
  
          <td class="text-center">
            <span class="badge badge-light-info text-center">
              <small class="text-success">{{ problem.solved }}</small><small class="text-dark">/</small><small class="text-info">{{ problem.attemptsCount }}</small>
            </span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>ID</th>
          <th>{{ 'TITLE' | translate }}</th>
          <th>{{ 'TAGS' | translate }}</th>
          <th class="text-center">{{ 'DIFFICULTY' | translate }}</th>
          <th class="text-center">{{ 'RATING' | translate }}</th>
          <th class="text-center">{{ 'ATTEMPTS' | translate }}</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
