<div class="course-page-top">
  <div class="course course-{{ course.id }}">
    <div [@fadeInLeftOnEnter] class="course-header order-md-1 order-2">
      <div class="course-info d-flex">
        <div class="course-level mr-1">
          <span class="badge level-{{ course.level }}">
            {{ course.levelTitle }}
          </span>
        </div>

        <div class="course-participants mr-1">
          <span class="badge">
            <i [size]="18" data-feather="users"></i>
            <span class="ml-25 count">{{ course.participantsCount }}</span>
          </span>
        </div>

        <div class="course-rating mr-1">
          <span
            placement="top"
            ngbTooltip="{{ course.rating }}"
            container="body"
            class="rating">
            <ngb-rating [(rate)]="course.rating" [max]="5" [readonly]="true" class="outline-none">
            </ngb-rating>
          </span>
          ({{ course.rating }})
        </div>
      </div>
      <h1 class="course-title">
        {{ course.title }}
      </h1>
      <div class="course-description">
        <p [innerHTML]="course.descriptionShort"></p>
      </div>
      <div class="course-tags">
        <span class="course-tag" *ngFor="let tag of course.tags">
          {{ tag.name }}
        </span>
      </div>
      <div class="course-meta d-md-flex">
        <div class="course-updated">
          <i class="mr-50" data-feather="refresh-cw" [size]="18"></i>
          {{ 'LastUpdate' | translate }}: {{ course.updated }}
        </div>

        <div class="course-lang ml-md-2 mt-md-0 mt-1">
          <i class="mr-50" data-feather="globe" [size]="18"></i>
          {{ 'Language' | translate }}: {{ 'Uzbek' | translate }}
        </div>
      </div>
    </div>
    <div [@fadeInUpOnEnter] class="course-image order-md-2 order-1">
      <img src="{{ course.logo }}" alt="">
    </div>
  </div>
</div>