<user-popover [customContent]="true" [username]="user.username">
  <div class="text-{{ user.rankTitle | challengesRankColor }}">
    <span class="badge badge-pill badge-glow badge-{{ user.rankTitle | challengesRankColor }}">
      {{ user.rankTitle }}
    </span>
    {{ user.username }}

    <span *ngIf="withRating" [class]="{
      'badge-light-{{ user.rankTitle | challengesRankColor }}': light
    }" class="badge badge-{{ user.rankTitle | challengesRankColor }}">
      {{ user.rating }}
    </span>

    <span
      *ngIf="user?.isBot"
      class="ml-50 mb-50 badge badge-pill badge-light-{{ user.rankTitle | challengesRankColor }}">
      bot
    </span>
  </div>
</user-popover>
