<div class="content-wrapper container-lg p-0">
  <div class="content-body">
    <div class="card">
      <div class="card-body">
        <div class="post-header">
          <h1 class="post-title text-dark">{{ blogPost.title }}</h1>
          <div class="post-image">
            <img src="{{ blogPost.image }}" alt="post-image">
          </div>
          <div class="post-meta-info d-flex justify-content-between">
            <div class="media d-flex">
              <img src="{{ blogPost.author.avatar }}" alt="profile">
              <div class="media-body">
                <h5>
                  <user-popover [textColor]="'dark'" [username]="blogPost.author.username"></user-popover>
                </h5>
                <p>{{ blogPost.created }}</p>
                <div class="meta-icon text-dark">
                  <i [data-feather]="'view' | iconName"></i>
                  {{ blogPost.views }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <mathjax [content]="blogPost.body"></mathjax>
      </div>
    </div>

    <div class="post-tags mt-1">
      @for (tag of blogPost.tags; track tag) {
        <span class="badge badge-primary mb-1">{{ tag }}</span>
      }
    </div>

    <div class="post-dynamic-meta mt-1 mb-2">
      <button class="btn btn-danger round btn-sm" (click)="like()">
        <kep-icon class="" name="heart"></kep-icon>
        <span class="btn-text-inner ps-1">{{ blogPost.likesCount }}</span>
      </button>
    </div>

    <comments [blogPost]="blogPost"></comments>

    <quill-css></quill-css>
  </div>
</div>
