::ng-deep {
  [class*=bg-chapter-] {
    &:hover {
      transition: 0.5s;
    }
  }

  .bg-gradient-chapter-1 {
    color: #fff;
    transition: all 0.2s ease;
    background-image: linear-gradient(141deg, #3b7aa9, 55%, #ffe974);
    background-repeat: repeat;
  }
  
  .bg-chapter-1 {
    background-color: #3b7aa9 !important;
    box-shadow: 0px 0px 10px #91aa91 !important;
  }
  
  .text-chapter-1 {
    color: #67939e;
  }

  .bg-gradient-chapter-2 {
    color: #fff;
    transition: all 0.2s ease;
    background-image: linear-gradient(141deg, #3c6aaf, 55%, #f3d53a);
    background-repeat: repeat;
  }
  
  .bg-chapter-2 {
    background-color: #3b7aa9 !important;
    box-shadow: 0px 0px 10px #91aa91 !important;
  }
  
  .text-chapter-2 {
    color: #67939e;
  }

  .bg-gradient-chapter-3 {
    color: #fff;
    transition: all 0.2s ease;
    background-image: linear-gradient(141deg, #1b91c3, 55%, #36b3e9);
    background-repeat: repeat;
  }
  
  .bg-chapter-2 {
    background-color: #36b3e9 !important;
    box-shadow: 0px 0px 10px #36b3e9 !important;
  }
  
  .text-chapter-2 {
    color: #36b3e9;
  }
  
  .bg-gradient-chapter-4 {
    color: #fff;
    transition: all 0.2s ease;
    background-image: linear-gradient(141deg, #092e20, 60%, #b6d7cb);
    background-repeat: repeat;
  }
  
  .bg-chapter-4 {
    background-color: #587b6e !important;
    box-shadow: 0px 0px 10px #91aa91 !important;
  }
  
  .text-chapter-4 {
    color: #587b6e;
  }
  
  .bg-gradient-chapter-5 {
    color: #fff;
    transition: all 0.2s ease;
    background-image: linear-gradient(141deg, #00ced5c5, 50%, #02abaf);
    background-repeat: repeat;
  }
  
  .bg-chapter-5 {
    background-color: #00cfd5 !important;
    box-shadow: 0px 0px 10px #00cfd5 !important;
  }
  
  .text-chapter-5 {
    color: #00cfd5;
  }
  
  .bg-gradient-chapter-6 {
    color: #fff;
    transition: all 0.2s ease;
    background-image: linear-gradient(141deg, #6a81ff, 50%, #6a80ffae);
    background-repeat: repeat;
  }
  
  .bg-chapter-6 {
    background-color: #6a81ff !important;
    box-shadow: 0px 0px 10px #6a81ff !important;
  }
  
  .text-chapter-6 {
    color: #6a81ff;
  }
  
  .bg-gradient-chapter-7 {
    color: #fff;
    transition: all 0.2s ease;
    background-image: linear-gradient(-45deg, rgba(234, 134, 71, 0.849), 50%, #ffad3bec);
    background-repeat: repeat;
  }
  
  .bg-chapter-7 {
    background-color: #ffac3b !important;
    box-shadow: 0px 0px 10px #ffac3b !important;
  }
  
  .text-chapter-7 {
    color: #ffac3b;
  }

  .bg-gradient-chapter-8 {
    color: #fff;
    transition: all 0.2s ease;
    background-image: linear-gradient(-45deg, #8d9ae5, #76d8fd);
    background-repeat: repeat;
  }
  
  .bg-chapter-8 {
    background-color: #76d8fd !important;
    box-shadow: 0px 0px 10px #76d8fd !important;
  }
  
  .text-chapter-8 {
    color: #76d8fd;
  }
  
  .bg-gradient-chapter-9 {
    color: #fff;
    transition: all 0.2s ease;
    background-image: linear-gradient(141deg, #ff5959d6, 50%, #e04f5f);
    background-repeat: repeat;
  }
  
  .bg-chapter-9 {
    background-color: #ff5959 !important;
    box-shadow: 0px 0px 10px #ff5959af !important;
  }
  
  .text-chapter-9 {
    color: #ff5959;
  }
  
  .bg-gradient-chapter-10 {
    color: #fff;
    transition: all 0.2s ease;
    background-image: linear-gradient(141deg, #655f9a, 50%, #53a5c9);
    background-repeat: repeat;
  }
  
  .bg-chapter-10 {
    background-color: #53a5c9 !important;
    box-shadow: 0px 0px 10px #53a5c9 !important;
  }
  
  .text-chapter-10 {
    color: #53a5c9;
  }
  
  .bg-gradient-chapter-11 {
    color: #fff;
    transition: all 0.2s ease;
    background-image: linear-gradient(141deg, #623f98, 50%, #8fd3ed);
    background-repeat: repeat;
  }
  
  .bg-gradient-chapter-12 {
    color: #fff;
    transition: all 0.2s ease;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
      background-repeat: repeat;
  }
  
  .bg-chapter-12 {
    background-color: #8BC6EC !important;
    box-shadow: 0px 0px 10px #8BC6EC !important;
  }


  .bg-gradient-chapter-13 {
    background-image: linear-gradient(45deg, #6295cb, #00427e);
  }
  
  .bg-chapter-13 {
    background-color: #74b1f1 !important;
    box-shadow: 0px 0px 10px #74b1f1 !important;
  }
  
  .text-chapter-13 {
    color: #74b1f1;
  }

  .dark-layout {
    .bg-gradient-chapter-1 {
      color: #fff;
      transition: all 0.2s ease;
      background-image: linear-gradient(141deg, #25445b, 55%, #b9ae5e);
      background-repeat: repeat;
    }
    
    .bg-chapter-1 {
      background-color: #3b7aa9 !important;
      box-shadow: 0px 0px 10px #3b7aa9 !important;
    }

    .bg-gradient-chapter-4 {
      color: #fff;
      transition: all 0.2s ease;
      background-image: linear-gradient(141deg, #092e20, 60%, #5b736a);
      background-repeat: repeat;
    }
    
    .bg-chapter-4 {
      background-color: #5b736a !important;
      box-shadow: 0px 0px 10px #91aa91 !important;
    }

    .bg-gradient-chapter-5 {
      color: #fff;
      transition: all 0.2s ease;
      background-image: linear-gradient(141deg, #064d52, 50%, #02989b);
      background-repeat: repeat;
    }
    
    .bg-chapter-5 {
      background-color: #02abaf !important;
      box-shadow: 0px 0px 10px #02abaf !important;
    }

    .bg-gradient-chapter-6 {
      background-image: linear-gradient(141deg, #313c76, 50%, #5264c5);
    }
    
    .bg-chapter-6 {
      background-color: #5264c5 !important;
      box-shadow: 0px 0px 10px #5264c5 !important;
    }
  
    .bg-gradient-chapter-7 {
      background-image: linear-gradient(45deg, #936028, 60%, #7e5420);
    }
    
    .bg-chapter-7 {
      background-color: #7e5420 !important;
      box-shadow: 0px 0px 10px #7e5420 !important;
    }

    .bg-gradient-chapter-8 {
      color: #fff;
      transition: all 0.2s ease;
      background-image: linear-gradient(-45deg, #46507b, #508ca7);
      background-repeat: repeat;
    }
    
    .bg-chapter-8 {
      background-color: #30485e !important;
      box-shadow: 0px 0px 10px #30485e !important;
    }
    
    .bg-gradient-chapter-9 {
      color: #fff;
      transition: all 0.2s ease;
      background-image: linear-gradient(141deg, #d2424e, 50%, #76292f);
      background-repeat: repeat;
    }
    
    .bg-chapter-9 {
      background-color: #76292f !important;
      box-shadow: 0px 0px 10px #76292f !important;
    }

    .bg-gradient-chapter-10 {
      background-image: linear-gradient(141deg, #353451, 60%, #5a8bb7);
    }
    
    .bg-chapter-10 {
      background-color: #5a8bb7 !important;
      box-shadow: 0px 0px 10px #5a8bb7 !important;
    }

    .bg-gradient-chapter-11 {
      background-image: linear-gradient(141deg, #412965, 60%, #0579a7);
    }

    .bg-chapter-11 {
      background-color: #0579a7 !important;
      box-shadow: 0px 0px 10px #0579a7 !important;
    }

    .bg-gradient-chapter-12 {
      color: #fff;
      transition: all 0.2s ease;
      background-image: linear-gradient(135deg, #4889b4 0%, #5e61a7 100%);
        background-repeat: repeat;
    }
    
    .bg-chapter-12 {
      background-color: #4889b4 !important;
      box-shadow: 0px 0px 10px #4889b4 !important;
    }

    .bg-gradient-chapter-13 {
      background-image: linear-gradient(45deg, #00294d, #00427e);
    }
    
    .bg-chapter-13 {
      background-color: #3973b2 !important;
      box-shadow: 0px 0px 10px #3973b2 !important;
    }
    
    .text-chapter-13 {
      color: #3973b2;
    }
  
  }
    

  .bg-chapter-11 {
    background-color: #8fd3ed !important;
    box-shadow: 0px 0px 10px #8fd3ed !important;
  }
  
  .text-chapter-11 {
    color: #8fd3ed;
  }
}