<div class="content-wrapper container-xxl p-0 {{ contest | contestClasses }}">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row">
      <div [@fadeInLeftOnEnter]="" class="col-lg-9 col-md-12 col-sm-12 order-2 order-lg-1">
        <div class="card">
          <div class="card-header p-1">
            <contest-tab [contest]="contest"></contest-tab>
          </div>
          <div class="card-footer">
            <div class="row">
              @for (contestProblem of contestProblems; track contestProblem) {
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <contest-problem-card
                    [contest]="contest"
                    [contestProblem]="contestProblem"/>
                </div>
              }
            </div>
          </div>
        </div>
      </div>

        <div [@fadeInRightOnEnter]="" class="col-lg-3 col-md-12 col-sm-12 order-1 order-lg-2">
          <contest-card-countdown *ngIf="contest" [contest]="contest"></contest-card-countdown>
        </div>
     </div>
    </div>
  </div>
