<kep-card>
  <div class="card-body">
    <div class="text-center">
      <div class="avatar p-50 bg-primary badge-glow">
        <div class="avatar-content">
          <kep-icon class="font-medium-4" name="problem"></kep-icon>
        </div>
      </div>
      <div class="font-medium-5 mt-1">
        {{ 'Problems' | translate }}
        <br>
        <div class="font-medium-4 mt-2">
          <span class="me-50" ngbTooltip="{{ 'Solved' | translate }}">
            <kep-icon name="check-circle"></kep-icon>
            {{ userProblemsRating.solved }}
          </span>

          <span ngbTooltip="{{ 'Rating' | translate }}">
            <kep-icon name="rating"></kep-icon>
            {{ userProblemsRating.rating }}
          </span>
        </div>

        <div class="font-small-4 d-md-flex d-block justify-content-between">
          @for (difficulty of difficultyLabels; track difficulty) {
            <div class="mt-2">
              {{ difficulty | titlecase | translate }}
              <br>
              <span class="text-{{ $index+1 | problemDifficultyColor }}">{{ userProblemsRating[difficulty] }}</span>
            </div>
          }
        </div>
        <hr>
        <problems-activity-card [username]="username"></problems-activity-card>
      </div>
    </div>
  </div>
</kep-card>

<kep-card>
  <div class="card-body">
    <div class="text-center">
      <div class="avatar p-50 bg-primary badge-glow">
        <div class="avatar-content">
          <kep-icon class="font-medium-4" name="contest"></kep-icon>
        </div>
      </div>
      <br>
      <div class="font-medium-5 mt-1">
        {{ 'Contests' | translate }}
      </div>
    </div>

    <div class="text-center font-medium-1 mt-1">
      <i [data-feather]="'rating' | iconName"></i>
      {{ 'Rating' | translate }}:
      <span class="ms-50 badge bg-{{ userContestsRating.rating | contestsRatingColor }}-transparent">
        {{ userContestsRating.rating }}
      </span>
      <contests-rating-image [size]="24" [title]="userContestsRating.ratingTitle"></contests-rating-image>
    </div>

    <div class="text-center font-medium-1 mt-2">
      <i [data-feather]="'rating' | iconName"></i>
      {{ 'MaxRating' | translate }}:
      <span class="ms-50 badge bg-{{ userContestsRating.maxRating | contestsRatingColor }}-transparent">
        {{ userContestsRating.maxRating }}
      </span>
      <contests-rating-image [size]="24" [title]="userContestsRating.maxRatingTitle"></contests-rating-image>
    </div>

    <div class="text-center font-medium-1 mt-2">
      <i [data-feather]="'flag'"></i>
      {{ 'Contests' | translate }}:
      <span class="ms-50 badge badge-light-primary">
        {{ userContestsRating.contestantsCount }}
      </span>
    </div>

    <div>
      @if (contestRatingChangesChart && contestRatingChangesChart.series[0].data.length > 0) {
        <apex-chart
          [options]="contestRatingChangesChart">
        </apex-chart>
      }
    </div>
  </div>
</kep-card>

<kep-card>
  <div class="card-body">
    <div class="text-center">
      <div class="avatar p-50 bg-primary badge-glow">
        <div class="avatar-content">
          <kep-icon class="font-medium-4" name="challenge"></kep-icon>
        </div>
      </div>
      <br>
      <div class="font-medium-5 mt-1">
        {{ 'Challenges' | translate }}
      </div>
    </div>

    <div class="text-center mt-1">
      <div class="text-{{ userChallengesRating.rankTitle | challengesRankColor }}">
        <span
          class="badge badge-pill bg-{{ userChallengesRating.rankTitle | challengesRankColor }}">
          {{ userChallengesRating.rankTitle }}
        </span>

        <span class="badge bg-{{ userChallengesRating.rankTitle | challengesRankColor }}-transparent">
          {{ userChallengesRating.rating }}
        </span>
      </div>

      <div class="font-medium-4 mt-1">
        <span class="text-success font-medium-2" ngbTooltip="{{ 'Wins' | translate }}">W</span>
        {{ userChallengesRating.wins }}
        <span class="ms-50 text-secondary font-medium-2" ngbTooltip="{{ 'Draws' | translate }}">D</span>
        {{ userChallengesRating.draws }}
        <span class="ms-50 text-danger font-medium-2" ngbTooltip="{{ 'Losses' | translate }}">L</span>
        {{ userChallengesRating.losses }}
      </div>
    </div>

    <div class="mt-1">
      @if (challengesRatingChangesChart && challengesRatingChangesChart.series[0].data.length > 0) {
        <apex-chart
          [options]="challengesRatingChangesChart">
        </apex-chart>
      }
    </div>
  </div>
</kep-card>
