<div class="card" routerLink="tournament/{{ arena.id }}">
  <div class="card-header">
    <div class="card-title">
      <i data-feather="shield" class="font-large-1 mr-1"></i>
      {{ arena.title }}
      <br>
      <span class="ml-4 font-small-3 font-weight-bolder">
        {{ 'Rated' | translate }},
      </span>
      <span class="ml-25 font-small-3 font-weight-bolder">
        {{ durationMinute }}m
      </span>
    </div>

    <div class="card-countdown">
      <span *ngIf="arena.status == -1">
        <ngx-countdown [time]="leftTime" [render]="render" format="HH:mm:ss" (finish)="finish()">
          <ng-template #render let-data>
            <div class="d-flex justify-content-between" [ngbTooltip]="arena.startTime | date:'dd-MM-y HH:mm'">
              <h5 class="clock-val">{{ data.fragments[0] }}:{{ data.fragments[1] }}:{{ data.fragments[2] }}</h5>
            </div>
          </ng-template>
        </ngx-countdown>
      </span>
      <span *ngIf="arena.status == 0" class="badge badge-glow badge-warning">
        {{ 'Now' | translate }}
      </span>
      <span *ngIf="arena.status == 1">
        {{ arena.finishNaturaltime }}
      </span>
    </div>

    <div class="card-info">
      <span ngbTooltip="{{ 'Time' | translate }}" class="mr-25 badge badge-warning badge-glow">
        <i data-feather="clock"></i>
        {{ arena.timeSeconds }}
      </span>
  
      <span ngbTooltip="{{ 'Questions' | translate }}"  class="badge badge-warning badge-glow">
        <i data-feather="activity"></i>
        {{ arena.questionsCount }}
      </span>
    </div>

    <div>
      <div class="d-flex" *ngIf="arena.status == 1">
        <challenges-user-view [user]="arena.winner"></challenges-user-view>
        <img src="assets/images/icons/cup.png" width="20" height="20" alt="winner" class="ml-1">
      </div>
    </div>
  </div>
</div>
