<div
  class="content-wrapper container-xxl p-0 contests-colors contests-color contest-{{ contest.id }} {{ contest.title }} contest-type-{{ contest.type }}">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="mt-2">
      <div class="row">
        <div [@fadeInLeftOnEnter] class="col-lg-9 col-12 order-2 order-lg-1">
          <kep-card>
            <div class="card-header p-2">
              <contest-tab [contest]="contest"></contest-tab>
            </div>
          </kep-card>

          <kep-card>
            <div class="table-responsive beautiful-table">
              <table class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>
                    <kep-icon name="user"></kep-icon>
                    {{ 'Users' | translate }}
                  </th>
                  <th>
                    <kep-icon name="rating"></kep-icon>
                  </th>
                </tr>
                </thead>
                <tbody>
                  @for (registrant of registrants; track registrant.username) {
                    <tr>
                      <td class="text-dark">{{ $index + 1 }}</td>
                      <td>
                        <contestant-view [team]="registrant.team" [user]="registrant"></contestant-view>
                      </td>
                      <td>
                        <span *ngIf="registrant.rating"
                              class="badge bg-{{ registrant.rating | contestsRatingColor }}-transparent">
                          {{ registrant.rating }}
                        </span>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </kep-card>
        </div>

        <div [@fadeInRightOnEnter] class="col-lg-3 col-12 order-1 order-lg-2">
          @if (contest) {
            <contest-card-countdown [contest]="contest"></contest-card-countdown>
          }
        </div>
      </div>

    </section>
  </div>
</div>
