.news-card {
  display: grid;
  grid-template-columns: 1fr 2fr;

  &:hover {
    padding-left: 20px;
    transition: 0.5s;
  }
  
  &:not(:hover){
    transition: 0.5s;
  }

  .post-image {
    padding: 15px 18px 15px 0;
    text-align: center; 
    object-fit: cover;
    border-bottom-right-radius: calc(0.428rem - 1px);
    border-bottom-left-radius: calc(0.428rem - 1px);
    height: 140px;

    img {
      background: #fff;
      box-shadow: 0 0 5px rgba(34, 41, 47, 0.1);
      height: 100%;
      width: 100%;
      object-fit: contain;
      border-radius: 15px;
      // box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);  
    }  
  }

  .news-details {
    padding: 15px 5px;
  }

  .title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }

  .tags {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

::ng-deep .dark-layout .news-card {
  .post-image {
    img {
      background: #15171c !important;
    }
  }
}

::ng-deep .bordered-layout .news-card {
  .post-image {
    img {
      box-shadow: none !important;
    }
  }
}
