<div class="contests-section-header">
  <div class="card">
    @if (isLoading){
      <div [style.height.px]="150">
        <spinner></spinner>
      </div>
    } @else {
      <div class="card-header">
        <div class="card-title text-white">{{ currentUser?.username || 'Links' | translate }}</div>

        <div class="links" [ngClass.lt-md]="'d-flex'">
          <a routerLink="rating" class="btn btn-primary mr-25 mr-mt-1" [ngClass.lt-md]="'btn-sm'">
            <kep-icon name="ranking" class="font-medium-1"></kep-icon>
            <span [ngClass.lt-md]="'d-none'">
              {{ 'Rating' | translate }}
            </span>
          </a>
          <a routerLink="statistics" class="btn btn-primary mr-25 mr-mt-1" [ngClass.lt-md]="'btn-sm'">
            <kep-icon name="statistics" class="font-medium-1"></kep-icon>
            <span [ngClass.lt-md]="'d-none'">
              {{ 'Statistics' | translate }}
            </span>
          </a>
          @if (isAuthenticated) {
            <a routerLink="user-contests" class="btn btn-primary" [ngClass.lt-md]="'btn-sm'">
              <kep-icon name="attempt" class="font-medium-1"></kep-icon>
              <span [ngClass.lt-md]="'d-none'">
                {{ 'MyContests' | translate }}
              </span>
            </a>
          }
        </div>
      </div>

      @if (currentUser) {
        <div class="card-footer d-flex justify-content-between">
          <div class="text-center d-flex justify-content-between">
            <div class="text-white text-nowrap d-flex align-items-center" [ngClass.gt-sm]="'font-medium-2'" [ngClass.lt-md]="'font-small-3'">
              <kep-icon type="duotone" class="text-white mr-25" name="rating"></kep-icon>
              <span class="mr-50">{{ 'Rating' | translate }}:</span>
              <contests-rating-badge [rating]="data.rating" [badgeLight]="false"></contests-rating-badge>
              <contests-rating-image [title]="data.ratingTitle"></contests-rating-image>
            </div>
          </div>
          <div class="text-center text-nowrap d-flex justify-content-between">
            <div class="text-white d-flex align-items-center" [ngClass.gt-sm]="'font-medium-2'" [ngClass.lt-md]="'font-small-3'">
              <kep-icon type="duotone" class="text-white mr-25" name="contest"></kep-icon>
              {{ 'Rank' | translate }}: {{ data.ratingPlace }}
            </div>
          </div>
          <div class="text-center text-nowrap d-flex justify-content-between">
            <div class="text-white d-flex align-items-center" [ngClass.gt-sm]="'font-medium-2'" [ngClass.lt-md]="'font-small-3'">
              <kep-icon type="duotone" class="text-white mr-25" name="contest"></kep-icon>
              {{ 'Contests' | translate }}: {{ data.contestantsCount }}
            </div>
          </div>
        </div>
      }
    }
  </div>
</div>

<div class="useful-links row">
  <div class="col-6 pr-md-1 pr-25">
    <a class="btn btn-primary" routerLink="/learn/blog/post/54" [ngClass.lt-md]="'font-small-3'">
      {{ 'AboutContestTypes' | translate }}
    </a>
  </div>

  <div class="col-6 pl-md-1 pl-25">
    <a class="btn btn-primary" routerLink="/learn/blog/post/5" [ngClass.lt-md]="'font-small-3'">
      {{ 'RecommendationsForParticipateContests' | translate }}
    </a>
  </div>
</div>
