<ul class="lightrope">
  @for (_ of [].constructor(lightsCount); track _){
    <li></li>
  }
</ul>

@defer (when coreConfig.layout.type === 'vertical') {
  @if (coreConfig.layout.type === 'vertical'){
    <vertical-layout></vertical-layout>
  }
}

@defer (when coreConfig.layout.type === 'horizontal') {
  @if (coreConfig.layout.type === 'horizontal'){
    <horizontal-layout></horizontal-layout>
  }
}

<!-- FOOTER -->
<ng-container *ngTemplateOutlet="footer"></ng-container>
<!--/ FOOTER -->

<!-- FOOTER -->
<ng-template #footer>
  @if (!coreConfig.layout.footer.hidden) {
    <footer
      class="footer"
      [class]="[coreConfig.layout.footer.background, coreConfig.layout.footer.type]"
    ></footer>
  }
</ng-template>
<!-- / FOOTER -->
