<div class="mt-2 text-dark">
  <mathjax [content]="problem.body" *ngIf="problem.id != 1637"></mathjax>
</div>

<problem1615 *ngIf="problem.id == 1615"></problem1615>
<problem1623 *ngIf="problem.id == 1623"></problem1623>
<problem1624 *ngIf="problem.id == 1624"></problem1624>
<problem1628 *ngIf="problem.id == 1628"></problem1628>
<problem1630 *ngIf="problem.id == 1630"></problem1630>
<problem1631 *ngIf="problem.id == 1631"></problem1631>
<problem1633 *ngIf="problem.id == 1633"></problem1633>
<problem1634 *ngIf="problem.id == 1634"></problem1634>
<problem1635 *ngIf="problem.id == 1635"></problem1635>
<problem1637 *ngIf="problem.id == 1637"></problem1637>
<problem1638 *ngIf="problem.id == 1638"></problem1638>
<problem1639 *ngIf="problem.id == 1639"></problem1639>
<problem1703 [problem]="problem" *ngIf="problem.id == 1703"></problem1703>
<problem1733 [problem]="problem" *ngIf="problem.id == 1733"></problem1733>
<problem1734 [problem]="problem" *ngIf="problem.id == 1734"></problem1734>
<problem1735 [problem]="problem" *ngIf="problem.id == 1735"></problem1735>
<problem1736 [problem]="problem" *ngIf="problem.id == 1736"></problem1736>
<problem1737 *ngIf="problem.id == 1737"></problem1737>
<problem1739 [problem]="problem" *ngIf="problem.id == 1739"></problem1739>
<problem1740 [problem]="problem" *ngIf="problem.id == 1740"></problem1740>
<problem1741 [problem]="problem" *ngIf="problem.id == 1741"></problem1741>
<problem1742 [problem]="problem" *ngIf="problem.id == 1742"></problem1742>
<problem1743 [problem]="problem" *ngIf="problem.id == 1743"></problem1743>
<problem1744 [problem]="problem" *ngIf="problem.id == 1744"></problem1744>
<problem1840 [problem]="problem" *ngIf="problem.id == 1840"></problem1840>
<problem1841 [problem]="problem" *ngIf="problem.id == 1841"></problem1841>
<problem1842 *ngIf="problem.id == 1842"></problem1842>
<problem1843 *ngIf="problem.id == 1843"></problem1843>
<problem1869 *ngIf="problem.id == 1869"></problem1869>
<problem1903 *ngIf="problem.id == 1903"></problem1903>
<problem1905 *ngIf="problem.id == 1905"></problem1905>

<hr>

<ng-container *ngIf="problem.inputData?.length > 0">
  <h4 class="mt-2 mb-2 text-dark font-medium-5">
    {{ 'INPUT_DATA' | translate }}:
  </h4>

  <mathjax class="mt-2 text-dark" [content]="problem.inputData"></mathjax>
</ng-container>

<ng-container *ngIf="problem.outputData?.length > 0">
  <h4 class="mt-2 mb-2 text-dark font-medium-5">
    {{ 'OUTPUT_DATA' | translate }}:
  </h4>

  <mathjax class="mt-2 text-dark" [content]="problem.outputData"></mathjax>
  <hr>
</ng-container>

<ng-container *ngIf="problem.sampleTests.length > 0">
  <h4 class="mt-2 mb-1 font-medium-5 text-dark">
    {{ 'SAMPLE_TESTS' | translate }}
  </h4>

  <ng-container *ngFor="let sampleTest of problem.sampleTests">
    <div class="mt-2 mb-2 table-responsive">
      <table class="table sample-test">
        <thead>
          <tr class="bg-gradient-primary">
            <th>
              <div class="row justify-content-between align-items-center">
                <div class="pl-1 font-small-4">
                  {{ 'INPUT' | translate }}
                </div>
                <clipboard-button [text]="sampleTest.input"></clipboard-button>
              </div>
            </th>
            <th>
              <div class="row justify-content-between align-items-center">
                <div class="pl-1 font-small-4">
                  {{ 'OUTPUT' | translate }}
                </div>
                <clipboard-button [text]="sampleTest.output"></clipboard-button>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pl-2">
              <pre [innerText]="sampleTest.input"></pre>
            </td>
            <td class="pl-2">
              <pre [innerText]="sampleTest.output"></pre>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

</ng-container>

<ng-container *ngIf="problem.comment?.length > 0">
  <h4 class="mt-3 font-medium-4 text-dark">
    {{ 'COMMENT' | translate }}:
  </h4>

  <mathjax class="mt-2 text-dark" [content]="problem.comment"></mathjax>
  <hr>
</ng-container>

<problem1870 *ngIf="problem.id == 1870"></problem1870>
