<div [class]="cardClass">
  @if (loading) {
    <div style="background: none;" [style.height]="spinnerHeight">
      <spinner></spinner>
    </div>
  } @else if(empty) {
    <empty-result></empty-result>
  } @else {
    <div class="table-responsive" [class]="tableCardClass">
      <table class="table" [class]="tableClass">
        <thead>
         <ng-content select="[header]"></ng-content>
        </thead>
        <tbody>
          <ng-content select="[body]"></ng-content>
        </tbody>
        <tfoot>
          <ng-content select="[footer]"></ng-content>
        </tfoot>
      </table>
    </div>
  }
</div>

@if(!empty){
  <ng-content select="[pagination]"></ng-content>
}
