<kep-card>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center mb-2">
          <i data-feather="activity" class="font-medium-3"></i>
          <h4 class="mb-0 ms-2">Skills</h4>
        </div>
      </div>
      <div class="col-lg-8 col-12 mx-auto">
        <div class="mb-1">
          <label><h5>Python</h5></label>
          <nouislider
            [connect]="true"
            [behaviour]="'drag'"
            [tooltips]="true" [min]="0"
            [max]="100"
            [step]="1"
            [(ngModel)]="userSkills.python"
            [ngModelOptions]="{standalone: true}">
          </nouislider>
        </div>
      </div>
      <div class="col-lg-8 col-12 mx-auto">
        <div class="mb-1">
          <label><h5>Web development</h5></label>
          <nouislider
            [connect]="true"
            [behaviour]="'drag'"
            [tooltips]="true" [min]="0"
            [max]="100"
            [step]="1"
            [(ngModel)]="userSkills.webDevelopment"
            [ngModelOptions]="{standalone: true}">
          </nouislider>
        </div>
      </div>
      <div class="col-lg-8 col-12 mx-auto">
        <div class="mb-1">
          <label><h5>Web Scraping</h5></label>
          <nouislider
            [connect]="true"
            [behaviour]="'drag'"
            [tooltips]="true" [min]="0"
            [max]="100"
            [step]="1"
            [(ngModel)]="userSkills.webScraping"
            [ngModelOptions]="{standalone: true}">
          </nouislider>
        </div>
      </div>
      <div class="col-lg-8 col-12 mx-auto">
        <div class="mb-1">
          <label><h5>Algorithms</h5></label>
          <nouislider
            [connect]="true"
            [behaviour]="'drag'"
            [tooltips]="true" [min]="0"
            [max]="100"
            [step]="1"
            [(ngModel)]="userSkills.algorithms"
            [ngModelOptions]="{standalone: true}">
          </nouislider>
        </div>
      </div>
      <div class="col-lg-8 col-12 mx-auto">
        <div class="mb-1">
          <label><h5>Data Science</h5></label>
          <nouislider
            [connect]="true"
            [behaviour]="'drag'"
            [tooltips]="true" [min]="0"
            [max]="100"
            [step]="1"
            [(ngModel)]="userSkills.dataScience"
            [ngModelOptions]="{standalone: true}">
          </nouislider>
        </div>
      </div>
      <div class="col-12 mt-2">
        <div class="d-flex align-items-center mb-2">
          <i data-feather="slack" class="font-medium-3"></i>
          <h4 class="mb-0 ms-2">Technologies</h4>
        </div>
      </div>
      <div class="col-12">
        <div action="#" class="invoice-repeater">
          @for (userTechnology of userTechnologies; track userTechnology; let i = $index) {
            <div @heightIn>
              <div class="row d-flex align-items-end">
                <div class="col-md-4 col-12">
                  <div class="mb-1">
                    <label for="itemName{{ i }}">Text</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="userTechnology.text"
                      name="text{{ i }}"
                      id="text{{ i }}"
                      placeholder=""
                    />
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="mb-1">
                    <label for="iconClass{{ i }}">Dev Icon Class</label>
                    <ng-select
                      appendTo="body"
                      [items]="devIcons"
                      [(ngModel)]="userTechnology.devIconClass"
                      [ngModelOptions]="{standalone: true}">
                      <ng-template ng-option-tmp ng-label-tmp let-item="item">
                        <i [class]="item"></i>
                        {{ item }}
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-2 col-12">
                  <div class="mb-1">
                    <label for="color{{ i }}">Badge Color</label>
                    <input
                      type="text"
                      class="form-control"
                      id="color{{ i }}"
                      name="color{{ i }}"
                      [(colorPicker)]="userTechnology.badgeColor"
                      [(ngModel)]="userTechnology.badgeColor"
                      placeholder=""
                    />
                  </div>
                </div>
                <div class="col-md-2 col-12">
                  <div class="mb-1">
                    <span class="badge"
                          [style.background]="userTechnology.badgeColor"
                          [style.box-shadow]="'0px 0px 10px' + userTechnology.badgeColor">
                      <i class="{{ userTechnology.devIconClass }} "></i>
                      {{ userTechnology.text }}
                    </span>
                  </div>
                </div>
                <div class="col-md-2 col-12 mb-50">
                  <div class="mb-1">
                    <button class="btn btn-outline-danger text-nowrap px-1" (click)="deleteTechnology(i)" rippleEffect>
                      <i data-feather="x" class="me-25"></i>
                      <span>Delete</span>
                    </button>
                  </div>
                </div>
              </div>
              <hr/>
            </div>
          }
        </div>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-icon btn-primary" type="button" (click)="addTechnology()" rippleEffect>
              <i data-feather="plus" class="me-25"></i>
              <span>Add New</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button (click)="save()" type="submit" class="btn btn-primary mt-1 me-1" rippleEffect>Save</button>
        <button (click)="reset()" type="reset" class="btn btn-outline-secondary mt-1" rippleEffect>Reset</button>
      </div>
    </div>
  </div>
</kep-card>

<nouslider-css></nouslider-css>
<ng-select-css></ng-select-css>
