@if (isLoading && !technologies.length) {
  <kep-card>
    <div class="card-body py-5 text-center">
      <spinner></spinner>
    </div>
  </kep-card>
} @else if (technologies.length) {
  <kep-card>
    <div class="card-body">
      <h4 class="mb-0">
        <i data-feather="slack"></i>
        {{ 'UserInfo.Technologies' | translate }}
      </h4>
      <div class="user-technologies mt-2 d-flex gap-1 flex-wrap">
        @for (technology of technologies; track technology) {
          <span [style.background]="technology.badgeColor" class="badge">
            <i class="{{ technology.devIconClass }} "></i>
            {{ technology.text }}
          </span>
        }
      </div>
    </div>
  </kep-card>
} @else {
  <kep-card>
    <div class="card-body py-5 text-center text-muted">
      {{ 'NoData' | translate }}
    </div>
  </kep-card>
}
