<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <kep-card>
      <div class="card-body">
        <div [formGroup]="filterForm" class="row">
          <div class="col-6 col-md-3">
            <div class="">
              <label>{{ 'Username' | translate }}</label>
              <input
                class="form-control"
                formControlName="username"
                type="text"
              >
            </div>
          </div>

          <div class="col-6 col-md-3">
            <div class="">
              <label>{{ 'Name' | translate }}</label>
              <input
                class="form-control"
                formControlName="firstName"
                type="text"
              >
            </div>
          </div>

          <div class="col-6 col-md-3">
            <div class="">
              <label>{{ 'Country' | translate }}</label>
              <ng-select
                [clearable]="false"
                appendTo="body"
                formControlName="country">
                <ng-option [value]="''">
                </ng-option>
                @for (country of countries; track country) {
                  <ng-option [value]="country.id.toLowerCase()">
                    <span class="fi fi-{{ country.id.toLowerCase() }}"></span>
                    {{ country.name }}
                  </ng-option>
                }
              </ng-select>
            </div>
          </div>

          <div class="col-6 col-md-3">
            <div class="">
              <label>{{ 'Age' | translate }}</label>
              <div class="d-flex" style="align-items: center;">
                <input
                  class="form-control"
                  formControlName="ageFrom"
                  type="number"
                >
                <span class="ms-1 me-1">
                  —
                </span>
                <input
                  class="form-control"
                  formControlName="ageTo"
                  type="number"
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </kep-card>

    <kep-table [empty]="!isLoading && users?.length === 0" [loading]="isLoading" [spinnerHeight]="'807px'">
      <ng-container header>
        <tr>
          <th>
            <table-ordering
              (change)="orderingChange($event)"
              [justifyContent]="'start'"
              [ordering]="'id'"
              [reverse]="true"
              [value]="ordering">
              <kep-icon name="user"></kep-icon>
              {{ 'User' | translate }}
            </table-ordering>
          </th>

          <th>
            <table-ordering
              (change)="orderingChange($event)"
              [justifyContent]="'start'"
              [ordering]="'first_name'"
              [value]="ordering">
              <kep-icon name="username"></kep-icon>
              {{ 'FullName' | translate }}
            </table-ordering>
          </th>

          <th class="text-center">
            <table-ordering
              (change)="orderingChange($event)"
              [ordering]="'skills_rating'"
              [reverse]="true"
              [value]="ordering">
              <kep-icon name="rating"></kep-icon>
              {{ 'Rating' | translate }}
            </table-ordering>
          </th>

          <th class="text-center">
            <table-ordering
              (change)="orderingChange($event)"
              [ordering]="'activity_rating'"
              [reverse]="true"
              [value]="ordering">
              <kep-icon name="rating"></kep-icon>
              {{ 'ActivityRating' | translate }}
            </table-ordering>
          </th>

          <th class="text-center">
            <table-ordering
              (change)="orderingChange($event)"
              [ordering]="'contests_rating__rating'"
              [reverse]="true"
              [value]="ordering">
              <kep-icon name="contest"></kep-icon>
              {{ 'Contests' | translate }}
            </table-ordering>
          </th>

          <th class="text-center">
            <table-ordering
              (change)="orderingChange($event)"
              [ordering]="'challenges_rating__rating'"
              [reverse]="true"
              [value]="ordering">
              <kep-icon name="challenge"></kep-icon>
              {{ 'Challenges' | translate }}
            </table-ordering>
          </th>

          <th class="text-center">
            <table-ordering
              (change)="orderingChange($event)"
              [ordering]="'streak'"
              [reverse]="true"
              [value]="ordering">
              <kep-icon name="streak"></kep-icon>
              {{ 'Streak' | translate }}
            </table-ordering>
          </th>

          <th class="text-center">
            <table-ordering
              (change)="orderingChange($event)"
              [ordering]="'kepcoin'"
              [reverse]="true"
              [value]="ordering">
              <kep-icon name="dollar"></kep-icon>
              {{ 'Kepcoin' | translate }}
            </table-ordering>
          </th>

          <th class="text-center">
            <table-ordering
              (change)="orderingChange($event)"
              [ordering]="'last_seen'"
              [reverse]="true"
              [value]="ordering">
              <kep-icon name="time"></kep-icon>
              {{ 'LastSeen' | translate }}
            </table-ordering>
          </th>
        </tr>
      </ng-container>

      <ng-container body>
        @for (user of users; track user) {
          <tr
            [class]="{'bg-light-primary': user.username == currentUser?.username}">
            <td>
              <a class="d-flex align-items-center" href="/users/user/{{ user.username }}">
                <div class="avatar avatar-rounded me-2">
                  <img alt="Avatar" height="48" class="avatar-rounded" src="{{ user.avatar }}" width="48">
                </div>
                <span class="font-medium-1">
                  {{ user.username }}
                  <span class="ms-1 fi fi-{{ user.country }}"></span>
                </span>
              </a>
            </td>
            <td>
              <span class="fw-medium">
                {{ user.firstName }} {{ user.lastName }}
              </span>
            </td>
            <td class="text-center">
              <span class="badge bg-primary badge-pill">
                {{ user.skillsRating.value }}
              </span>
            </td>
            <td class="text-center">
              <span class="badge bg-info badge-pill">
                {{ user.activityRating.value }}
              </span>
            </td>
            <td class="text-center">
              <contests-rating-image [title]="user.contestsRating.title"></contests-rating-image>
              <span class="ms-1 fw-medium">
                {{ user.contestsRating.value }}
              </span>
            </td>
            <td class="text-center">
              <challenges-rank-badge
                [rating]="user.challengesRating.value"
                [title]="user.challengesRating.title">
              </challenges-rank-badge>
            </td>
            <td class="text-center">
              <streak [streak]="user.streak" [maxStreak]="user.maxStreak"></streak>
              <br>
              <streak [streak]="user.maxStreak"></streak>
            </td>
            <td class="text-center">
              <kepcoin [value]="user.kepcoin"></kepcoin>
            </td>
            <td class="text-center">
              <span class="badge bg-success-transparent">
                {{ user.lastSeen }}
              </span>
            </td>
          </tr>
        }
      </ng-container>
      <ng-container pagination>
        @if (total) {
          <kep-pagination
            (pageChange)="pageChange($event)"
            (pageSizeChange)="pageSizeChange($event)"
            [(page)]="pageNumber"
            [collectionSize]="total"
            [maxSize]="maxSize"
            [disabled]="isLoading"
            [pageOptions]="pageOptions"
            [pageSize]="pageSize"
          ></kep-pagination>
        }
      </ng-container>
    </kep-table>
  </div>
</div>

<ng-select-css></ng-select-css>
