@import 'styles/kep-imports';
@import 'scss/variables';

app-tournaments .ki-duotone {
  color: $tournaments-color !important;

  @include dark-layout {
    color: $tournaments-color !important;
  }
}

.tournaments-section-header {
  .card {
    background: $tournaments-bg;

    @include dark-layout {
      background: $tournaments-bg-dark !important;
    }
  }

  .btn {
    border: none;
    background: $tournaments-color !important;

    @include dark-layout {
      background-color: #08073a !important;
    }
  }

  .useful-links {
    display: flex;
    margin-bottom: 2rem;

    .btn {
      width: 100%;

      @include dark-layout {
        background: $tournaments-bg-dark !important;
      }
    }
  }
}
