<div class="row">
  <div class="col-12 mb-4 tournaments-page-top">
    <div class="text-center">
      <div [@fadeInUpOnEnter] class="avatar avatar-lg p-50 m-0 mt-1 mb-1 tournaments-icon">
        <div class="avatar-content" ngbTooltip="{{ 'Challenges' | translate }}">
          <i class="font-large-1" data-feather="award"></i>
        </div>
      </div>

      <h2 [@fadeInUpOnEnter] class="mt-2">
        <span class="text-white">{{ 'Tournaments' | translate }}</span>
      </h2>

      <div class="mt-4 col-lg-8 col-12 offset-lg-2 offset-0">
        <div class="row">
          <div class="col-12 col-md-6">
            <a [@fadeInLeftOnEnter] class="card card-info" routerLink="/learn/blog/post/74">
              <div class="card-header">
                <div class="card-title">
                  {{ 'AboutTournaments' | translate }}
                </div>
              </div>
              <div class="info-img">
                <img src="assets/images/pages/forgot-password.png" alt="info-img">
              </div>
            </a>
          </div>

          <div class="col-12 col-md-6">
            <a [@fadeInRightOnEnter] class="card card-info" routerLink="/learn/blog/post/73">
              <div class="card-header">
                <div class="card-title">
                  {{ 'AboutDuels' | translate }}
                </div>
              </div>
              <div class="info-img">
                <img src="assets/images/pages/maintenance.png" alt="info-img">
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="mt-2 col-lg-8 col-12 offset-lg-2">
    @for (tournament of tournaments; track tournament) {
      <div class="bg-tournaments-list">
        <tournament-list-card [@fadeInOnEnter] [tournament]="tournament"></tournament-list-card>
      </div>
    }
  </div>
</div>
