@import 'styles/kep-imports';

.test-header {
  margin-top: 8rem;
  text-align: center;

  .chapter {
    .chapter-title {
      margin-top: 1rem;
      font-size: 1.5rem;
    }

    .chapter-icon {
      height: 120px;

      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .test-title {
    margin-top: 2rem;
    font-size: 2.5rem;
  }
  
  .test-description {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    margin-top: 2rem;
  }

  .test-pass-button {
    margin-top: 2rem;
  }

  .test-pass-info {
    margin-top: 2rem;
  }

  .test-info {
    margin-left: 5rem;
    margin-right: 5rem;
  }

}

.table td {
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
}
