<kep-card>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="mb-1">
          <label for="account-old-password">Old Password</label>
          <div class="input-group form-password-toggle input-group-merge">
            <input
              [type]="passwordOldType ? 'text' : 'password'"
              class="form-control"
              id="account-old-password"
              name="password"
              [(ngModel)]="passwordOld"
              placeholder="Old Password"/>
            <div class="input-group-append">
              <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                        'icon-eye-off': passwordOldType,
                        'icon-eye': !passwordOldType
                      }" (click)="passwordOldType = !passwordOldType"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="mb-1">
          <label for="account-new-password">New Password</label>
          <div class="input-group form-password-toggle input-group-merge">
            <input
              [type]="passwordNewType ? 'text' : 'password'"
              id="account-new-password"
              name="new-password"
              class="form-control"
              placeholder="New Password"
              [(ngModel)]="passwordNew"
            />
            <div class="input-group-append">
              <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                        'icon-eye-off': passwordNewType,
                        'icon-eye': !passwordNewType
                      }" (click)="passwordNewType = !passwordNewType"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="mb-1">
          <label for="account-retype-new-password">Retype New Password</label>
          <div class="input-group form-password-toggle input-group-merge">
            <input
              [type]="passwordConfirmType ? 'text' : 'password'"
              class="form-control"
              id="account-retype-new-password"
              name="confirm-new-password"
              placeholder="New Password"
              [(ngModel)]="passwordConfirm"
            />
            <div class="input-group-append">
              <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                        'icon-eye-off': passwordConfirmType,
                        'icon-eye': !passwordConfirmType
                      }" (click)="passwordConfirmType = !passwordConfirmType"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button (click)="change()" type="submit" class="btn btn-primary me-1 mt-1" rippleEffect>Change</button>
      </div>
    </div>
  </div>
</kep-card>
