.bg-challenge-call {
  background: #86BBF6 !important;
  box-shadow: 0 0 10px #5DA2EE !important;
  border: none;
}

::ng-deep .dark-layout .bg-challenge-call {
  background: #393575 !important;
  box-shadow: 0 0 10px #4e5e99 !important;
}
