<section class="problems" [@mobile]="startAnimationMobileState">
  <div class="row">
    <div class="col-12">
      <div class="problems-page-top"></div>
  
      <div class="row">
        <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
          <div class="row">
            <div [@fadeInRight]="startAnimationState" class="col-lg-9 col-md-6 col-sm-12">
              <section-contests></section-contests>            
            </div>
            <div [@fadeInRight]="startAnimationState" class="col-lg-3 col-md-6 col-sm-12">
              <section-info></section-info>
            </div>
            <div class="col-12" [@fadeInLeft]="startAnimationState">
              <section-study-plans></section-study-plans>                  
            </div>
          </div>
          <section-topics (topicClick)="topicClick($event)"></section-topics>
          <section-problems-filter (filterChange)="filterChange($event)"></section-problems-filter>
          <section-problems-table (tagClick)="tagClick($event)" [problems]="problems"></section-problems-table>
          <ngb-pagination
            *ngIf="problems.length > 0"
            [collectionSize]="problemsCount"
            [(page)]="currentPage"
            [pageSize]="20"
            [maxSize]="5"
            [rotate]="true"
            (pageChange)="reloadProblems()"
            class="d-flex justify-content-center mt-1 mb-1">
            <ng-template ngbPaginationPrevious>
              <span [data-feather]="'chevron-left'" [size]="18" [class]="'font-weight-bolder'"></span>
            </ng-template>
            <ng-template ngbPaginationNext>
              <span [data-feather]="'chevron-right'" [size]="18" [class]="'font-weight-bolder'"></span>
            </ng-template>
          </ngb-pagination>
        </div>
        <div [@fadeInRight]="startAnimationState" class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
          <section-sidebar></section-sidebar>
        </div>
      </div>
    </div>
  </div>
</section>

<nouslider-css></nouslider-css>
<ng-select-css></ng-select-css>
