@import 'scss/base/bootstrap-extended/variables';
@import 'bootstrap/scss/mixins/dark-layout';
@import 'bootstrap/scss/mixins/breakpoints';
@import 'bootstrap/scss/mixins/define-page-top';

@include define-page-top(
  $name: 'problems',
  $light-background: linear-gradient(to right, mix($green, mix(black, $primary, 5), 10), mix(white, $primary, 15)),
  $dark-background: linear-gradient(to right, mix($green, mix(black, $primary, 70), 25), mix(black, $primary, 40))
);

::ng-deep .problems-sidebar {
  width: 400px;
  right: -400px;

  @include media-breakpoint-down(sm) {
    width: calc(100% - 40px);
    right: calc(40px - 100%);
  }

  background-color: white;

  @include dark-layout {
    background-color: black;
  }

  padding: 0;
  z-index: 1051;
  position: fixed;
  top: 0;
  bottom: 0;
  height: calc(var(--vh, 1vh) * 100);
  transition: right 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
  backface-visibility: hidden;
  border-left: 1px solid rgba($black, 0.05);

  &.show {
    box-shadow: 0 15px 30px 0 rgba($black, 0.11), 0 5px 15px 0 rgba($black, 0.08);
    right: 0;
  }

  .btn-toggle {
    background: $primary;
    color: $white !important;
    display: block;
    box-shadow: -3px 0px 8px rgba($black, 0.1);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: absolute;
    top: 50%;
    width: 38px;
    height: 38px;
    left: -39px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }

}
