@import '@core/scss/base/bootstrap-extended/variables';
@import 'bootstrap/scss/mixins/dark-layout';
@import 'bootstrap/scss/mixins/breakpoints';
@import 'bootstrap/scss/mixins/define-page-top';

@include define-page-top(
  $name: 'problems',
  $light-background: linear-gradient(to right, $primary, mix(white, $primary, 30)),
  $dark-background: linear-gradient(to right, mix($green, mix(black, $primary, 50), 25), mix(black, $primary, 25))
)
