<section class="problems">
  <div class="problems-page-top">
    <div class="row">
      <div class="col-12">
        <section-info></section-info>
      </div>
      <div class="col-lg-10 col-12 offset-0 offset-lg-1">
        <section-study-plans></section-study-plans>
        <section-topics></section-topics>
        <section-problems-filter></section-problems-filter>
        <section-problems-table></section-problems-table>
      </div>
    </div>
  </div>
</section>

<core-sidebar [hideOnEsc]="true" class="problems-sidebar" [name]="'problemsSidebar'">
  <a
    (click)="toggleSidebar('problemsSidebar')"
    class="btn-toggle d-flex align-items-center justify-content-center">
    <span [data-feather]="'chevrons-left'"></span>
  </a>
  @defer (on viewport) {
    <ng-scrollbar autoHeightDisabled="false">
      <section-sidebar></section-sidebar>
    </ng-scrollbar>
  } @placeholder {
    <spinner></spinner>
  }
</core-sidebar>
