@if (isLoading && !userInfo) {
  <kep-card>
    <div class="card-body py-5 text-center">
      <spinner></spinner>
    </div>
  </kep-card>
} @else if (userInfo) {
  <kep-card>
    <div class="card-body">
      <h4 class="mb-75">
        <i data-feather="info"></i>
        {{ 'UserInfo.About' | translate }}
      </h4>
      <p [innerHTML]="userInfo.bio" class="card-text"></p>
      @if (userInfo.dateOfBirth) {
        <div class="mt-2">
          <h5 class="mb-75">
            <i data-feather="calendar"></i>
            {{ 'UserInfo.WasBorn' | translate }}:
          </h5>
          <p class="card-text">{{ userInfo.dateOfBirth | date:'MMM d, y' }}</p>
        </div>
      }
      @if (userInfo.country || userInfo.region) {
        <div class="mt-2">
          <h5 class="mb-75">
            <i data-feather="map-pin"></i>
            {{ 'UserInfo.Lives' | translate }}:
          </h5>
          <p class="card-text">
            <span class="me-1 fi fi-{{ userInfo.country }}"></span>
            {{ userInfo.country | countryName }}
            @if (userInfo.region) {
              <span>- {{ userInfo.region }}</span>
            }
          </p>
        </div>
      }
      @if (userInfo.email) {
        <div class="mt-2">
          <h5 class="mb-75">
            <i data-feather="mail"></i>
            {{ 'UserInfo.Email' | translate }}:
          </h5>
          <p class="card-text">{{ userInfo.email }}</p>
        </div>
      }
      @if (userInfo.website) {
        <div class="mt-2">
          <h5 class="mb-50">
            <i data-feather="globe"></i>
            {{ 'UserInfo.Website' | translate }}:
          </h5>
          <a href="{{ userInfo.website }}">{{ userInfo.website }}</a>
        </div>
      }
      <div class="mt-2">
        <h5 class="mb-75">
          <i data-feather="calendar"></i>
          {{ 'UserInfo.Joined' | translate }}:
        </h5>
        <p class="card-text">{{ userInfo.dateJoined | date:'MMM d, y, H:mm' }}</p>
      </div>
    </div>
  </kep-card>
} @else {
  <kep-card>
    <div class="card-body py-5 text-center text-muted">
      {{ 'NoData' | translate }}
    </div>
  </kep-card>
}
