<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="mt-2">
      <kep-table [spinnerHeight]="'701px'" [loading]="!total && isLoading">
        <ng-container header>
          <tr>
            <th>#</th>
            <th>{{ 'User' | translate }}</th>
            @for (difficulty of difficultyLabels; track difficulty) {
              <th class="text-center">
                <table-ordering
                  (change)="orderingChange($event)"
                  [justifyContent]="'between'"
                  [ordering]="difficulty"
                  [reverse]="true"
                  [value]="ordering">
                  {{ difficulty | titlecase | translate }}
                </table-ordering>
              </th>
            }

            <th class="text-center">
              <table-ordering
                (change)="orderingChange($event)"
                [justifyContent]="'center'"
                [ordering]="'solved'"
                [reverse]="true"
                [value]="ordering">
                <kep-icon name="check-square"></kep-icon>
              </table-ordering>
            </th>

            <th class="text-center">
              <table-ordering
                (change)="orderingChange($event)"
                [justifyContent]="'center'"
                [ordering]="'rating'"
                [reverse]="true"
                [value]="ordering">
                <kep-icon name="rating"></kep-icon>
              </table-ordering>
            </th>
          </tr>
        </ng-container>
        <ng-container body>
          @for (problemsRating of problemsRatingList; track problemsRating) {
            <tr
              [ngClass]="{'bg-primary-transparent': currentUser?.username == problemsRating?.user?.username }">
              <td>{{ problemsRating.rowIndex }}</td>
              <td>
                <contestant-view [user]="problemsRating.user"></contestant-view>
              </td>
              <td class="text-center text-success">{{ problemsRating.beginner }}</td>
              <td class="text-center text-info">{{ problemsRating.basic }}</td>
              <td class="text-center text-blue">{{ problemsRating.normal }}</td>
              <td class="text-center text-primary">{{ problemsRating.medium }}</td>
              <td class="text-center text-warning">{{ problemsRating.advanced }}</td>
              <td class="text-center text-danger">{{ problemsRating.hard }}</td>
              <td class="text-center text-dark">{{ problemsRating.extremal }}</td>
              <td class="text-center">
                <span class="badge bg-primary">
                  {{ problemsRating.solved }}
                </span>
              </td>
              <td class="text-center">
                <span class="badge bg-success-transparent">
                  {{ problemsRating.rating }}
                </span>
              </td>
            </tr>
          }
        </ng-container>
        <ng-container pagination>
          <div class="mb-1">
            <kep-pagination
              (pageChange)="pageChange($event)"
              (pageSizeChange)="pageSizeChange($event)"
              [collectionSize]="total"
              [maxSize]="maxSize"
              [disabled]="isLoading"
              [pageOptions]="pageOptions"
              [pageSize]="pageSize"
              [page]="pageNumber">
            </kep-pagination>
          </div>
        </ng-container>
      </kep-table>

      <period-ratings/>
    </section>
  </div>
</div>
