<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="mt-2">
      <kep-table [loading]="!total && isLoading">
        <ng-container header>
          <tr class="bg-gradient-primary">
            <th>#</th>
            <th>{{ 'USER' | translate }}</th>
            @for (difficulty of difficultyLabels; track difficulty) {
              <th class="text-center">
                <table-ordering
                  (change)="orderingChange($event)"
                  [justifyContent]="'between'"
                  [ordering]="difficulty"
                  [reverse]="true"
                  [value]="ordering">
                  {{ difficulty | uppercase | translate }}
                </table-ordering>
              </th>
            }

            <th class="text-center">
              <table-ordering
                (change)="orderingChange($event)"
                [justifyContent]="'center'"
                [ordering]="'solved'"
                [reverse]="true"
                [value]="ordering">
                <kep-icon name="check-square"></kep-icon>
              </table-ordering>
            </th>

            <th class="text-center">
              <table-ordering
                (change)="orderingChange($event)"
                [justifyContent]="'center'"
                [ordering]="'rating'"
                [reverse]="true"
                [value]="ordering">
                <kep-icon name="rating"></kep-icon>
              </table-ordering>
            </th>
          </tr>
        </ng-container>
        <ng-container body>
          @for (problemsRating of problemsRatingList; track problemsRating; let i = $index) {
            <tr
              [ngClass]="{'bg-light-primary': currentUser?.username == problemsRating.user.username }">
              <td>{{ problemsRating.rowIndex }}</td>
              <td>
                <contestant-view [user]="problemsRating.user"></contestant-view>
              </td>
              <td class="text-center text-success">{{ problemsRating.beginner }}</td>
              <td class="text-center text-info">{{ problemsRating.basic }}</td>
              <td class="text-center text-blue">{{ problemsRating.normal }}</td>
              <td class="text-center text-primary">{{ problemsRating.medium }}</td>
              <td class="text-center text-warning">{{ problemsRating.advanced }}</td>
              <td class="text-center text-danger">{{ problemsRating.hard }}</td>
              <td class="text-center text-dark">{{ problemsRating.extremal }}</td>
              <td class="text-center">
                <span class="badge badge-primary badge-glow">
                  {{ problemsRating.solved }}
                </span>
              </td>
              <td class="text-center">
                <span class="badge badge-light-success badge-glow">
                  {{ problemsRating.rating }}
                </span>
              </td>
            </tr>
          }
        </ng-container>
        <ng-container pagination>
          @if (total) {
            <kep-pagination
              (pageChange)="pageChange($event)"
              (pageSizeChange)="pageSizeChange($event)"
              [collectionSize]="total"
              [maxSize]="maxSize"
              [pageOptions]="pageOptions"
              [pageSize]="pageSize"
              [page]="pageNumber">
            </kep-pagination>
          }
        </ng-container>
      </kep-table>

      <div class="row mt-1">
        @for (rating of currentRatings;track rating.period) {
          <div class="col-lg-4 col-12">
            <div class="card">
              <div class="card-header">
                <div class="card-title">
                  {{ rating.period | uppercase | translate }}
                </div>
                <a class="btn-sm btn btn-{{ rating.color }}" routerLink="history">
                  {{ 'History' | translate }}
                  <i data-feather="arrow-right"></i>
                </a>
              </div>

              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr class="bg-gradient-{{ rating.color }}">
                      <th class="text-white text-center">#</th>
                      <th class="text-white">{{ 'USER' | translate }}</th>
                      <th class="text-white text-center"><i [data-feather]="'problem' | iconName"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (userRating of rating.data; track userRating; let i = $index) {
                      <tr
                        [class]="currentUser?.username == userRating.username ? 'bg-light'+rating.color : ''">
                        <td class="text-center">{{ i + 1 }}</td>
                        <td><contestant-view [user]="userRating"></contestant-view></td>
                        <td class="text-center">
                          <span class="badge badge-glow badge-{{ rating.color }}">
                            {{ userRating.solved }}
                          </span>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        }
      </div>
    </section>
  </div>
</div>
