<div class="card" #screen style="width: 50%;">
  <div class="card-body">
    <h3 class="mb-2">
      {{ problem.id }}. {{ problem.title }}
    </h3>

    <span ngbTooltip="{{ 'DIFFICULTY' | translate }}"
      class="badge-pill badge-glow badge badge-{{ problem.difficulty | problemDifficultyColor }}">
      {{ problem.difficultyTitle | translate }}
    </span>

    <span class="problem-header-sep"></span>

    <span class="badge badge-primary badge-pill">
      <i [data-feather]="'user' | iconName"></i>
      <user-popover [textColor]="'white'" [placement]="'bottom'" [username]="problem.authorUsername">
      </user-popover>
    </span>

    <span class="problem-header-sep"></span>


    <span class="problem-header-sep"></span>

    <span class="badge badge-info badge-pill">
      {{ problem.timeLimit }} {{ 'MS' | translate }}
    </span>
    <span class="badge badge-pill badge-primary">
      {{ problem.memoryLimit }} {{ 'MB' | translate }}
    </span>

    <div class="mt-2">
      <span *ngFor="let availableLanguage of problem.availableLanguages">
        <a class="badge-pill text-white badge badge-{{ availableLanguage.lang }}">
          {{ availableLanguage.lang | langFullName }}
        </a>
      </span>
    </div>

    <hr>

    <mathjax [content]="problem.body"></mathjax>
    <hr>

    <ng-container *ngIf="problem.inputData?.length > 0">
      <h4 class="mt-2">
        <strong>
          {{ 'INPUT_DATA' | translate }}:
        </strong>
      </h4>

      <mathjax class="mt-2" [content]="problem.inputData"></mathjax>
    </ng-container>

    <ng-container *ngIf="problem.outputData?.length > 0">
      <h4 class="mt-3">
        <strong>
          {{ 'OUTPUT_DATA' | translate }}:
        </strong>
      </h4>

      <mathjax class="mt-2" [content]="problem.outputData"></mathjax>
      <hr>
    </ng-container>
  </div>
</div>

<img [src]="img" alt="">