<div class="card" #screen style="width: 50%;">
  <div class="card-body">
    <h3 class="mb-2">
      {{ problem.id }}. {{ problem.title }}
    </h3>

    <span
      ngbTooltip="{{ 'DIFFICULTY' | translate }}"
      class="rounded-pill badge-glow badge badge-{{ problem.difficulty | problemDifficultyColor }}">
      {{ problem.difficultyTitle | translate }}
    </span>

    <span class="problem-header-sep"></span>

    <span class="badge bg-primary rounded-pill">
      <i [data-feather]="'user' | iconName"></i>
      <user-popover [textColor]="'white'" [placement]="'bottom'" [username]="problem.authorUsername">
      </user-popover>
    </span>

    <span class="problem-header-sep"></span>


    <span class="problem-header-sep"></span>

    <span class="badge bg-info rounded-pill">
      {{ problem.timeLimit }} {{ 'MS' | translate }}
    </span>
    <span class="badge rounded-pill bg-primary">
      {{ problem.memoryLimit }} {{ 'MB' | translate }}
    </span>

    <div class="mt-2">
      @for (availableLanguage of problem.availableLanguages; track availableLanguage) {
        <span>
          <a class="rounded-pill text-white badge badge-{{ availableLanguage.lang }}">
            {{ availableLanguage.langFull }}
          </a>
        </span>
      }
    </div>

    <hr>

      <mathjax [content]="problem.body"></mathjax>
      <hr>

        @if (problem.inputData?.length > 0) {
          <h4 class="mt-2">
            <strong>
              {{ 'INPUT_DATA' | translate }}:
            </strong>
          </h4>
          <mathjax class="mt-2" [content]="problem.inputData"></mathjax>
        }

        @if (problem.outputData?.length > 0) {
          <h4 class="mt-3">
            <strong>
              {{ 'OUTPUT_DATA' | translate }}:
            </strong>
          </h4>
          <mathjax class="mt-2" [content]="problem.outputData"></mathjax>
          <hr>
          }
        </div>
      </div>

      <img [src]="img" alt="">
