@import 'bootstrap/scss/mixins'; 
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

.card {
  height: 410px;
  
  @include media-breakpoint-down(sm) {
    height: inherit;
  }
}

.facts {
  .fact {
    align-items: center;
    margin-bottom: 1rem;

    .info {
      align-items: center;

      .title {
        font-weight: 500;
      }

    }

    .problem-title {
      font-weight: 500;
      text-align: right;
    }
  }
}
