@for (part of lecture.parts; track part) {
  <div>
    @if (part.type == 1) {
      <mathjax [content]="part.text"></mathjax>
    }
    @if (part.type == 2) {
      <pre class="mt-2"><code [lineNumbers]="true" [languages]="['python']" [highlight]="part.sourceCode"></code></pre>
    }
    <div class="mb-2 text-right">
      @if (part.type == 2) {
        <clipboard-button [text]="part.sourceCode"></clipboard-button>
      }
    </div>
  </div>
}

@if (lecture.sourceCode.length > 0) {
  <code-editor-modal
    [availableLanguages]="[{'lang': 'py', 'codeTemplate': lecture.sourceCode}]">
  </code-editor-modal>
}
