<div class="card" [class]="contest | contestClasses">
  <div
    class="contest-logo"
    [ngClass]="{
      'full-height': logoHeight >= logoWidth,
      'full-width': logoHeight < logoWidth
    }">
    <img
      #contestLogo
      (load)="onLoad($event)"
      [src]="contest.logo"
      alt="contest-logo">
    </div>

    <div class="card-header my-1 justify-content-center">
      <h4 class="text-uppercase">
        @switch (contest.status) {
          @case (ContestStatus.ALREADY) {
            {{ 'CONTESTS.CONTEST_ENDS' | translate }}
          }
          @case (ContestStatus.FINISHED) {
            {{ 'CONTESTS.CONTEST_FINISHED' | translate }}
          }
          @case (ContestStatus.NOT_STARTED) {
            {{ 'CONTESTS.CONTEST_STARTS' | translate }}
          }
        }
      </h4>
    </div>
    <div class="card-footer full-width">
      <contest-countdown
        [clockColor]="'#fff'"
        [contest]="contest"
        [textColor]="'#fff'">
      </contest-countdown>
      @if (contest.status == ContestStatus.FINISHED) {
        <h3
          class="text-center mb-1 mt-1">
          {{ contest.finishTime | localizedDate:'medium' }}
        </h3>
      }
    </div>
  </div>
