<div class="row">
  <div class="col-lg-4 col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          {{ 'ByWeekday' | translate }}
        </div>
      </div>

      <div class="card-body">
        @if (byWeekdayChart) {
          <apex-chart
            [options]="byWeekdayChart"
          ></apex-chart>
        }
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          {{ 'ByMonth' | translate }}
        </div>
      </div>

      <div class="card-body">
        @if (byMonthChart) {
          <apex-chart
            [options]="byMonthChart"
          ></apex-chart>
        }
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          {{ 'ByPeriod' | translate }}
        </div>
      </div>

      <div class="card-body">
        @if (byPeriodChart) {
          <apex-chart
            [options]="byPeriodChart"
          ></apex-chart>
        }
      </div>
    </div>

  </div>
</div>
