<div class="statistics-time">
  <kep-card class="statistics-time__card">
    <div class="statistics-time__header">{{ 'ByWeekday' | translate }}</div>
    <div class="statistics-time__body">
      @if (byWeekdayChart) {
        <apex-chart [options]="byWeekdayChart"></apex-chart>
      } @else {
        <div class="statistics-time__empty">{{ 'NoData' | translate }}</div>
      }
    </div>
  </kep-card>

  <kep-card class="statistics-time__card">
    <div class="statistics-time__header">{{ 'ByMonth' | translate }}</div>
    <div class="statistics-time__body">
      @if (byMonthChart) {
        <apex-chart [options]="byMonthChart"></apex-chart>
      } @else {
        <div class="statistics-time__empty">{{ 'NoData' | translate }}</div>
      }
    </div>
  </kep-card>

  <kep-card class="statistics-time__card">
    <div class="statistics-time__header">{{ 'ByPeriod' | translate }}</div>
    <div class="statistics-time__body">
      @if (byPeriodChart) {
        <apex-chart [options]="byPeriodChart"></apex-chart>
      } @else {
        <div class="statistics-time__empty">{{ 'NoData' | translate }}</div>
      }
    </div>
  </kep-card>
</div>
