<div class="row g-1">
  <div class="col-lg-4 col-12">
    <kep-card class="time-card">
      <div class="card-body">
        <div class="card-header px-0 pt-0 pb-1">
          <div class="text-uppercase text-muted fw-bold small">{{ 'ByWeekday' | translate }}</div>
        </div>
        @if (byWeekdayChart) {
          <apex-chart [options]="byWeekdayChart"></apex-chart>
        } @else {
          <div class="empty-state text-muted text-center py-2">No data</div>
        }
      </div>
    </kep-card>
  </div>
  <div class="col-lg-4 col-12">
    <kep-card class="time-card">
      <div class="card-body">
        <div class="card-header px-0 pt-0 pb-1">
          <div class="text-uppercase text-muted fw-bold small">{{ 'ByMonth' | translate }}</div>
        </div>
        @if (byMonthChart) {
          <apex-chart [options]="byMonthChart"></apex-chart>
        } @else {
          <div class="empty-state text-muted text-center py-2">No data</div>
        }
      </div>
    </kep-card>
  </div>
  <div class="col-lg-4 col-12">
    <kep-card class="time-card">
      <div class="card-body">
        <div class="card-header px-0 pt-0 pb-1">
          <div class="text-uppercase text-muted fw-bold small">{{ 'ByPeriod' | translate }}</div>
        </div>
        @if (byPeriodChart) {
          <apex-chart [options]="byPeriodChart"></apex-chart>
        } @else {
          <div class="empty-state text-muted text-center py-2">No data</div>
        }
      </div>
    </kep-card>
  </div>
</div>
