<part-lecture
  *ngIf="lessonPart.contentType == 'lecture'"
  [lecture]="lessonPart.content"
  [lessonPartId]="lessonPart.id"
  [lessonPartStatus]="lessonPart.status"
  (checkCompletionEvent)="checkCompletionEvent($event)"
></part-lecture>

<part-question
  *ngIf="lessonPart.contentType == 'question'"
  [question]="lessonPart.content"
  [lessonPartId]="lessonPart.id"
  (checkCompletionEvent)="checkCompletionEvent($event)"
></part-question>
  
<part-problem
  *ngIf="lessonPart.contentType == 'problem'"
  [problem]="lessonPart.content"
  [lessonPartId]="lessonPart.id"
  (checkCompletionEvent)="checkCompletionEvent($event)"
></part-problem>
