<div class="problem-detail-layout">
  <div class="problem-detail-layout__header">
    <ng-content select="[problem-detail-header]"></ng-content>
  </div>
  <div class="problem-detail-layout__body">
    <div class="problem-detail-layout__column problem-detail-layout__column--left">
      <div class="problem-detail-layout__column-inner">
        <ng-content select="[problem-detail-left]"></ng-content>
      </div>
    </div>
    <div class="problem-detail-layout__column problem-detail-layout__column--right">
      <div class="problem-detail-layout__column-inner">
        <ng-content select="[problem-detail-right]"></ng-content>
      </div>
    </div>
  </div>
  <div class="problem-detail-layout__footer">
    <ng-content select="[problem-detail-footer]"></ng-content>
  </div>
</div>
