<!-- Menu header -->
<div class="navbar-header">
  <ul class="nav navbar-nav flex-row">
    <li class="nav-item mb-2 me-auto">
      <!-- App Branding -->
      <a class="navbar-brand" [routerLink]="['/']">
        <span class="brand-logo">
          <img [src]="defaultCoreConfig.app.appLogoImage" alt="brand-logo" width="36" height="24" />
        </span>
        <h2 class="brand-text text-dark mb-0">{{ defaultCoreConfig.app.appTitle }}</h2>
      </a>
    </li>

    <!-- Menu Toggler -->
    <li class="nav-item nav-toggle">
      <a class="nav-link modern-nav-toggle d-none d-xl-block pe-0" (click)="toggleSidebarCollapsible()">
        <i
          [data-feather]="'disc'"
          class="toggle-icon font-medium-4 collapse-toggle-icon text-primary"
        ></i>
      </a>
      <a class="nav-link modern-nav-toggle d-block d-xl-none pe-0" (click)="toggleSidebar()">
        <i data-feather="x" class="font-medium-4 text-primary toggle-icon"></i>
      </a>
    </li>
  </ul>
</div>
<!--/ Menu header -->

<!-- Navbar shadow -->
<div class="shadow-bottom" [ngClass]="{ 'd-block': isScrolled }"></div>

<!-- Main menu -->
<ng-scrollbar [visibility]="'hover'" autoHeightDisabled="false">
  <div class="main-menu-content">
    <ul class="navigation navigation-main" layout="vertical" core-menu></ul>
  </div>
</ng-scrollbar>
<!--/ Main menu -->
