@import 'scss/base/bootstrap-extended/variables';
@import 'bootstrap/scss/mixins/dark-layout';
@import 'bootstrap/scss/mixins/breakpoints';

.badge {
  font-weight: 500 !important;
  line-height: 1.4 !important;
  font-size: 12px !important;
  transition: all 0.3s ease-out !important;
  -webkit-transition: all 0.3s ease-out !important;
  display: inline-block !important;
  padding: 4.6px 8px !important;
  border-radius: 6px !important;
}

.badge-pill {
  display: inline-block !important;
  // padding: 0.3rem 0.5rem !important;
  padding: 0.2rem 0.6rem !important;
  border-radius: 10rem !important;
  font-size: 85% !important;
  // font-weight: 600 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: baseline !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background 0s, border 0s !important;
}

apx-chart {
  svg {
    background-color: inherit !important;
  }

  .apexcharts-tooltip {
    .card {
      margin-bottom: 0 !important;
    }
  }
}

th {
  font-weight: 400 !important;
  text-transform: initial !important;
}

html {
  overflow-y: scroll
}

.dark-layout ::-webkit-scrollbar {
  width: 15px;
  background-color: #2a2a2a;
}

code {
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px #8070d4;
  background-color: #D62929;
}

::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  border-radius: 100px;
  background-color: #8070d4;
  background-clip: content-box;
}

body {
  padding-right: 0 !important
}

pre {
  all: revert;
  margin: 1em 0;
  padding: 1rem;
  border-radius: .375em;
  border: 1px solid #ededed !important;
  background-color: #fafafa !important;
  font-size: 87.5%;
  font-family: 'Inconsolata';
  overflow: auto;
}

.hljs {
  font-size: 1rem !important;
}

.hljs-ln-line.hljs-ln-numbers {
  padding-right: 0.8rem;
}

.hljs-ln-line.hljs-ln-code {
  padding-left: 0.8rem;
}

.dark-layout pre {
  background-color: inherit !important;
  color: white;
}

:focus {
  outline: none;
}

::selection {
  color: rgb(115, 103, 240, 0.8);
  background: rgb(115, 103, 240, 0.1);
}

.dark-layout .badge.badge-light-dark {
  color: #e9e7e7 !important;
}

.hljs-ln-numbers {
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px;
}

.hljs-ln-code {
  padding-left: 10px;
}

.tooltip-primary .tooltip-inner {
  color: $primary;
  background-color: rgba($primary, 0.1);
}

.tooltip-success .tooltip-inner {
  color: #8ca49f;
  background-color: #ddf5f0;
}

.tooltip-danger .tooltip-inner {
  //color: #ea5455;
  //background-color: rgba(234, 84, 85, 0.1);
  color: white;
  background-color: #ea5455;
  box-shadow: 0 0 10px #ea5455 !important;
}

.tooltip-primary .arrow:before {
  border-top-color: #f3effc;
}

.tooltip-success .arrow:before {
  border-top-color: #ddf5f0;
}

.tooltip-danger .arrow:before {
  border-top-color: #ea5455;
}

.ng-invalid.ng-touched {
  border-color: #ea5455 !important;
}

:root {
  --skeleton-color: #dedede;
}

:root .dark-layout {
  --skeleton-color: #273357;
}

:root {
  --inherit-bg-box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
}

:root .dark-layout {
  --inherit-bg-box-shadow: 0 4px 24px 0 rgba(255, 255, 255, 0.1);
}

.new-feature {
  position: absolute;
  top: -0.5rem;
  left: -0.8rem;
  width: 35px;
  height: 16px;
  font-size: 10px !important;
  padding: 1px !important;
  transform: rotate(332deg);
}

.beautiful-table {
  transition: all 0.2s ease;
  opacity: 0.9;
  border: none;
  box-shadow: var(--inherit-bg-box-shadow) !important;
  border-radius: 10px;

  th,
  td {
    border-top: none;
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;
  }

  thead tr:hover {
    transform: none !important;
  }
}

.ngx-spinner-overlay {
  z-index: inherit !important;
}

@media (min-width: 1440px) {
  .container-xxl {
    max-width: 1440px;
  }
}

#main-menu-navigation > li[core-menu-horizontal-item], li[core-menu-horizontal-collapsible], .main-menu.expanded li[core-menu-vertical-item] {
  &.active > a > kep-icon > span {
    color: white !important;
  }
}

.main-menu {
  transition: 1s ease;
}

.main-menu:not(.expanded) kep-icon > span {
  margin-right: 1rem;
  transition: 1s ease-in;
}
