@import 'styles/kep-imports';

$tournaments-color: mix(black, $primary, 60);
$tournaments-bg: $tournaments-color;
$tournaments-bg-dark: rgba($tournaments-color, 1);

// $tournaments-bg: linear-gradient(to right, #29323c, #485563);
