@import 'styles/kep-imports';

$tournaments-color: $primary;
$tournaments-bg: linear-gradient(to right, rgba($primary, 0.9), rgba($primary, 0.7));
$tournaments-bg-dark: rgba($primary, 0.5);

// $tournaments-bg: linear-gradient(to right, #29323c, #485563);
