.course-about {
  .title {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: #000;
  }
}

::ng-deep { 
  .course-about p {
    font-size: 1.2rem;
    line-height: 36px;
  }
}

.start-btn {
  color: #fff;
  background: #09666e;
  box-shadow: 0 0 5px #243b5d !important;
  
  &:hover {
    background: #0b8793;
  }
}

.course-info {
  .card {
    background: #16222a !important;
    box-shadow: 0 0 5px #243b5d !important;

    .card-image {
      img {
        width: 100%;
        object-fit: contain;
      }
    }

    .card-title {
      color: #fff;
    }

    .card-footer {
      border-top: 1px solid #063d42;
    }

    p {
      color: #fff;
    }
  }
}
