<div class="faq-container">
  <div class="content-wrapper container-xxl">
    <div class="content-body pt-lg-2 pt-0">
      <div class="text-center mb-1 pb-1">
        <span class="badge badge-light-primary">FAQ</span>
      </div>
      <h3 class="text-center mb-1 font-weight-bolder">{{ 'LandingPage.SectionFAQTitle' | translate }}</h3>
      <p class="text-center mb-2 pb-lg-3 pb-1">{{ 'LandingPage.SectionFAQText' | translate }}</p>
      <div class="row gy-5">
        <div class="col-lg-5">
          <div class="text-center">
            <img alt="faq boy with logos" class="faq-image mb-lg-0 mb-2"
                 src="https://demos.pixinvent.com/vuexy-html-admin-template/assets/img/front-pages/landing-page/faq-boy-with-logos.png">
          </div>
        </div>
        <div class="col-lg-7">
          @for (faq of data; track faq.id){
            <ngb-accordion [closeOthers]="false" [destroyOnHide]="false">
              <ngb-panel [cardClass]="'mt-1 collapse-margin'" [id]="'faq' + $index">
                <ng-template ngbPanelTitle>
                  <div class="d-flex justify-content-between">
                    <div class="font-weight-bolder">
                      {{ faq.question }}
                    </div>
                    <div class="text-dark">
                      <kep-icon name="arrow-right"></kep-icon>
                    </div>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div [innerHTML]="faq.answer"></div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          }

        </div>
      </div>
    </div>
  </div>
</div>
