<div class="row">
  <div class="col-12 col-lg-6">
    <user-skills></user-skills>
  </div>
  <div class="col-12 col-lg-6">
    <user-technologies></user-technologies>
  </div>
  <div class="col-12 col-lg-6">
    <user-educations></user-educations>
  </div>
  <div class="col-12 col-lg-6">
    <user-work-experiences></user-work-experiences>
  </div>
  <div class="col-12">
    <user-social></user-social>
  </div>
  <div class="col-12">
    <user-followers-preview></user-followers-preview>
  </div>
</div>
