<div style="padding: 0px !important;" [ngClass]="{
          'col-lg-6 offset-lg-3 col-12 offset-0':  !isMenuToggled || isMenuCollapsed,
          'col-lg-10 offset-lg-1 col-12 offset-0': isMenuToggled && !isMenuCollapsed
        }">
  <div class="layout-spacing mt-2">
<!--    <swiper [config]="contestsSwiperConfig" class="swiper-contests swiper-lazy-loading" #contestsSwiper>-->
<!--      <div class="swiper-wrapper">-->
<!--        <div class="swiper-slide" *ngFor="let contest of lastContests">-->
<!--          <contest-card [contest]="contest"></contest-card>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; Add Pagination &ndash;&gt;-->
<!--      <div class="swiper-pagination"></div>-->
<!--    </swiper>-->
  </div>
</div>
