<a [routerLink]="['hackathon', hackathon.id]">
  <kep-card>
    <div class="card-header justify-content-start p-4">
      <div class="icon d-sm-block d-none">
        <img src="assets/images/icons/project.png" alt="hackathon-icon" width="90" height="90">
      </div>
      <div class="card-title">
        <h3 class="text-dark">{{ hackathon.name }}</h3>
        <p class="text-dark">{{ hackathon.startTime | localizedDate:'MMM dd, yyyy' }}</p>
        <span class="badge bg-primary">
          <i data-feather="user"></i>
          <span class="ms-1 mb-1">{{ hackathon.participantsCount }}</span>
        </span>
      </div>
    </div>
  </kep-card>
</a>
