<div *ngIf="currentUser" class="card filter">
  <div class="card-header">
    <div class="card-title">
      {{ 'Status' | translate }}
    </div>
  </div>

  <div class="card-body">
    <div class="form-group">
      <div
        class="ml-1 mt-1 custom-control custom-radio">
        <input
          (click)="contestStatusClick(2)"
          [(ngModel)]="contestStatus"
          [value]="2"
          class="custom-control-input"
          id="radio-2"
          name="status"
          type="radio"/>
        <label class="custom-control-label" for="radio-2">{{ 'All' | translate }}</label>
      </div>
      <div
        class="ml-1 mt-1 custom-control custom-radio">
        <input
          (click)="contestStatusClick(ContestStatus.PARTICIPATED)"
          [(ngModel)]="contestStatus"
          [value]="1"
          class="custom-control-input"
          id="radio-1"
          name="status"
          type="radio"/>
        <label class="custom-control-label" for="radio-1">{{ 'CONTESTS.PARTICIPATED' | translate }}</label>
      </div>
      <div
        class="ml-1 mt-1 custom-control custom-radio">
        <input
          (click)="contestStatusClick(ContestStatus.NOT_PARTICIPATED)"
          [(ngModel)]="contestStatus"
          [value]="0"
          class="custom-control-input"
          id="radio-0"
          name="status"
          type="radio"/>
        <label class="custom-control-label" for="radio-0">{{ 'CONTESTS.NOT_PARTICIPATED' | translate }}</label>
      </div>
    </div>
  </div>
</div>

<div class="card filter">
  <div class="card-header">
    <div class="card-title">
      {{ 'CONTESTS.TYPE' | translate }}
    </div>
  </div>
  <div class="card-body">
    <div class="form-group">
      <div
        *ngFor="let type of contestTypes; index as i"
        class="ml-1 mt-1 custom-control custom-radio">
        <input
          (click)="contestTypeClick(i)"
          [(ngModel)]="contestType"
          [value]="i"
          class="custom-control-input"
          id="type-{{ i }}"
          name="type"
          type="radio"/>
        <label class="custom-control-label" for="type-{{ i }}">{{ type | translate }}</label>
      </div>
    </div>
  </div>
</div>
