<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center mb-2">
      <i class="font-medium-3" data-feather="settings"></i>
      <h4 class="mb-0 ms-75">System</h4>
    </div>

    <div class="sounds">
      <p class="fw-medium font-medium-3 mb-1 mt-1">Sounds</p>

      <div class="rows">
        <div class="col-6">
          <label>Success</label>
          <ng-select
            (change)="successSoundChange()"
            [(ngModel)]="successSound"
            [dropdownPosition]="'bottom'"
            [items]="successSoundList"
            appendTo="body">
          </ng-select>
        </div>

        <div class="mt-1 col-6">
          <label>Home</label>
          <ng-select
            (change)="homeSoundChange()"
            [(ngModel)]="homeSound"
            [dropdownPosition]="'bottom'"
            [items]="homeSoundList"
            appendTo="body">
          </ng-select>
        </div>
      </div>
    </div>

<!--    <div class="toggle-theme-effects mt-2">-->
<!--      <p class="fw-medium font-medium-3 mb-1 mt-1">Theme Toggle Effect</p>-->

<!--      <div class="rows">-->
<!--        <div class="col-6">-->
<!--          <ng-select-->
<!--            (change)="themeToggleEffectChange()"-->
<!--            [(ngModel)]="themeToggleEffect"-->
<!--            [dropdownPosition]="'bottom'"-->
<!--            [items]="themeToggleEffectList"-->
<!--            appendTo="body">-->
<!--          </ng-select>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>

<ng-select-css></ng-select-css>

@if (successSound != SuccessSoundEnum.NoSound) {
  <audio
    #successAudio
    [src]="soundsService.getSuccessSoundSrc()">
  </audio>
}

@if (homeSound != HomeSoundEnum.NoSound) {
  <audio
    #homeAudio
    [src]="soundsService.getHomeSoundSrc()">
  </audio>
}
