<div class="content-wrapper p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="mt-2">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="layout-spacing mt-2" [@fadeInRight]="startAnimationState">
                <div class="row">
                  <div *ngFor="let course of courses" class="col-lg-6 col-md-6 col-sm-12 layout-spacing">
                    <div class="card">
                      
                      <a *ngIf="!course.inThePipeline" class="card-img" routerLink="/learn/courses/course/{{ course.id }}">
                        <img class="card-img-top img-fluid" src="{{ course.logo }}" alt="Course logo" />
                      </a>
                      <span class="card-img" *ngIf="course.inThePipeline">
                        <img class="card-img-top img-fluid" src="{{ course.logo }}" alt="Course logo" />
                      </span>

                      <div class="card-body">
                        <div class="row justify-content-end">
                          <div class="col">
                            <div class="reviews">
                              <span placement="top" ngbTooltip="{{ course.rating }}" container="body" class="rating">
                                <ngb-rating [(rate)]="course.rating" [max]="5" [readonly]="true" class="outline-none">
                                </ngb-rating>
                              </span>
                              ({{ course.rating }})
                            </div>
                          </div>
                          <div class="col text-right">        
                            <span class="badge badge-{{ course.levelColor }}">
                              {{ course.levelDisplay }}
                            </span>
                          </div>
                        </div>
                        <h5 class="card-title mt-2">
                          <a *ngIf="!course.inThePipeline" routerLink="/learn/courses/course/{{ course.id }}">
                            {{ course.title }}
                          </a>
                          <span *ngIf="course.inThePipeline">
                            {{ course.title }}
                          </span>
                        </h5>
                        <div class="media pt-1">
                          <div class="media-body">
                            <div [innerHTML]="course.descriptionShort"></div>
                            <div class="meta-info" style="display: flex; justify-content: space-between;">
                              <hr />
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center text-primary">
                                  <i [data-feather]="'comment' | iconName" class="font-medium-1 mr-50"></i>
                                  <span ngbTooltip="{{ 'COURSES.REVIEWS' | translate }}" class="font-weight-bold pr-1">{{ course.reviewsCount }}</span>
                                  <i [data-feather]="'user' | iconName" class="font-medium-1 mr-50"></i>
                                  <span ngbTooltip="{{ 'COURSES.PARTICIPANTS' | translate }}" class="font-weight-bold pr-1">{{ course.participantsCount }}</span>
                                </div>
                              </div>
                            </div>
                            <div class="tags mt-2">
                              <span class="badge badge-light-info" *ngFor="let tag of course.tags">
                                {{ tag.name }}
                              </span>
                            </div>
                          </div>
                        </div>

                        <hr>

                        <span *ngIf="course.inThePipeline" class="badge badge-info badge-glow">
                          <i data-feather="tool"></i> {{ 'COURSES.IN_THE_PIPELINE' | translate }}
                        </span>

                        <div *ngIf="!course.inThePipeline">
                          <a routerLink="course/{{ course.id }}/lesson/1" class="btn btn-sm btn-rounded btn-relief-dark">
                            <span *ngIf="!course.isStarted">{{ 'COURSES.START' | translate }}</span>
                            <span *ngIf="course.isStarted"> {{ 'COURSES.CONTINUE' | translate }}</span>
                          </a>
  
                          <div *ngIf="course.isStarted" class="mt-2 progress-wrapper">
                            <div class="mb-25">{{ 'COURSES.PROGRESS' | translate }}: {{ course.participantProgress }}%</div>
                            <ngb-progressbar type="primary" [value]="course.participantProgress"></ngb-progressbar>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>