.level-1 {
  background-color: #0c8390;
  box-shadow: 0 0 5px #1aa9b9;
}

.level-2 {
  background-color: #204363;
  box-shadow: 0 0 5px #3573ac;
}

.level-3 {
  background-color: #350235;
  box-shadow: 0 0 5px #610a61;
}
