@import 'styles/kep-imports';

.get-started-container {
  margin-left: -2rem;
  width: calc(100% + 4rem);
  padding: 2rem 8rem;
  // background-image: url('assets/landing-page/beautiful-bg-2.png') !important;
  background: linear-gradient(to right, rgba($primary, 0.1), mix($primary, $gray-50, 3));

  @include media-breakpoint-down(md){
    width: calc(100% + 3.8rem);
  }

  @include dark-layout {
    background-image: url('assets/landing-page/beautiful-bg-dark-2.png') !important;
    background-size: cover;
  }

  @include media-breakpoint-down(sm) {
    padding: 1rem;
  }
}
