:host {
  .chart-card {
    .chart-card-body,
    apex-chart {
      width: 100%;
    }
  }

  .chart-card-body,
  .scrollable-card-body,
  .opponent-card-body {
    min-height: 0;
  }

  .opponent-card-body .list-group {
    margin-bottom: 0;
  }
}
