<div class="card">
  <div class="card-header d-flex align-items-start pb-0">
    <div>
      <h2 class="font-weight-bolder">{{ usersTotal }}</h2>
      <p class="mb-0">{{ 'Users' | translate }}</p>
    </div>
    <div class="avatar bg-light-primary p-50">
      <div class="avatar-content">
        <i [data-feather]="'user' | iconName" class="font-medium-5"></i>
      </div>
    </div>
  </div>

  <div *ngIf="usersChart.series[0].data.length > 0">
    <apex-chart [options]="usersChart"></apex-chart>
  </div>

  <div class="card-body">
    <div class="avatar-group">
      <div *ngFor="let user of onlineUsers" class="avatar pull-up">
        <user-popover [customContent]="true" [username]="user.username">
          <img [src]="user.avatar" alt="Avatar" height="33" width="33">
          <span class="avatar-status-online"></span>
        </user-popover>
      </div>
    </div>
  </div>
</div>
