<!--<ul class="lightrope">-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--</ul>-->

@defer (when coreConfig.layout.type === 'vertical') {
  @if (coreConfig.layout.type === 'vertical'){
    <vertical-layout></vertical-layout>
  }
}

@defer (when coreConfig.layout.type === 'horizontal') {
  @if (coreConfig.layout.type === 'horizontal'){
    <horizontal-layout></horizontal-layout>
  }
}
