<div class="content-wrapper p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="mt-2">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="layout-spacing">

            <div class="card">
              <div class="card-body">
                <div class="text-center">
                  <a class="card-img" routerLink="/learn/courses/course/{{ course.id }}">
                    <img class="card-img-top img-fluid" src="{{ course.logo }}" alt="Course logo" />
                  </a>
                </div>
                <h5 class="card-title text-center mb-2 mt-2">
                  <i data-feather="book-open" class="text-primary" [size]="18"></i>
                  <strong>
                    {{ course.title }}
                  </strong>
                </h5>
                <hr>
                <div class="mb-25">
                  <strong>
                    {{ 'COURSES.PROGRESS' | translate }}: {{ course.participantPoints }}/{{ course.points }}
                  </strong>
                </div>
                <ngb-progressbar type="primary" showValue="true" [value]="course.participantProgress"></ngb-progressbar>

              </div>
            </div>

          </div>

          <div class="layout-spacing">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  {{ 'COURSES.SYLLABUS' | translate }}
                  <a [routerLink]="['..', 'dictionary']" ngbTooltip=" {{ 'COURSES.DICTIONARY' | translate }}">
                    <i data-feather="book" class="text-primary" [size]="18"></i>
                  </a>
                  <hr>
                </h5>

                <div class="list-group">
                  <a *ngFor="let _courseLesson of courseLessons; index as i" [routerLink]="['..', 'lesson', i+1]"
                    class="list-group-item">
                    {{ _courseLesson.title }}
                    <ngb-progressbar type="success" showValue="true"
                      [value]="_courseLesson.progress"></ngb-progressbar>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-9 col-md-8 col-sm-6">
          <div class="layout-spacing">
            <div class="card">
              <div class="card-body">
                <h5 class="text-center card-title">
                  {{ 'COURSES.DICTIONARY' | translate }}

                  <a routerLink="training" class="text-primary" ngbTooltip="{{ 'COURSES.TRAINING' | translate }}">
                    <i data-feather="zap" [size]="20"></i>
                  </a>
                </h5>
                <hr>

                <div class="table">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="bg-gradient-primary">
                        <th>{{ 'COURSES.KEYWORD' | translate }}</th>
                        <th>{{ 'COURSES.MEANING' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="bg-light-primary" *ngFor="let keyword of courseDictionary">
                        <td>
                          <span class="badge badge-glow badge-primary">
                            {{ keyword.keyword }}
                          </span>
                        </td>
                        <td [innerHTML]="keyword.meaning"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>