<div class="form-group">
  @if (currentUser) {
    <div class="custom-control custom-control-info custom-checkbox">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="myAttempts" (change)="reloadAttempts()"
        [ngModelOptions]="{standalone: true}" id="myAttempts" />
        <label class="custom-control-label" for="myAttempts">{{ 'MY_ATTEMPTS' | translate }}</label>
      </div>
    }
  </div>

  <attempts-table [project]="project" [attempts]="attempts"></attempts-table>
  @if (attempts.length > 0) {

  }
