<h4 *ngIf="contest.status == 0" class="text-center mb-1">
  {{ 'CONTESTS.CONTEST_ENDS' | translate }}
</h4>
<h4 *ngIf="contest.status == -1" class="text-center mb-1">
  {{ 'CONTESTS.CONTEST_STARTS' | translate }}
</h4>
<h4 *ngIf="contest.status == 1" class="text-center mb-1">
  {{ 'CONTESTS.CONTEST_FINISHED' | translate }}
</h4>
<hr>
<div *ngIf="!contest.isFinished()" class="mb-2 col-lg-10 col-12 offset-lg-1 offset-0">
  <ngx-countdown [time]="leftTime" [render]="render" format="DD:HH:mm:ss" (finish)="finish()">
    <ng-template #render let-data>
      <div class="d-flex justify-content-between">
        <div class="countdown text-center">
          <h5 class="clock-val text-primary">{{ data.fragments[0] }}</h5>
          <h5 class="clock-text">{{ 'DAY' | translate }}</h5>
        </div>
    
        <div class="countdown text-center">
          <h5 class="clock-val text-primary">{{ data.fragments[1] }}</h5>
          <h5 class="clock-text">{{ 'HOUR' | translate }}</h5>
        </div>
    
        <div class="countdown text-center">
          <h5 class="clock-val text-primary">{{ data.fragments[2] }}</h5>
          <h5 class="clock-text">{{ 'MINUTE' | translate }}</h5>
        </div>
    
        <div class="countdown text-center">
          <h5 class="clock-val text-primary">{{ data.fragments[3] }}</h5>
          <h5 class="clock-text">{{ 'SECOND' | translate }}</h5>
        </div>
      </div>    
    </ng-template>
  </ngx-countdown>
</div>

<ng-template #finishModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ contest.title }}</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    {{ 'CONTESTS.CONTEST_FINISHED' | translate }}
  </div>
  <div class="modal-footer">
    <a [routerLink]="['/competitions', 'contests', 'contest', contest.id, 'standings']"
      class="btn btn-primary btn-relief" rippleEffect (click)="modal.dismiss('Cross click')">
      {{ 'CONTESTS.STANDINGS' | translate }}
    </a>
  </div>
</ng-template>

<ng-template #startModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ contest.title }}</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    {{ 'CONTESTS.CONTEST_STARTED' | translate }}
  </div>
  <div class="modal-footer">
    <a [routerLink]="['/competitions', 'contests', 'contest', contest.id, 'problems']"
      class="btn btn-primary btn-relief" rippleEffect (click)="modal.dismiss('Cross click')">
      {{ 'CONTESTS.PROBLEMS' | translate }}
    </a>
  </div>
</ng-template>
