@import 'styles/kep-imports';

.user-popover {
  background: initial;

  .card {
    margin-bottom: 0;

    .card-body {
      background: mix(black, $primary, 90);
    }
  }

  .popover-body {
    padding: 0px !important;
    width: 400px !important;
    box-shadow: none !important;
    border: none !important;
  }
}
