<ng-template #popContent>
  @if (user && userRatings) {
    <kep-card [@fadeInOnEnter]>
      <img
        [src]="user.coverPhoto"
        class="img-fluid card-img-top"
        alt="Profile Cover Photo"/>
      <div class="card-body d-flex justify-content-start gap-2">
        <div class="avatar avatar-rounded" [class]="{
          'online': user.isOnline,
          'offline': !user.isOnline
        }">
          <img [src]="user.avatar" alt="Profile Picture"/>
        </div>

        <div class="name">
          <div class="full-name">
            {{ user.firstName }} {{ user.lastName }}
          </div>
          <small>{{ user.username }}</small>
        </div>
        @if (userRatings) {
        }
      </div>
    </kep-card>
  }
</ng-template>
<a
  (shown)="loadUser()"
  [closeDelay]="200000"
  [ngbPopover]="popContent"
  [openDelay]="1000"
  [placement]="placement"
  [routerLink]="['/users', 'user', username]"
  class="text-{{ textColor }} {{ customClass }}"
  container="body"
  popoverClass="user-popover"
  triggers="mouseenter:mouseleave"
>
  @if (!customContent) {
    <span>
      {{ username }}
    </span>
  }
  @if (customContent) {
    <ng-content></ng-content>
  }
</a>

@if (!customContent && streak >= 7) {
  <kep-badge [streak]="streak"></kep-badge>
}
