@import 'styles/kep-imports';

app-layout {
  position: relative !important;
}

footer.footer {
  position: absolute !important;
  bottom: calc(-321px - 20px) !important;
  //width: 100% !important;

  .card {
    box-shadow: none;
    margin-bottom: 0;
    border-radius: 0;

    // background-color: mix(white, $primary, 95) !important;
  }

  @include media-breakpoint-down(md) {
    bottom: calc(-427px - 20px) !important;
  }

  @include media-breakpoint-down(sm) {
    bottom: calc(-571px  - 20px) !important;
  }
}
