<div class="card">
  <div class="content-wrapper container-xxl p-0 full-width">
    <div class="content-body">
      <div class="card-body align-items-center d-flex justify-content-between">
        <div class="text-dark">{{ coreConfig.app.appTitle }} ©</div>
        <div>
          Powered by
          <a ngbTooltip="Django" href="https://www.djangoproject.com/">
            <kep-icon type="duotone" name="dj"></kep-icon>
          </a>
          <a ngbTooltip="Angular" href="https://angular.io/">
            <kep-icon type="duotone" name="angular"></kep-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<app-scroll-top *ngIf="coreConfig.layout.scrollTop"></app-scroll-top>-->
