@import 'styles/kep-imports';

contests-section-categories {
  display: block;
  width: 100%;

  .categories-select {
    width: 100%;
  }

  ngx-skeleton-loader,
  .ng-select {
    width: 100%;
  }
}
