@if (isLoading) {
  <div class="card" [style.height.px]="200">
    <spinner></spinner>
  </div>
} @else {
  <div class="d-flex mb-2 mt-2 justify-content-start">
    <kep-icon name="category" size="large-1" color="primary" type="duotone"></kep-icon>
    <h2 class="ml-50">{{ 'Categories' | translate }}</h2>
  </div>

  <div class="row">
    @for (category of categories; track category.id){
      <div class="col-lg-3 col-md-6 col-12">
        <div class="card contest-category-card cursor-pointer" [ngClass]="{'active': category.id == activeCategory}" (click)="click(category.id)">
          <div class="card-header justify-content-start">
            <div class="category-icon mr-1">
              <kep-icon type="duotone" size="large-1" color="primary" [name]="category.icon"></kep-icon>
            </div>

            <div class="card-title">
              {{ category.title }}
              <div class="problems-count mt-50">
                <kep-icon size="medium-1" name="contest"></kep-icon>
                <span [ngbTooltip]="'Contests' | translate">{{ category.contestsCount }}</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    }
  </div>
}
