@import 'styles/kep-imports';

@mixin define-contest-colors($selector, $color, $background-light, $background-dark, $color-dark: false) {
  #{$selector} {
    --bg: #{$color};
    --bg-gradient: #{$background-light};
    --box-shadow: 0 0 5px #{$color};
    --text-color: white;
    --bg-light: #{mix(white, $color, 90)};
    @content;
  }

  @include dark-layout(){
    #{$selector} {
      --bg-gradient: #{$background-dark};
      --box-shadow: 0 0 5px #{$color};
      --bg-light: #{mix(black, $color, 60)};

      @if $background-dark != false {
        --bg: #{$color-dark};
      }
    }
  }
}

$code-golf-color: #4d7e3e;
$code-golf-selector: '&.contest-type-CodeGolf';

$one-line-color: #d1151d;
$one-line-selector: '&[class*="One"][class*="Line"]';

$hack-it-selector: '&[class*="Hack"][class*="it"]';
$hack-it-color: #71609f;

$sql-selector: '&[class*="SQL"]';
$sql-color: #dc7433;

.contests-colors {
  // Primary color
  @include define-contest-colors(
    $selector: '&',
    $color: $primary,
    $color-dark: mix(black, $primary, 20),
    $background-light: linear-gradient(to right, mix(white, $primary, 20), mix(white, $primary, 30)),
    $background-dark: linear-gradient(to right, mix(black, $primary, 50), mix(black, $primary, 30)),
  );

  // Code Golf
  @include define-contest-colors(
    $selector: $code-golf-selector,
    $color: $code-golf-color,
    $color-dark: mix(black, $code-golf-color, 20),
    $background-light: linear-gradient(to right, mix(white, $code-golf-color, 20), mix(white, $code-golf-color, 30)),
    $background-dark: linear-gradient(to right, mix(black, $code-golf-color, 50), mix(black, $code-golf-color, 30)),
  ) {
    .card-bg {
      zoom: 50% !important;
    }
  }

  // One Line
  @include define-contest-colors(
    $selector: $one-line-selector,
    $color: $one-line-color,
    $color-dark: mix(black, $one-line-color, 30),
    $background-light: linear-gradient(to right, mix(white, $one-line-color, 20), mix(white, $one-line-color, 30)),
    $background-dark: linear-gradient(to right, mix(black, $one-line-color, 50), mix(black, $one-line-color, 30)),
  ) {
    .card-bg {
      zoom: 137% !important;
    }
  }

  // Hack it
  @include define-contest-colors(
    $selector: $hack-it-selector,
    $color: $hack-it-color,
    $color-dark: mix(black, $hack-it-color, 30),
    $background-light: linear-gradient(to right, mix(white, $hack-it-color, 5), mix(white, $hack-it-color, 10)),
    $background-dark: linear-gradient(to right, mix(black, $hack-it-color, 50), mix(black, $hack-it-color, 40)),
  );

  // SQL
  @include define-contest-colors(
    $selector: $sql-selector,
    $color: $sql-color,
    $color-dark: mix(black, $sql-color, 30),
    $background-light: linear-gradient(to right, mix(white, $sql-color, 20), mix(white, $sql-color, 30)),
    $background-dark: linear-gradient(to right, mix(black, $sql-color, 50), mix(black, $sql-color, 40)),
  );

  &.contest-254 {
    --bg-gradient: linear-gradient(to right, #38CCBC, #07e4cf);
    --bg: #2db3a5;
    --bg-light: rgb(45, 179, 165, 0.1);
    --box-shadow: 0 0 5px #32b9ac;
  }

  &.contest-251,
  &.contest-250 {
    --bg-gradient: linear-gradient(to right, #3E9773, #56977D);
    --bg: #56977D;
    --bg-light: rgb(86, 151, 125, 0.1);
    --box-shadow: 0 0 5px #3E9773;
  }

  &[class*="NASM"] {
    --bg: #0c4c90;
    --bg-light: rgb(12, 76, 144, 0.1);
    --box-shadow: 0 0 5px #0c4c90;
    --bg-gradient: linear-gradient(-45deg, #0c4c90c8, #0c4c90c2);
  }

  &.contest-253 {
    --bg-gradient: linear-gradient(141deg, #00ced5c5, 50%, #02abaf);
    --bg: #36b3e9;
    --bg-light: rgb(54, 179, 233, 0.1);
    --box-shadow: 0px 0px 5px #36b3e9;
  }

  &.contest-type-LessCode:not([class*="Line"]) {
    --bg-gradient: linear-gradient(141deg, #dee7e9b9, 50%, rgba(222, 231, 233, 0.74)e9);
    --bg: #b0b5b6c4;
    --bg-light: rgba(176, 181, 182, 0.77, 0.1);
    --box-shadow: 0px 0px 5px #b0b5b6c4;
    --text-color: #000;
  }

  &.contest-297 {
    --text-color: #fff;
  }

  &[class*="Uzinfocom"] {
    --bg-gradient: linear-gradient(45deg, #005ea2bb, rgba(24, 111, 182, 0.623));
    --bg: #186fb6d0;
    --bg-light: rgba(24, 111, 182, 0.1);
    --box-shadow: 0px 0px 5px #186fb6d3;
  }

  &[class*="UBTUIT"] {
    --bg-gradient: linear-gradient(42.32deg, rgba(172, 161, 6, 0.89), #dfd108);
    --bg: rgba(98, 102, 5, 0.88);
    --box-shadow: 0px 0px 5px rgba(98, 102, 5, 0.85);
  }

  &[class*="contest-type-MultiL"] {
    --bg-gradient: linear-gradient(45deg, #010c80be, #010c8094);
    --bg: #081386b0;
    --bg-light: rgba(8, 19, 134, 0.1);
    --box-shadow: 0px 0px 5px #010c80a6;

    .card-bg {
      zoom: 50% !important;
    }
  }

  &.contest-309 {
    --bg-gradient: linear-gradient(to right, #605ee3, #484ed0);
    --bg: #1c25c1;
    --bg-light: rgba(96, 94, 227, 0.1);
    --box-shadow: 0 0 5px #1c25c1;
  }

  &.contest-type-CodeGolf {
    .card-bg img {
      max-width: 59% !important;
    }
  }

  // DT contest
  @include define-contest-colors(
    $selector: '&.contest-365',
    $color: #b28c4b,
    $color-dark: #685128,
    $background-light: linear-gradient(to right, #b28c4b, #dbb666),
    $background-dark: linear-gradient(to right, #564122, #685128),
  );
}

.dark-layout .contests-colors {

  &.contest-254 {
    --bg: #037166;
    --bg-gradient: linear-gradient(to right, #024b44, #037166);
  }

  &.contest-251,
  &.contest-250 {
    --bg-gradient: linear-gradient(to right, #024b44, #024b44);
  }

  &.contest-253 {
    --bg-gradient: linear-gradient(141deg, #064d52, 50%, #02989b);
  }

  &[class*="NASM"] {
    --bg: #0c4c90;
    --box-shadow: 0 0 5px #0c4c90;
    --bg-gradient: linear-gradient(-45deg, #10559e, #0c4c9094);
  }

  &.contest-type-LessCode:not([class*="Line"]) {
    --bg-gradient: linear-gradient(141deg, #4d5051, 50%, #4d5051);
    --bg: #b0b5b6;
    --box-shadow: 0px 0px 5px #b0b5b6;
    --text-color: #fff;
  }

  &[class*="Uzinfocom"] {
    --bg-gradient: linear-gradient(45deg, #042c4bde, #005ea2c9);
    --bg: #1870b6;
    --box-shadow: 0px 0px 5px #1870b6;
  }

  &[class*="UBTUIT"] {
    --bg-gradient: linear-gradient(42.32deg, #797104, #aca106);
    --bg: #626605;
    --box-shadow: 0px 0px 5px #626605;
  }

  &[class*="contest-type-MultiL"] {
    --bg-gradient: linear-gradient(45deg, #2a3186be, #19217488);
    --bg: #010c80;
    --box-shadow: 0px 0px 5px #010c80;

    .card-bg {
      zoom: 50% !important;
    }
  }

  &.contest-309 {
    --bg-gradient: linear-gradient(to right, rgba(47, 45, 161, 0.8), #484ed0);
    --bg: #1c25c1;
    --bg-light: rgba(96, 94, 227, 0.1);
    --box-shadow: 0 0 5px #1c25c1;
  }
}

.contests-colors {
  thead tr {
    background: var(--bg-gradient) !important;
    // box-shadow: var(--box-shadow) !important;
    color: var(--text-color);
  }

  .text-primary {
    color: var(--bg) !important;
  }

  .badge-primary.badge-glow {
    background-color: var(--bg);
    box-shadow: var(--box-shadow) !important;
    color: var(--text-color);
  }

  .badge-light-primary {
    background-color: var(--bg-light) !important;
    color: var(--bg);
  }

  .bg-light-primary {
    background-color: var(--bg-light) !important;
  }

  .pagination-primary .page-item.active .page-link {
    background: var(--bg) !important;
  }

  .btn {
    background-color: var(--bg) !important;
    border: 1px var(--bg-gradient) !important;
    box-shadow: var(--box-shadow) !important;

    &:hover {
      background: var(--bg-gradient) !important;
    }
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--bg);
    background-color: var(--bg);
  }

}
