<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    @if (isLoading) {
      <div class="card" [style.height.px]="400">
        <spinner></spinner>
      </div>
    } @else {
      <app-content-header [contentHeader]="contentHeader" />

      <section class="mt-2">
        <div class="row">
          <div class="col-lg-9 col-md-12 col-sm-12">
            <project-description [project]="data.project" />

            <div class="mt-2">
              <project-attempts [project]="data.project" [hackathonId]="hackathonId" />
            </div>
          </div>

          <div class="col-lg-3 col-md-12 col-sm-12">
            <project-sidebar [project]="data.project" [hackathonId]="hackathonId" [projectSymbol]="data.symbol" (submitEvent)="reloadAttempts()" />
          </div>
        </div>
      </section>
    }
  </div>
</div>
