.card {
  background: var(--bg-gradient) !important;
  box-shadow: var(--box-shadow) !important;

  .card-footer {
    z-index: 1;
    border-top: 1px solid var(--bg);
  }

  .card-bg {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    opacity: .1;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;

    img {
      max-width: 100%;
      height: 100%;
      // width: 100%;
    }
  }
}
