.card {
  background: var(--bg-gradient) !important;
  // box-shadow: var(--box-shadow) !important;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .card-footer {
    z-index: 1;
    border-top: 1px solid var(--bg);
  }

  .contest-logo {
    display: flex;
    justify-content: center;
    opacity: 0.1;
    position: absolute;

    img {
      height: 100%;
      width: 100%;
    }
  }
}
