<a (mouseleave)="removeProblem()" [routerLink]="['..', 'problem', contestProblem.symbol]">
  <div
    [class]="contest | contestClasses"
    [ngClass]="{
      'border-success': contestProblem.isSolved,
      'border-danger': !contestProblem.isSolved && contestProblem.isAttempted
    }"
    class="card">

    <div
      class="contest-logo"
      [ngClass]="{
        'full-height': logoHeight >= logoWidth,
        'full-width': logoHeight < logoWidth
      }">
      <img
        #contestLogo
        (load)="onLoad($event)"
        [src]="contest.logo"
        alt="contest-logo">
      </div>

      @if (problem) {
        <div class="card-header full-width">
          <div class="card-title text-dark mb-2">
            {{ contestProblem.symbol }}. {{ contestProblem.problem.title }}
          </div>
          <div class="text-dark">
            <mathjax [content]="problem.body"></mathjax>
          </div>
        </div>
      } @else {
        <div class="full-width">
          <div class="card-header justify-content-start">
            @if (contestProblem.isSolved) {
              <span class="text-success">
                <i data-feather="check-circle"></i>
              </span>
            }
            @if (!contestProblem.isSolved && contestProblem.isAttempted) {
              <span class="text-danger">
                <i data-feather="x-circle"></i>
              </span>
            }
            <span (mouseenter)="onProblemFocus()" class="text-dark ml-50">
              {{ contestProblem.symbol }}. {{ contestProblem.problem.title }}
              @if (contest.hasBalls()) {
                <span>
                  ({{ contestProblem.ball }})
                </span>
              }
            </span>
          </div>
          <div class="card-body">
            @for (availableLanguage of contestProblem.problem.availableLanguages; track availableLanguage) {
              <attempt-language [lang]="availableLanguage.lang" [langFull]="availableLanguage.langFull"/>
            }
          </div>
          <div class="card-body">
            <span class="text-dark">
              {{ contestProblem.solved }}
              <i data-feather="user-check"></i>
            </span>
            <span class="text-dark pl-1">
              {{ contestProblem.attemptUsersCount - contestProblem.solved }}
              <i data-feather="user-x"></i>
            </span>
          </div>
        </div>
      }

    </div>

  </a>
