@if (lastPosts.length == 0){
  <div class="card" [style.height.px]="500">
    <spinner></spinner>
  </div>
} @else {
  <swiper [config]="postsSwiperConfig" #postsSwiper [height]="500">
    <div class="swiper-slide" *ngFor="let post of lastPosts">
      @defer (on viewport) {
        <blog-post-card [blog]="post"></blog-post-card>
      } @placeholder {
        <div [style.height.px]="400">
          <spinner></spinner>
        </div>
      }
    </div>
    <div class="swiper-pagination"></div>
  </swiper>
}
