<div class="content-wrapper container-xxl p-0">
  <div class="content-body duels-page">
    <app-content-header [contentHeader]="contentHeader">
      <div class="btn-list">
        <a
          [ngClass.lt-md]="'btn-sm'"
          class="btn btn-primary-light"
          [routerLink]="Resources.DuelsRating"
        >
          <kep-icon class="font-medium-1" name="ranking"></kep-icon>
          <span [ngClass.lt-md]="'d-none'">
            {{ 'Rating' | translate }}
          </span>
        </a>
      </div>
    </app-content-header>

    <div class="row">
      <div class="col-12">
        <duel-ready-status-widget
          (statusChanged)="onReadyStatusChanged($event)"
        ></duel-ready-status-widget>
      </div>

      <div class="col-12">
        <duel-ready-players-widget
          [currentUsername]="currentUser?.username ?? null"
          [refreshKey]="readyPlayersRefreshKey"
          (duelCreated)="onDuelCreated()"
        />
      </div>

      <div class="col-12 col-xl-6">
        <duels-list-widget
          [username]="currentUser?.username ?? null"
          [currentUsername]="currentUser?.username ?? null"
          [refreshKey]="myDuelsRefreshKey"
          (duelConfirmed)="onDuelConfirmed()"
        />
      </div>

      <div class="col-12 col-xl-6">
        <duels-list-widget
          titleKey="AllDuels"
          [currentUsername]="currentUser?.username ?? null"
          [refreshKey]="allDuelsRefreshKey"
          (duelConfirmed)="onDuelConfirmed()"
        />
      </div>
    </div>
  </div>
</div>

