<div class="content-wrapper container-xxl p-0">
  <div class="content-body duels-page">
    <app-content-header [contentHeader]="contentHeader">
      <div class="btn-list">
        <a
          [ngClass.lt-md]="'btn-sm'"
          class="btn btn-primary-light"
          [routerLink]="Resources.DuelsRating"
        >
          <kep-icon class="font-medium-1" name="ranking"></kep-icon>
          <span [ngClass.lt-md]="'d-none'">
            {{ 'Rating' | translate }}
          </span>
        </a>
      </div>
    </app-content-header>

    <div class="row">
      <div class="col-12">
        <duel-ready-status-widget
          (statusChanged)="onReadyStatusChanged($event)"
        ></duel-ready-status-widget>
      </div>

      <div class="col-12">
        <ul
          ngbNav
          #duelsNav="ngbNav"
          class="nav nav-tabs nav-style-1 nav-fill flex-column flex-md-row"
          [destroyOnHide]="false"
          [(activeId)]="activeTab"
        >
          <li [ngbNavItem]="'my'">
            <button ngbNavLink type="button">
              {{ 'MyDuels' | translate }}
            </button>
            <ng-template ngbNavContent>
              <duels-list-widget
                [my]="true"
                [currentUsername]="currentUser?.username ?? null"
                [refreshKey]="myDuelsRefreshKey"
                (duelConfirmed)="onDuelConfirmed()"
              ></duels-list-widget>
            </ng-template>
          </li>

          <li [ngbNavItem]="'ready'">
            <button ngbNavLink type="button">
              {{ 'DuelReadyPlayersTitle' | translate }}
            </button>
            <ng-template ngbNavContent>
              <duel-ready-players-widget
                [currentUsername]="currentUser?.username ?? null"
                [refreshKey]="readyPlayersRefreshKey"
                (duelCreated)="onDuelCreated()"
              ></duel-ready-players-widget>
            </ng-template>
          </li>

          <li [ngbNavItem]="'all'">
            <button ngbNavLink type="button">
              {{ 'AllDuels' | translate }}
            </button>
            <ng-template ngbNavContent>
              <duels-list-widget
                titleKey="AllDuels"
                [currentUsername]="currentUser?.username ?? null"
                [refreshKey]="allDuelsRefreshKey"
                (duelConfirmed)="onDuelConfirmed()"
              ></duels-list-widget>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="duelsNav" class="mt-3"></div>
      </div>
    </div>
  </div>
</div>

