<div class="table-responsive">
  <table class="table attempts-table">
    <thead>
      <tr class="bg-gradient-primary">
        <th class="th-content">ID</th>
        <th class="th-content">{{ 'SUBMITTED' | translate }}</th>
        <th class="th-content">{{ 'VERDICT' | translate }}</th>
        <th class="th-content">{{ 'TIME' | translate }}</th>
        <th class="th-content">{{ 'MEMORY' | translate }}</th>
        <th class="th-content">{{ 'SIZE' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let attempt of attempts"
        [ngClass]="{'bg-light-primary': attempt.user.username == currentUser?.username}">
        {{ attempt.user.id }}
        <td class="attempt-id">
          <a (click)="onClick(attempt.id)"
            *ngIf="attempt.user.username == currentUser?.username || currentUser?.isSuperuser; else other;">
            <u>
              {{ attempt.id }}
            </u>
          </a>
          <ng-template #other>{{ attempt.id }}</ng-template>
        </td>

        <td>
          <span class="badge badge-light-success text-center" style="width: 130px;">
            {{ attempt.created | date:"yyyy/MM/dd HH:mm:ss" }}
          </span>
        </td>

        <td class="td-content" [innerHTML]="attempt | attemptVerdictHTML">
        </td>

        <td class="td-content">
          <span class="badge badge-info">{{ attempt.time }} {{ 'MS' | translate }}</span>
        </td>

        <td class="td-content">
          <span class="badge badge-primary">{{ attempt.memory }} {{ 'KB' | translate }}</span>
        </td>

        <td class="td-content">
          <span class="badge badge-dark">{{ attempt.sourceCodeSize }}</span>
        </td>

      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th class="th-content">ID</th>
        <th class="th-content">{{ 'SUBMITTED' | translate }}</th>
        <th class="th-content">{{ 'VERDICT' | translate }}</th>
        <th class="th-content">{{ 'TIME' | translate }}</th>
        <th class="th-content">{{ 'MEMORY' | translate }}</th>
        <th class="th-content">{{ 'SIZE' | translate }}</th>
      </tr>
    </tfoot>
  </table>
</div>

<!-- Modal -->
<ng-template #modal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mr-1">Source code</h5>
    <clipboard-button [text]="selectedAttempt.sourceCode"></clipboard-button>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus style="height: 500px;">
    <ngx-monaco-editor [ngModelOptions]="{standalone: true}" [options]="editorOptions"
      [(ngModel)]="selectedAttempt.sourceCode" style="height: 100%;" name="code" class="mt-1"
      ngDefaultControl></ngx-monaco-editor>
  </div>
</ng-template>
<!-- / Modal -->
