<div class="content-wrapper p-0">
    <div class="content-body">
      <!-- content-header component -->
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
  
      <section class="mt-2">
        <div class="row">
          <div [@fadeInLeft]="startAnimationState" class="col-lg-9 col-md-12 col-sm-12 order-2 order-lg-1">
            <div class="card">
              <div class="card-header">
                <contest-tab [contest]="contest"></contest-tab>
                <hr>
              </div>
              <div class="card-body">
                <h3 class="text-center mb-1">
                  {{ 'ATTEMPTS' | translate }}
                </h3>

                <div class="mb-1 custom-control custom-checkbox" *ngIf="currentUser">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    [(ngModel)]="filter.userOnly"
                    (change)="reloadAttempts()"
                    [ngModelOptions]="{standalone: true}"
                    id="filterOnlyUser"
                  />
                  <label class="custom-control-label" for="filterOnlyUser">{{ 'MY_ATTEMPTS' | translate }}</label>
                </div>

                <attempts-table [attempts]="attempts" [contest]="contest"></attempts-table>

                <pagination
                  *ngIf="attempts.length > 0"
                  [collectionSize]="totalAttemptsCount"
                  [(page)]="currentPage"
                  [pageSize]="50"
                  [maxSize]="5"
                  (pageChange)="reloadAttempts()"
                >
                </pagination>
              </div>
            </div>
          </div>

          <div [@fadeInRight]="startAnimationState" class="col-lg-3 col-md-12 col-sm-12 order-1 order-lg-2">
            <div class="layout-spacing" *ngIf="contest">
              <contest-card-countdown [contest]="contest"></contest-card-countdown>
            </div>

            <div class="layout-spacing">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title text-center">
                    {{ 'CONTESTS.FILTER_ATTEMPTS' | translate }}
                    <hr>
                  </h5>
                </div>
  
                <div class="card-body">
                  <form class="form form-vertical">
                    <div class="row">
                      <div class="col-12">
                        <label class="text-primary">
                          <strong>
                            {{ 'PROBLEM' | translate }}:
                          </strong>
                        </label>
                        <div class="form-group">
                          <ng-select
                            [(ngModel)]="filter.contestProblem"
                            [ngModelOptions]="{standalone: true}"
                          >
                              <ng-option *ngFor="let contestProblem of contestProblems" [value]="contestProblem.symbol">
                                {{ contestProblem.symbol }}. {{ contestProblem.problem.title }}
                              </ng-option>
                            </ng-select>                      
                          </div>    
                      </div>

                      <div class="col-12">
                        <label class="text-primary">
                          <strong>
                            {{ 'VERDICT' | translate }}:
                          </strong>
                        </label>
                        <div class="form-group">
                          <ng-select
                            [(ngModel)]="filter.verdict"
                            [ngModelOptions]="{standalone: true}"
                          >
                              <ng-option *ngFor="let verdict of verdicts" [value]="verdict.value">{{ verdict.label }}</ng-option>
                            </ng-select>                      
                          </div>    
                      </div>

                      <div class="col-12 text-center mt-2">
                        <button (click)="reloadAttempts()" class="btn btn-primary round btn-sm mr-1">
                          <small>
                            {{ 'APPLY' | translate }}
                          </small>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</div>

<ng-select-css></ng-select-css>