<div class="table-responsive">
  <table class="table text-nowrap table-hover">
    <thead>
    <tr>
      <th>
        <div class="form-check form-check-md d-flex align-items-center">
          <input class="form-check-input cursor-pointer" type="checkbox">
        </div>
      </th>
      @for (column of columns; track $index) {
        <th
          (click)="sort(column)"
          [class.cursor-pointer]="column.sortable">
          <kep-icon *ngIf="column.icon" [name]="column.icon"/>
          {{ column.header }}
          @if (column.sortable) {
            @if (ordering === getOrderingKey(column)) {
              <keen-icon name="up"/>
            } @else if (ordering === '-' + getOrderingKey(column)) {
              <keen-icon name="down"/>
            } @else {
              <keen-icon name="up-down"/>
            }
          }
        </th>
      }
    </tr>
    </thead>

    <tbody>
      @if (!isLoading) {
        @for (row of data; track $index) {
          <tr>
            <td>
              <div class="form-check form-check-md d-flex align-items-center">
                <input class="form-check-input cursor-pointer" type="checkbox">
              </div>
            </td>
            @for (column of columns; track $index) {
              @if (column.field === 'id') {
                <td
                  style="border-left: 3px solid rgb(var(--{{ row['status'] == 'ACTIVE' ? 'success' : 'danger' }}-rgb))">
                  {{ row['id'] }}
                </td>
              } @else {
                <td>
                  @if (tplFor(tplKey(column))) {
                    <ng-container
                      [ngTemplateOutletContext]="{ $implicit: getCellValue(row, column) }"
                      [ngTemplateOutlet]="tplFor(tplKey(column))">
                    </ng-container>
                  } @else {
                    {{ getCellValue(row, column) }}
                  }
                </td>
              }
            }
          </tr>
        } @empty {
          <tr>
            <td
              [attr.colspan]="columns.length + 1"
              class="py-6 text-center text-sm">
              No data
            </td>
          </tr>
        }
      } @else {
        @for (_ of [].constructor(pageSize); track $index) {
          <tr>
            @for (_ of columns.concat([null]); track $index) {
              <td>
                <ngx-skeleton-loader
                  [count]="1"
                  [theme]="{'margin-bottom': '0', 'height': '15px', 'width': '80%', 'background': 'var(--skeleton-color)'}"
                  animation="true"
                  appearance="line">
                </ngx-skeleton-loader>
              </td>
            }
          </tr>
        }
      }
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-between align-items-center p-3">
  <div class="d-none d-md-block">
    Showing
    <span class="fw-bold">
      {{ pageSize * (pageNumber - 1) + 1 }}
      -
      {{ pageSize * pageNumber }}
    </span>
    of
    <span class="fw-bold">
      {{ total }}
    </span>
  </div>

  <ngb-pagination
    (pageChange)="pageChange.emit($event)"
    [boundaryLinks]="false"
    [collectionSize]="total"
    [disabled]="isLoading"
    [ellipses]="true"
    [maxSize]="5"
    [pageSize]="pageSize"
    [page]="pageNumber"
    [rotate]="true"
    class="pagination-primary">
    <ng-template ngbPaginationFirst>
      <keen-icon class="" name="double-left" type="duotone"/>
    </ng-template>
    <ng-template ngbPaginationPrevious>
      <keen-icon class="" name="left" type="duotone"/>
    </ng-template>
    <ng-template ngbPaginationNext>
      <keen-icon class="" name="right" type="duotone"/>
    </ng-template>
    <ng-template ngbPaginationLast>
      <keen-icon class="" name="double-right" type="duotone"/>
    </ng-template>
  </ngb-pagination>

  <div class="d-none d-md-block">
    <ng-select
      (change)="pageSizeChange.emit($event)"
      [(ngModel)]="pageSize"
      [clearable]="false"
      [searchable]="false"
      appendTo="body">
      @for (pageOption of pageOptions; track pageOption) {
        <ng-option [value]="pageOption">
          {{ pageOption }} / {{ 'Page' }}
        </ng-option>
      }
    </ng-select>
  </div>
</div>
