@import 'styles/kep-imports';

::ng-deep .kepcoin-popover .popover-body {
    padding: 0px !important;
    width: 200px !important;
}

.text-kepcoin {
    color: #b18c51;
    @include dark-layout {
        color: $light;
    }
}

a {
    font-weight: 500;
}
.bg-kepcoin {
    background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    @include dark-layout {
        background: radial-gradient(circle at 10% 20%, rgb(172, 104, 8) 0%, rgb(153, 153, 13) 90%);
    }
}

::ng-deep .kepcoin-popover .card {
    margin-bottom: 0px !important;
    box-shadow: 0 4px 6px 0 rgb(85 85 85 / 9%), 0 1px 20px 0 rgb(0 0 0 / 8%), 0px 1px 11px 0px rgb(0 0 0 / 6%) !important;
}
