<div class="content-wrapper p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="mt-2">
      <div class="row">
        <div class="col-12">
          <div class="layout-spacing">
            <div class="card">
              <div class="card-header">
                <contest-tab [contest]="contest"></contest-tab>
                <hr>
              </div>
              <div class="card-body" *ngIf="contest">
                <h2 class="mt-2 mb-4 text-center">{{ contest.title }}</h2>
                <contest-standings-countdown [contest]="contest"></contest-standings-countdown>

                <div class="table-responsive">
                  <table class="table" #table>
                    <thead>
                      <tr #thead class="bg-gradient-primary">
                        <th class="text-center">#</th>
                        <th>{{ 'CONTESTS.CONTESTANT' | translate }}</th>
                        <th class="text-center">
                          <a ngbTooltip="{{ 'CONTESTS.POINTS' | translate }} "container="body">
                            <i [data-feather]="'rating' | iconName"></i>
                          </a>
                        </th>

                        <th class="text-center" *ngIf="contest.status == 0 && contest.isRated">
                          <i [data-feather]="'delta' | iconName"></i>
                        </th>

                        <th *ngIf="contest?.hasPenalties()" class="text-center">{{ 'CONTESTS.PENALTIES' | translate }}</th>
                        <th class="text-center">
                          <a ngbTooltip="{{ 'CONTESTS.PERFOMANCE' | translate }}" container="body">
                            <i data-feather="activity"></i>
                          </a>
                        </th>
                        <th *ngFor="let contestProblem of contestProblems" class="text-center" style="white-space: nowrap;">
                          <a
                            [routerLink]="['..', 'problem', contestProblem.symbol]"
                            [ngbTooltip]="contestProblem.problem.title"
                            tooltipClass="tooltip-primary"
                            container="body"
                            class="text-white">
                            {{ contestProblem.symbol }}
                            <span *ngIf="contest?.hasBalls()">
                              ({{ contestProblem.ball }})
                            </span>
                          </a>
                        </th>
                      </tr>
                    </thead>
                    <tbody *ngIf="contestants">
                      <tr 
                        [@fadeInOnEnter]
                        *ngFor="let contestant of contestants"
                        [ngClass]="{'bg-light-primary': currentUser?.username == contestant.username }">
                        <td class="text-center">
                          <b>
                            {{ contestant.rank }}
                          </b>
                        </td>

                        <td>
                          <contestant-view [user]="contestant" [team]="contestant.team"></contestant-view>
                        </td>

                        <td class="text-center">
                          <span class="badge badge-glow badge-primary">
                            {{ contestant.points }}
                          </span>
                        </td>

                        <td class="text-center" *ngIf="contest.status == 0 && contest.isRated">
                          <span class="badge badge-glow" [ngClass]="{
                            'badge-light-success': contestant.delta > 0,
                            'badge-light-dark': contestant.delta == 0,
                            'badge-light-danger': contestant.delta < 0
                          }">
                            <span *ngIf="contestant.delta > 0">+</span>{{ contestant.delta }}
                          </span>
                          <span *ngIf="contestant.bonus > 0" class="ml-1 badge badge-light-primary">
                            +{{ contestant.bonus }}
                          </span>
                        </td>

                        <td *ngIf="contest?.hasPenalties()" class="text-center">
                          <span class="badge badge-light-danger">
                            {{ contestant.penalties }}
                          </span>
                        </td>

                        <td class="text-center" style="white-space: nowrap;">
                          <contests-rating-image [title]="contestant.perfomanceTitle" [class]="'mr-50'"></contests-rating-image>
                          <span class="text-dark">
                            <span *ngIf="contestant.perfomance >= 3499">∞</span>
                            <span *ngIf="contestant.perfomance < 3499">{{ contestant.perfomance }}</span>
                          </span>
                        </td>

                        <td class="text-center" *ngFor="let contestProblem of contestProblems">
                          <ng-template #selfie [ngTemplateOutlet]="selfie" let-problemInfo="aVariable"
                          [ngTemplateOutletContext]="{ aVariable: getProblemInfoBySymbol(contestant.problemsInfo, contestProblem.symbol) }">
                          <div>
                              <div *ngIf="problemInfo">
                                <div [innerHTML]="problemInfo.getHTML(contest)"></div>
                                <!--
                                  <contest-problem-info [contest]="contest" [problemInfo]="problemInfo"></contest-problem-info>
                                -->
                              </div>
                            </div>
                          </ng-template>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th class="text-center text-dark">#</th>
                        <th class="text-dark">{{ 'CONTESTS.CONTESTANT' | translate }}</th>
                        <th class="text-center text-dark"><i [data-feather]="'rating' | iconName"></i></th>
                        <th *ngIf="contest?.hasPenalties()" class="text-center">{{ 'CONTESTS.PENALTIES' | translate }}</th>
                        <th class="text-center"><i data-feather="activity"></i></th>
                        <th class="text-center" *ngIf="contest.isAlready() && contest.isRated">
                          <i [data-feather]="'delta' | iconName"></i>
                        </th>
                        <th *ngFor="let contestProblem of contestProblems" class="text-dark text-center">
                          {{ contestProblem.symbol }}
                          <br>
                          <small>
                            (<span class="text-success">{{ contestProblem.solved }}</span>/<span class="text-danger">{{ contestProblem.attemptUsersCount }}</span>/<span class="text-dark">{{ contestProblem.attemptsCount }}</span>)
                          </small>
                        </th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
