<!--<app-content-header [contentHeader]="contentHeader"></app-content-header>-->

<section [class]="contest | contestClasses">
  <div class="d-flex justify-content-center align-items-center">
    <div class="d-flex align-items-center">
      <kep-icon class="mr-50" name="contest" size="large-1" type="duotone"/>
      <a [routerLink]="Resources.Contest | resourceById:contest.id">
        <h2 class="mt-2 mb-2 text-dark text-center">
          {{ contest.title }}
        </h2>
      </a>
    </div>
  </div>
  <contest-standings-countdown [contest]="contest"></contest-standings-countdown>

  <kep-table [loading]="isLoading && contestants.length == 0" [empty]="contestants.length == 0">
    <ng-container header>
      <tr>
        <th class="text-center">#</th>
        <th>{{ 'CONTESTS.CONTESTANT' | translate }}</th>
        <th class="text-center">
          <a container="body" ngbTooltip="{{ 'CONTESTS.POINTS' | translate }}">
            <i [data-feather]="'rating' | iconName"></i>
          </a>
        </th>
        @if (contest.isRated) {
          <th ngbTooltip="{{ 'RatingChange' | translate }}" container="body" class="text-center">
            <i [data-feather]="'delta' | iconName"></i>
          </th>
        }
        @if (contest?.hasPenalties()) {
          <th class="text-center">{{ 'CONTESTS.PENALTIES' | translate }}</th>
        }
        <th class="text-center">
          <a container="body" ngbTooltip="{{ 'CONTESTS.PERFOMANCE' | translate }}">
            <i data-feather="activity"></i>
          </a>
        </th>
        @for (contestProblem of contestProblems;track contestProblem) {
          <th class="text-center" style="white-space: nowrap;">
            <a
              [routerLink]="['..', 'problem', contestProblem.symbol]"
              [ngbTooltip]="contestProblem.problem.title"
              tooltipClass="tooltip-primary"
              container="body"
              class="text-white">
              {{ contestProblem.symbol }}
              @if (contest?.hasBalls()) {
                <span>
                ({{ contestProblem.ball }})
              </span>
              }
            </a>
          </th>
        }
      </tr>
    </ng-container>

    <ng-container body>
      @for (contestant of contestants;track contestant) {
        <tr
          [@fadeInOnEnter]
          [ngClass]="{'bg-light-primary': currentUser?.username == contestant.username }">
          <td class="text-center text-dark">
            {{ contestant.rank }}
          </td>
          <td style="position: relative;">
            <contestant-view
              [isOfficial]="contestant.isOfficial"
              [user]="contestant"
              [team]="contestant.team"/>
            <div class="absolute d-flex justify-content-start">
              @if (contestant.isUnrated && !contestant.isVirtual) {
                <span class="badge badge-info badge-pill">
                  {{ 'Unrated' | translate }}
                </span>
              }
              @if (contestant.isVirtual) {
                <span class="badge badge-warning badge-pill">
                  {{ 'Virtual' | translate }}
                </span>
              }
              @if (contestant.virtualTime) {
                <span class="badge badge-success badge-pill">
                  {{ contestant.virtualTime }}
                </span>
              }
            </div>
          </td>
          <td class="text-center">
            <span class="badge points">
              {{ contestant.points }}
            </span>
          </td>
          @if (contest.isRated) {
            <td class="text-center">
              <span class="badge badge-glow" [ngClass]="{
                'badge-light-success': contestant.delta > 0,
                'badge-light-dark': contestant.delta == 0,
                'badge-light-danger': contestant.delta < 0
              }">
                @if (contestant.delta > 0) {
                  <span>+</span>
                }{{ contestant.delta }}
                </span>
            </td>
          }
          @if (contest?.hasPenalties()) {
            <td class="text-center">
              <span class="badge badge-light-danger">
                {{ contestant.penalties }}
              </span>
            </td>
          }
          <td class="text-center" style="white-space: nowrap;">
            <contests-rating-image
              [title]="contestant.perfomanceTitle"
              [class]="'mr-50'"/>
            <span class="text-dark">
              @if (contestant.perfomance >= 3400) {
                <span>∞</span>
              }
              @if (contestant.perfomance < 3400) {
                <span>{{ contestant.perfomance }}</span>
              }
            </span>
          </td>
          @for (contestProblem of contestProblems;track contestProblem) {
            <td class="text-center">
              <ng-template
                  #selfie [ngTemplateOutlet]="selfie"
                  let-problemInfo="aVariable"
                  [ngTemplateOutletContext]="{
                    aVariable: getProblemInfoBySymbol(contestant.problemsInfo, contestProblem.symbol)
                  }">
                <div>
                  @if (problemInfo) {
                    <div [innerHTML]="problemInfo.getHTML(contest)"></div>
                  }
                </div>
              </ng-template>
            </td>
          }
        </tr>
      }
    </ng-container>

    <ng-container footer>
      <tr>
        <th class="text-center text-dark">#</th>
        <th class="text-dark">{{ 'CONTESTS.CONTESTANT' | translate }}</th>
        <th class="text-center text-dark"><i [data-feather]="'rating' | iconName"></i></th>
        @if (contest.isRated) {
          <th class="text-center">
            <i [data-feather]="'delta' | iconName"></i>
          </th>
        }
        @if (contest?.hasPenalties()) {
          <th class="text-center">{{ 'CONTESTS.PENALTIES' | translate }}</th>
        }
        <th class="text-center"><i data-feather="activity"></i></th>
        @for (contestProblem of contestProblems;track contestProblem) {
          <th class="text-dark text-center">
            {{ contestProblem.symbol }}
            <br>
            <small>
              (<span class="text-success">{{ contestProblem.solved }}</span>/<span
              class="text-danger">{{ contestProblem.attemptUsersCount }}</span>/<span
              class="text-dark">{{ contestProblem.attemptsCount }}</span>)
            </small>
          </th>
        }
      </tr>
    </ng-container>
  </kep-table>
</section>
