<!--<app-content-header [contentHeader]="contentHeader"></app-content-header>-->

<section [class]="contest | contestClasses">
  <div class="bg-img" style="background-image: url({{ contest.logo }});"></div>

  <div class="contest-standings-top">
    <div class="header">
      <div class="font-large-1 text-dark">
        <kep-icon class="me-50" name="contest" size="large-1" type="duotone"/>
        {{ contest.title }}
      </div>

      <ng-select
        style="width: 200px;"
        placeholder="{{ 'ALL' | translate }}"
        [items]="contestFilters"
        bindLabel="name"
        [(ngModel)]="selectedFilter"
        (change)="filterChange()"
        clearable="true"
        searchable="true"
        bindValue="id"
      />
    </div>
    <contest-tab [contest]="contest"/>
  </div>

  <div *ngIf="contest.status == 0" class="contest-standings-top">
    <contest-standings-countdown [contest]="contest"/>
  </div>

  <contest-standings-table
    [contestProblems]="contestProblems"
    [contest]="contest"
    [contestants]="contestants"
    [isLoading]="isLoading"/>

  <kep-pagination
    (pageChange)="pageChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
    [(page)]="pageNumber"
    [collectionSize]="total"
    [ellipses]="true"
    [maxSize]="maxSize"
    [pageOptions]="pageOptions"
    [pageSize]="pageSize"
    [rotate]="true">
  </kep-pagination>
</section>

<ng-select-css/>
