app-contest-standings {
  contestant-view, contestant-view div {
    white-space: nowrap;
  }

  .rating-title-img {
    margin-right: 5px !important;
  }

  .contest-time-sm {
    font-size: 10px;
  }

  .less-code {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }

  .absolute {
    position: absolute;
  }

  thead tr {
    background: var(--bg-gradient) !important;
    box-shadow: var(--box-shadow) !important;
    color: var(--text-color);
  }

  span.points {
    background: var(--bg) !important;
    box-shadow: var(--box-shadow) !important;
    color: var(--text-color);
  }

  span.problem-points {
    background: var(--bg-light) !important;
    color: var(--bg);
  }

  span.problem-points.the-best {
    background: var(--bg) !important;
    box-shadow: var(--box-shadow) !important;
    color: var(--text-color);
  }

  th, td {
    padding: 15px !important;
  }

  th:nth-child(1) {
    min-width: 80px;
  }

  th {
    border-bottom: none !important;
    border-top: none !important;
  }
}
