<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader">
      <div class="btn-group" role="group">
        <button
          class="btn btn-primary-light btn-wave"
          type="button"
          (click)="goToPreviousProblem()"
          ngbTooltip="{{ 'PreviousProblem' | translate }}"
        >
          <kep-icon name="left"/>
        </button>
        <button
          class="btn btn-primary-light btn-wave"
          type="button"
          (click)="goToNextProblem()"
          ngbTooltip="{{ 'NextProblem' | translate }}"
        >
          <kep-icon name="right"/>
        </button>
      </div>
    </app-content-header>
    <section  class="mt-2">
      <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
          <kep-card>
            <div class="card-header d-flex flex-wrap align-items-center gap-2 justify-content-between">
              <ul class="nav nav-tabs flex-grow-1">
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLink="./"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                  >
                    <kep-icon size="small-4" color="primary" name="problem" type="duotone"/>
                    {{ 'Problem' | translate }}
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" routerLink="attempts" routerLinkActive="active">
                    <kep-icon size="small-4" color="warning" name="attempt" type="duotone"/>
                    {{ 'Attempts' | translate }}
                  </a>
                </li>

                @if (problem.hasCheckInput) {
                  <li class="nav-item">
                    <a class="nav-link" routerLink="hacks" routerLinkActive="active">
                      <kep-icon size="small-4" name="lock-2" color="dark" type="duotone"/>
                      {{ 'Hacks' | translate }}
                    </a>
                  </li>
                }

                @if (studyPlanId) {
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/practice/problems/study-plan/{{ studyPlanId }}">
                      <span [data-feather]="'activity'"></span> {{ 'StudyPlan' | translate }}
                    </a>
                  </li>
                }
              </ul>

              <div class="d-flex align-items-center gap-1 ms-auto">
                @if (contestId) {
                  <a
                    class="btn btn-sm btn-outline-primary"
                    routerLink="/competitions/contests/contest/{{ contestId }}/problems"
                  >
                    <kep-icon name="contest" color="primary" type="duotone" class="me-1"/>
                    Contestga qaytish
                  </a>
                }

                @if (isAuthenticated) {
                  <button (click)="codeEditorSidebarToggle()" class="btn btn-sm btn-primary">{{ 'Submit' | translate }}
                  </button>
                }
              </div>
            </div>

            <div class="card-footer">
              <router-outlet></router-outlet>
            </div>
          </kep-card>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12">
          <problem-sidebar [problem]="problem"></problem-sidebar>

          @if (isAuthenticated) {
            <problem-submit-card
              [availableLanguages]="problem.availableLanguages"
              [submitUrl]="'problems/' + problem.id + '/submit/'"
              (submitted)="onSubmit()"
            />
          }
        </div>

      </div>

      @if (problem && isAuthenticated) {
        <code-editor-modal
          [customClass]="'tour-step-2'"
          [uniqueName]="'problem-' + problem.id"
          [sampleTests]="problem.sampleTests"
          [submitUrl]="'problems/' + problem.id + '/submit/'"
          [problem]="problem"
          [answerForInputEnabled]="problem.hasSolution && problem.hasCheckInput"
          [availableLanguages]="problem.availableLanguages"
          (submittedEvent)="onSubmit()"></code-editor-modal>
      }
    </section>
  </div>
</div>

<tour-css></tour-css>
<ng-select-css></ng-select-css>

<!--<div class="col-lg-6 col-md-12 col-sm-12">-->
<!--  <kep-card>-->
<!--    <div class="card-header p-2">-->
<!--      <div class="card-title">-->
<!--        <kep-icon name="square-brackets" color="primary" type="duotone"/>-->
<!--        {{ 'Code' | translate }}-->
<!--      </div>-->
<!--    </div>-->

<!--    <ng-select-->
<!--      [appendTo]="'body'"-->
<!--      [clearable]="false">-->
<!--      @for (availableLanguage of problem.availableLanguages; track availableLanguage) {-->
<!--        <ng-option-->
<!--          [value]="availableLanguage.lang">-->
<!--          {{ availableLanguage.langFull || availableLanguage.lang }}-->
<!--        </ng-option>-->
<!--      }-->
<!--    </ng-select>-->
<!--    <monaco-editor lang="py"/>-->
<!--  </kep-card>-->
<!--</div>-->
