<div class="content-wrapper p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <section class="mt-2">
      <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12" [@fadeInLeftOnEnter]="">
          <div class="card">
            <div class="card-header">
              <ul ngbNav #navWithIcons="ngbNav" class="nav-tabs" [destroyOnHide]="false" (activeIdChange)="activeIdChange($event)" [(activeId)]="activeId">
                <li [ngbNavItem]="1">
                  <a ngbNavLink>
                    <span [data-feather]="'problem' | iconName"></span> {{ 'Problem' | translate }}
                  </a>
                  <ng-template ngbNavContent>
                    <problem-description [problem]="problem"></problem-description>
                  </ng-template>
                </li>

                <li [ngbNavItem]="2">
                  <a ngbNavLink>
                    <span [data-feather]="'attempt' | iconName"></span> {{ 'Attempts' | translate }}
                  </a>
                  <ng-template ngbNavContent>
                    <problem-attempts
                      [submitEvent]="submitEvent?.asObservable()"
                      [problem]="problem"
                      (hackSubmitted)="activeId = 3;"
                    >
                    </problem-attempts>
                  </ng-template>
                </li>

                <li *ngIf="problem.hasCheckInput" [ngbNavItem]="3" destroyOnHide="true">
                  <a ngbNavLink>
                    <span [data-feather]="'hack' | iconName"></span> {{ 'Hacks' | translate }}
                  </a>
                  <ng-template ngbNavContent>
                    <problem-hacks [problem]="problem"></problem-hacks>
                  </ng-template>
                </li>

                <li [ngbNavItem]="4" *ngIf="studyPlanId">
                  <a ngbNavLink routerLink="/practice/problems/study-plan/{{ studyPlanId }}">
                    <span [data-feather]="'activity'"></span> {{ 'StudyPlan' | translate }}
                  </a>
                  <ng-template ngbNavContent>
                    <problem-description [problem]="problem"></problem-description>
                  </ng-template>
                </li>

                <li [ngbNavItem]="4" *ngIf="contestId">
                  <a ngbNavLink routerLink="/competitions/contests/contest/{{ contestId }}/problems">
                    <span [data-feather]="'flag'"></span> {{ 'Contest' | translate }}
                  </a>
                  <ng-template ngbNavContent>
                    <problem-description [problem]="problem"></problem-description>
                  </ng-template>
                </li>
              </ul>

              <button *ngIf="isAuthenticated" (click)="codeEditorSidebarToggle()" class="btn btn-sm btn-primary">{{ 'Submit' | translate }}</button>
            </div>

            <div class="card-body">
              <div [ngbNavOutlet]="navWithIcons" class="mt-2"></div>
            </div>

          </div>


          <div *ngIf="currentUser?.permissions.canCreateProblems" class="card">
            <div class="card-header">
              <div class="card-title">
                Check input
              </div>
            </div>

            <div class="card-body">
              <ngx-monaco-editor
                [ngModelOptions]="{standalone: true}"
                [options]="editorOptions"
                [(ngModel)]="checkInput"
                class="mt-1"
                style="height: 300px;"
                ngDefaultControl
              ></ngx-monaco-editor>
              <div class="btn mt-2 btn-primary btn-sm" (click)="saveCheckInput()">Save</div>
            </div>

          </div>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12" [@fadeInRightOnEnter]>  
          <problem-sidebar [problem]="problem"></problem-sidebar>
        </div>

      </div>

      <code-editor-modal
        *ngIf="problem && currentUser"
        [customClass]="'tour-step-2'"
        [uniqueName]="'problem-' + problem.id"
        [sampleTests]="problem.sampleTests"
        [submitUrl]="'problems/' + problem.id + '/submit/'"
        [problem]="problem"
        [answerForInputEnabled]="problem.hasSolution && problem.hasCheckInput"
        [availableLanguages]="problem.availableLanguages"
        (submittedEvent)="submitEvent.next();activeId=2;"></code-editor-modal>
    </section>
  </div>
</div>

<tour-css></tour-css>
<ng-select-css></ng-select-css>
