@if (problem as resolvedProblem) {
<div class="problem-page">
  <div class="problem-page__toolbar">
    <div class="problem-page__toolbar-group">
      <button
        class="btn btn-icon btn-outline-primary"
        type="button"
        ngbTooltip="{{ 'PreviousProblem' | translate }}"
        (click)="goToPreviousProblem()"
      >
        <kep-icon name="left"/>
      </button>
      <button
        class="btn btn-icon btn-outline-primary"
        type="button"
        ngbTooltip="{{ 'NextProblem' | translate }}"
        (click)="goToNextProblem()"
      >
        <kep-icon name="right"/>
      </button>
    </div>
    <div class="problem-page__title">
      <h1 class="problem-page__title-text">{{ resolvedProblem.title }}</h1>
      <div class="problem-page__meta">
        <span class="problem-page__meta-item">#{{ resolvedProblem.id }}</span>
        <span class="problem-page__meta-separator">•</span>
        <span class="problem-page__meta-item">{{ resolvedProblem.difficultyTitle }}</span>
        <span class="problem-page__meta-separator">•</span>
        <span class="problem-page__meta-item">{{ 'Problems.Solved' | translate }}: {{ resolvedProblem.solved }}</span>
        <span class="problem-page__meta-separator">•</span>
        <span class="problem-page__meta-item">{{ 'Problems.Attempts' | translate }}: {{ resolvedProblem.attemptsCount }}</span>
      </div>
    </div>
    <div class="problem-page__limits">
      <div class="problem-page__limit">{{ 'Problems.TimeLimit' | translate }}: {{ resolvedProblem.timeLimit }} ms</div>
      <div class="problem-page__limit">{{ 'Problems.MemoryLimit' | translate }}: {{ resolvedProblem.memoryLimit }} MB</div>
    </div>
  </div>

  <div class="problem-page__layout">
    <section class="problem-page__statement">
      <div class="problem-page__statement-scroll">
        <div class="problem-page__links">
          <a class="problem-page__link" routerLink="/practice/problems">
            <kep-icon size="small-4" name="list"/>
            {{ 'Problems.Problems' | translate }}
          </a>

          @if (studyPlanId) {
            <a class="problem-page__link" [routerLink]="Resources.StudyPlan | resourceById:studyPlanId">
              <kep-icon size="small-4" name="book-open"/>
              {{ 'StudyPlan' | translate }}
            </a>
          }

          @if (contestId) {
            <a class="problem-page__link" [routerLink]="Resources.ContestProblems | resourceById:contestId">
              <kep-icon size="small-4" name="contest"/>
              {{ 'Contest' | translate }}
            </a>
          }
        </div>

        <ul
          #navWithIcons="ngbNav"
          class="problem-page__tabs"
          ngbNav
          [(activeId)]="activeId"
          (activeIdChange)="activeIdChange($event)"
          [destroyOnHide]="false"
        >
          <li [ngbNavItem]="1">
            <a class="nav-link" ngbNavLink>
              <kep-icon size="small-4" color="primary" name="problem" type="duotone"/>
              {{ 'Problem' | translate }}
            </a>
            <ng-template ngbNavContent>
              <problem-description [problem]="resolvedProblem"></problem-description>
            </ng-template>
          </li>

          <li [ngbNavItem]="2">
            <a class="nav-link" ngbNavLink>
              <kep-icon size="small-4" color="warning" name="attempt" type="duotone"/>
              {{ 'Attempts' | translate }}
            </a>
            <ng-template ngbNavContent>
              <problem-attempts
                [problem]="resolvedProblem"
                [submitEvent]="submitEvent?.asObservable()"
                (hackSubmitted)="activeId = 3;"
              ></problem-attempts>
            </ng-template>
          </li>

          @if (resolvedProblem.hasCheckInput) {
            <li [ngbNavItem]="3" destroyOnHide="true">
              <a class="nav-link" ngbNavLink>
                <kep-icon size="small-4" name="lock-2" color="dark" type="duotone"/>
                {{ 'Hacks' | translate }}
              </a>
              <ng-template ngbNavContent>
                <problem-hacks [problem]="resolvedProblem"></problem-hacks>
              </ng-template>
            </li>
          }
        </ul>

        <div class="problem-page__tab-content" [ngbNavOutlet]="navWithIcons"></div>

        <div class="problem-page__sidebar">
          <problem-sidebar [problem]="resolvedProblem"></problem-sidebar>
        </div>

        @if (currentUser?.permissions.canCreateProblems) {
          <div class="problem-page__check-input">
            <div class="problem-page__check-input-header">Check input</div>
            <monaco-editor
              [lang]="AttemptLangs.PY"
              [height]="220"
              class="problem-page__check-input-editor"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="checkInput"
            ></monaco-editor>
            <button class="btn btn-sm btn-primary mt-1" type="button" (click)="saveCheckInput()">
              {{ 'Save' | translate }}
            </button>
          </div>
        }
      </div>
    </section>

    <section class="problem-page__workspace">
      @if (isAuthenticated) {
        <app-problem-workspace
          class="problem-page__workspace-editor"
          [problem]="resolvedProblem"
          [sampleTests]="resolvedProblem.sampleTests || []"
          [availableLanguages]="resolvedProblem.availableLanguages || []"
          [submitUrl]="'problems/' + resolvedProblem.id + '/submit/'"
          [uniqueName]="'problem-' + resolvedProblem.id"
          [answerForInputEnabled]="resolvedProblem.hasSolution && resolvedProblem.hasCheckInput"
          (submitted)="onSubmit()"
        ></app-problem-workspace>

        <div class="problem-page__file-submit">
          <problem-submit-card
            [availableLanguages]="resolvedProblem.availableLanguages || []"
            [submitUrl]="'problems/' + resolvedProblem.id + '/submit/'"
            (submitted)="onSubmit()"
          ></problem-submit-card>
        </div>
      } @else {
        <div class="problem-page__auth-overlay">
          <h5>{{ 'Auth.Login' | translate }}</h5>
          <a class="btn btn-primary" routerLink="/login">{{ 'Auth.Login' | translate }}</a>
        </div>
      }
    </section>
  </div>
</div>
}

<tour-css></tour-css>
<ng-select-css></ng-select-css>
