<li ngbDropdown class="nav-item mr-25">
  <div class="nav-link text-dark d-flex align-items-center cursor-pointer" ngbDropdownToggle id="navbarDailyTasksDropdown" (click)="loadData()">
    <streak [streak]="streak" [maxStreak]="maxStreak"></streak>
  </div>
  <ul ngbDropdownMenu aria-labelledby="navbarDailyTasksDropdown"
    class="dropdown-menu bg-daily-tasks dropdown-menu-media dropdown-menu-right">
    <li class="dropdown-menu-header">
      <div class="dropdown-header d-flex">
        <h4 class="notification-title text-white mb-50 mr-auto">{{ 'DailyTasks' | translate }}</h4>
        <div class="badge badge-pill badge-primary d-flex align-items-center">
          {{ dailyTasks.length }} {{ 'Tasks' | translate }} 
        </div>
      </div>
    </li>

    <ng-scrollbar autoHeightDisabled="false">
      <li class="scrollable-container media-list">
        <div class="d-flex" *ngFor="let dailyTask of dailyTasks">
          <div class="media d-flex align-items-start">
            <div class="media-left text-dark" [ngSwitch]="dailyTask.type">
              <div *ngSwitchCase="DailyTaskType.Problem" class="avatar bg-primary mt-50">
                <div class="avatar-content">
                  <kep-icon class="font-medium-1" name="problem"></kep-icon>
                </div>
              </div>

              <div *ngSwitchCase="DailyTaskType.Test" class="avatar bg-success mt-50">
                <div class="avatar-content">
                  <kep-icon class="font-medium-1" name="test"></kep-icon>
                </div>
              </div>

              <div *ngSwitchCase="DailyTaskType.Challenge" class="avatar bg-primary mt-50">
                <div class="avatar-content">
                  <kep-icon class="font-medium-1" name="challenge"></kep-icon>
                </div>
              </div>
            </div>
            <div class="media-body">
              <p class="media-heading text-white">
                {{ dailyTask.description }}
                <img ngbTooltip="Kepcoin" height="19" src="assets/images/icons/kepcoin.webp"> {{ dailyTask.kepcoin }}
              </p>
              <small class="notification-text">
              <span class="text-success" *ngIf="dailyTask.completed">
                <i data-feather="check-circle"></i>
              </span>
                <span *ngIf="!dailyTask.completed" class="badge badge-glow" [ngClass]="{
                'badge-primary': dailyTask.type == DailyTaskType.Problem || dailyTask.type == DailyTaskType.Challenge,
                'badge-success': dailyTask.type == DailyTaskType.Test
              }">
                {{ dailyTask.progress }}/{{ dailyTask.total }}
              </span>
              </small>
            </div>
          </div>

        </div>
      </li>
    </ng-scrollbar>

    <li class="dropdown-menu-footer">
      <div class="progress-wrapper">
        <ngb-progressbar
          style="height: 1.3rem;"
          type="success"
          class="mt-50"
          showValue="true"
          [value]="progress"
          [animated]="true"
        ></ngb-progressbar>
      </div>
    </li>
  </ul>
</li>
