<div class="card">
  <div class="card-header">
    <div class="card-title">
      {{ project.title }}
    </div>
    <div class="card-img">
      <img [src]="project.logo" alt="project-img">
    </div>
  </div>

  <div class="card-body">
    <span [innerHTML]="project.descriptionShort"></span>

    <div class="text-right">
      <span class="project-level badge badge-success bagde-pill">
        {{ project.levelTitle }}
      </span>
      @for (technology of project.availableTechnologies;track technology) {
        <project-technology [name]="technology.technology"/>
      }
    </div>

  </div>

  <div class="card-footer border-top">
    @if (!project.purchased) {
      <kepcoin-spend-swal
        [value]="project.purchaseKepcoinValue"
        [customContent]="true"
        [purchaseUrl]="'projects/' + project.slug + '/purchase'"
        (success)="project.purchased=true;">
        <button class="btn btn-block btn-primary btn-sm">
          {{ 'Purchase' | translate }}
        </button>
      </kepcoin-spend-swal>
    } @else {
      <a class="btn btn-block btn-primary btn-sm" routerLink="project/{{ project.slug }}">
        {{ 'View' | translate }}
      </a>
    }
  </div>
</div>
