<div class="app-calendar overflow-hidden">
  <div class="row g-0">
    <div class="col app-calendar-sidebar flex-grow-0 overflow-hidden d-flex flex-column">
      <div class="sidebar-wrapper">
      </div>
      <div class="mt-auto">
        <img alt="Calendar illustration" class="img-fluid" src="assets/images/pages/calendar-illustration.png"/>
      </div>
    </div>

    <div class="col position-relative">
      <div class="card border-0 mb-0 rounded-0">
        <div class="card-body">
          <full-calendar #calendar [options]="calendarOptions">
            <!--            <ng-template #eventContent let-arg>-->
            <!--              <div class="fc-daygrid-event-dot"></div>-->
            <!--              <div class="fc-event-time">-->
            <!--                {{ arg.event.start | date : 'HH:mm' }}-->
            <!--              </div>-->
            <!--              <div container="body" ngbTooltip="{{ arg.event.title }}" class="fc-event-title">-->
            <!--                {{ arg.event.title }}-->
            <!--              </div>-->
            <!--            </ng-template>-->
          </full-calendar>
        </div>
      </div>
    </div>
  </div>
</div>

