<div class="app-calendar overflow-hidden">
  <div class="row no-gutters">
    <div class="col app-calendar-sidebar flex-grow-0 overflow-hidden d-flex flex-column">
      <div class="sidebar-wrapper">
        <div class="card-body pb-0">
          <h5 class="section-label text-left mb-1">
            <span class="align-middle">Filter</span>
          </h5>
          <div class="calendar-events-filter">
            @for (calendar of calendarRef;track calendar) {
              <div
                class="custom-control text-left custom-checkbox mb-1 custom-control-{{ calendar.color }}"
              >
                <input
                  type="checkbox"
                  class="custom-control-input input-filter"
                  id="calendar-{{ calendar.id }}"
                  [checked]="calendar.checked"
                />
                <label class="custom-control-label" for="calendar-{{ calendar.id }}">{{ calendar.filter }}</label>
              </div>
            }
          </div>
        </div>
      </div>
      <div class="mt-auto">
        <img alt="Calendar illustration" class="img-fluid" src="assets/images/pages/calendar-illustration.png"/>
      </div>
    </div>

    <div class="col position-relative">
      <div class="card border-0 mb-0 rounded-0">
        <div class="card-body">
          <full-calendar #calendar [options]="calendarOptions">
            <!--            <ng-template #eventContent let-arg>-->
            <!--              <div class="fc-daygrid-event-dot"></div>-->
            <!--              <div class="fc-event-time">-->
            <!--                {{ arg.event.start | date : 'HH:mm' }}-->
            <!--              </div>-->
            <!--              <div container="body" ngbTooltip="{{ arg.event.title }}" class="fc-event-title">-->
            <!--                {{ arg.event.title }}-->
            <!--              </div>-->
            <!--            </ng-template>-->
          </full-calendar>
        </div>
      </div>
    </div>
  </div>
</div>

