<div class="slide-practice">
  <div class="img">
    <img alt="practice" [@fadeInLeft]="animationState" src="assets/images/pages/graphic-6.webp">
  </div>

  <div [@fadeInDown]="animationState" class="top-text">
    <h2 class="text-primary" [class]="isDarkSkin ? 'text-darken-1' : 'text-darken-4'">
      {{ 'LandingPage.SectionPracticeTitle' | translate }}
    </h2>
    <p class="text-primary" [class]="isDarkSkin ? 'text-lighten-2' : 'text-darken-2'">
      {{ 'LandingPage.SectionPracticeText' | translate }}
    </p>
  </div>

  <div class="sections d-flex justify-content-between">
    <div class="section">
      <div [@fadeInUp]="animationState" routerLink="/practice/problems" class="card-item">
        <div class="icon">
          <div class="avatar p-50 bg-primary badge-glow">
            <div class="avatar-content">
              <i [data-feather]="'problem' | iconName" class="font-medium-4"></i>
            </div>
          </div>    
        </div>
        <strong>{{ 'Problems' | translate }}</strong>
        <span>{{ 'LandingPage.SectionPracticeProblemsCardText' | translate }}</span>
      </div>
    </div>

    <div class="section">
      <div [@fadeInUp]="animationState" routerLink="/practice/tests" class="card-item">
        <div class="icon">
          <div class="avatar p-50 bg-success badge-glow">
            <div class="avatar-content">
              <i [data-feather]="'test' | iconName" class="font-medium-4"></i>
            </div>
          </div>    
        </div>
        <strong>{{ 'Tests' | translate }}</strong>
        <span>{{ 'LandingPage.SectionPracticeTestsCardText' | translate }}</span>
      </div>
    </div>

    <div class="section">
      <div [@fadeInUp]="animationState" routerLink="/practice/challenges" class="card-item">
        <div class="icon">
          <div class="avatar p-50 bg-primary badge-glow">
            <div class="avatar-content">
              <i [data-feather]="'challenge' | iconName" class="font-medium-4"></i>
            </div>
          </div>    
        </div>
        <strong>{{ 'Challenges' | translate }}</strong>
        <span>{{ 'LandingPage.SectionPracticeChallengesCardText' | translate }}</span>
      </div>
    </div>

  </div>
</div>
