@if (!item.hidden) {
  <!-- item.url -->
  @if (item.url && !item.externalUrl) {
    <a
      class="dropdown-item d-flex align-items-center"
      [ngClass]="item.classes"
      [routerLink]="[item.url]"
      [target]="item.openInNewTab ? '_blank' : '_self'"
      >
      <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>
  }
  <!-- item.externalUrl -->
  @if (item.url && item.externalUrl) {
    <a
      class="dropdown-item d-flex align-items-center"
      [ngClass]="item.classes"
      [href]="item.url"
      [target]="item.openInNewTab ? '_blank' : '_self'"
      >
      <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>
  }
  <ng-template #itemContent>
    <kep-icon class="font-medium-4 text-primary mr-50" type="duotone" [name]="item.icon"></kep-icon>
    <span>{{ item.translate | translate }}</span>
    @if (item.id == 'contests' && 0) {
      <span class="badge ml-25 new-events-count badge-pill badge-primary">
        {{ 1 }}
      </span>
    }
  </ng-template>
}
