<div class="card bg-challenge-call">
  <div class="card-header">
    <challenges-user-view [user]="challengeCall"></challenges-user-view>
    <kep-icon name="challenge"></kep-icon>
  </div>

  <div class="card-body">
    <span ngbTooltip="{{ 'Time' | translate }}" class="mr-25 badge badge-primary bg-primary-darken badge-glow">
      <kep-icon size="small-3" name="challenge-time"></kep-icon>
      {{ challengeCall.timeSeconds }}
    </span>

    <span ngbTooltip="{{ 'Questions' | translate }}"  class="mb-50 badge badge-primary bg-primary-darken badge-glow">
      <kep-icon size="small-3" name="challenge-task"></kep-icon>
      {{ challengeCall.questionsCount }}
    </span>

    <br>

    <span *ngFor="let chapter of challengeCall.chapters" class="badge mr-25 mb-25 bg-chapter-{{ chapter.id }}">
      {{ chapter.title }}
    </span>
  </div>

  <div class="card-footer d-flex justify-content-between">
    <button (click)="acceptChallengeCall()" class="btn btn-sm btn-success btn-glow" *ngIf="currentUser?.username != challengeCall.username">
      {{ 'ToChallenge' | translate }}
    </button>

    <button (click)="deleteChallengeCall()" class="btn btn-sm btn-danger btn-glow" *ngIf="currentUser?.username == challengeCall.username">
      <i data-feather="x"></i>
    </button>

    <span class="font-small-2 text-white badge bg-primary-darken">
      {{ challengeCall.created }}
    </span>
  </div>

</div>
