@import 'styles/kep-imports';

.bg-challenge-call {
  box-shadow: 0 0 10px var(--bg-lighten) !important;
  border: none;

  @include dark-layout {
    box-shadow: 0 0 5px mix(black, $primary, 50) !important;
    background-image: linear-gradient(mix(black, $primary, 40), mix(black, $primary, 60));
  }

  ::ng-deep {
    .text-blue, .text-primary {
      color: #ffffff !important;
    }
  }
}
