<div class="card" [ngClass]="{'bg-contest': coreConfig.layout.skin != 'dark'}">
  <div class="card-body mt-1">
    <h4 *ngIf="contest.status == 0" [ngClass]="{'text-primary': coreConfig.layout.skin != 'dark'}" class="text-center mb-1">
      {{ 'CONTESTS.CONTEST_ENDS' | translate }}
    </h4>
    <h4 *ngIf="contest.status == -1" [ngClass]="{'text-primary': coreConfig.layout.skin != 'dark'}" class="text-center mb-1">
      {{ 'CONTESTS.CONTEST_STARTS' | translate }}
    </h4>
    <h4 *ngIf="contest.status == 1" [ngClass]="{'text-primary': coreConfig.layout.skin != 'dark'}" class="text-center mb-1">
      {{ 'CONTESTS.CONTEST_FINISHED' | translate }}
    </h4>
  </div>
  <div class="card-footer">
    <contest-countdown [clockColor]="clockColor" [textColor]="textColor" [contest]="contest"></contest-countdown>
  </div>
</div>
