th {
  border-bottom: none !important;
  border-top: none !important;
}

thead tr th,
tfoot tr th {
  font-size: 1rem;
  font-weight: 600 !important;
  text-transform: initial !important;
}

table>thead>tr>th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

table>tbody>tr>td:first-child {
  min-width: 200px;
  max-width: 300px;
  // white-space: nowrap;
}

table>thead>tr>th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

td:nth-child(1) {
  font-weight: 500;
}

td:nth-child(2) {
  padding: 10px !important;
}

td:nth-child(3),
th:nth-child(3) {
  padding: 10px !important;
}

td:nth-child(4),
th:nth-child(4) {
  padding: 10px !important;
}

td:nth-child(6),
th:nth-child(6) {
  padding: 10px !important;
}

.contest-author {
  font-size: 11px;
  padding-bottom: 10px;
  white-space: nowrap;
  font-weight: 600;
}

::ng-deep .contest-author .rating-title-img {
  width: 28px !important;
  height: 28px !important;
}

.contest-rated {
  font-size: 10.5px;
  padding-top: 10px;
}

thead tr {
  background: var(--bg-gradient);
  color: var(--text-color);
}

.badge.contest-badge {
  background-color: var(--bg);
  box-shadow: var(--box-shadow) !important;
}

.btn {
  background-color: var(--bg);
  color: var(--text-color);

  &:hover {
    box-shadow: var(--box-shadow) !important;
  }
}

.badge.contest-badge-light {
  background-color: var(--contest-color-light);
  color: var(--bg);
}

.avatar {
  background-color: var(--contest-color-light);
  color: var(--bg);
}
