<div class="table-responsive contests-colors contest-{{ contests[0].id }} {{ contests[0].title }} contest-type-{{ contests[0].type }}">
  <table class="table">
    <thead>
      <tr>
        <th class="text-center">{{ 'CONTESTS.TITLE' | translate }}</th>
        <th class="text-center">{{ 'CONTESTS.AUTHORS' | translate }}</th>
        <th class="text-center">{{ 'CONTESTS.START_TIME' | translate }}</th>
        <th class="text-center">{{ 'CONTESTS.FINISH_TIME' | translate }}</th>
        <th class="text-center">{{ 'CONTESTS.TYPE' | translate }}</th>
        <th class="text-center">
          <div *ngIf="contests.length > 0 && contests[0].status == -1">
            {{ 'CONTESTS.PROBLEMS_COUNT' | translate }}
          </div>
        </th>
        <th class="text-center">
          <span *ngIf="contests.length > 0 && contests[0].status == -1">
            {{ 'CONTESTS.REGISTRANTS_COUNT' | translate }}
          </span>
          <span *ngIf="contests.length > 0 && contests[0].status != -1">
            {{ 'CONTESTS.CONTESTANTS_COUNT' | translate }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contest of contests">
        <td class="text-center text-dark">
          <i [data-feather]="'contest' | iconName" [size]="20"></i>
          <a [routerLink]="['/competitions', 'contests', 'contest', contest.id]">            
            {{ contest.title }}
          </a>
          <br>
          <div *ngIf="contest.isRated" class="text-success contest-rated">{{ 'CONTESTS.RATED' | translate }}</div>
          <div *ngIf="!contest.isRated" class="text-danger contest-rated">{{ 'CONTESTS.UNRATED' | translate }}</div>
        </td>

        <td class="text-center">
          <div class="contest-author text-dark" *ngFor="let contestAuthor of contest.authors">
            <contestant-view [user]="contestAuthor"></contestant-view>
          </div>
        </td>

        <td class="text-center text-primary">
          <u>{{ contest.startTime | date:'y/MM/dd'}}</u>
          <br>
          <u>{{ contest.startTime | date:'H:mm'}}</u>
        </td>

        <td class="text-center text-primary">
          <u>{{ contest.finishTime | date:'y/MM/dd'}}</u>
          <br>
          <u>{{ contest.finishTime | date:'H:mm'}}</u>
        </td>

        <td class="text-center">
          <span class="badge contest-badge">
            {{ contest.type }}
          </span>
        </td>

        <td class="text-center">
          <div *ngIf="contest.status == -1">
            <span class="badge contest-badge">
              {{ contest.problemsCount }}
            </span>
          </div>
          <div *ngIf="contest.status != -1">
            <!-- <contest-standings-popover [contest]="contest"></contest-standings-popover> -->
            <a class="btn btn-sm round" [routerLink]="['/competitions', 'contests', 'contest', contest.id, 'standings']">
              {{ 'CONTESTS.STANDINGS' | translate }}
            </a>
            <br>
            <span *ngIf="currentUser" class="badge mt-1 contest-badge-light">
              {{ contest.solved || 0 }} / {{ contest.problemsCount }}
            </span>
          </div>
        </td>

        <td class="text-center text-primary">
          <div class="avatar p-50 m-0 mb-1">
            <div class="avatar-content">
              <i data-feather="users" class="font-medium-3"></i>
            </div>
          </div>
          <h5 class="font-weight-bolder">
            <span
              class="badge contest-badge"
              [countUp]="contest.contestantsCount || contest.registrantsCount"
              [options]="{ duration: 5, reanimateOnClick: false }">
            </span>
          </h5>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="contests.length > 1">
      <tr>
        <th class="text-center">{{ 'CONTESTS.TITLE' | translate }}</th>
        <th class="text-center">{{ 'CONTESTS.AUTHORS' | translate }}</th>
        <th class="text-center">{{ 'CONTESTS.START_TIME' | translate }}</th>
        <th class="text-center">{{ 'CONTESTS.FINISH_TIME' | translate }}</th>
        <th class="text-center">{{ 'CONTESTS.TYPE' | translate }}</th>
        <th class="text-center"></th>
        <th class="text-center">
          <span *ngIf="contests.length > 0 && contests[0].status == -1">
            {{ 'CONTESTS.REGISTRANTS_COUNT' | translate }}
          </span>
          <span *ngIf="contests.length > 0 && contests[0].status != -1">
            {{ 'CONTESTS.CONTESTANTS_COUNT' | translate }}
          </span>
        </th>
      </tr>
    </tfoot>
  </table>
</div>