<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="mt-2">
      <div class="row nav-vertical d-flex">
        <div class="col-md-3 mb-2 mb-md-0">
          <ul
            #navVertical="ngbNav"
            (activeIdChange)="activeIdChange($event)"
            [activeId]="activeId"
            class="nav nav-pills tab-style-7 flex-column nav-left"
            ngbNav>
            <li [ngbNavItem]="Tab.General" class="nav-item">
              <a class="nav-link" ngbNavLink>
                <i class="font-medium-4 me-1" data-feather="user"></i>
                <span>General</span>
              </a>
              <ng-template ngbNavContent>
                <general-settings></general-settings>
              </ng-template>
            </li>
            <li [ngbNavItem]="Tab.ChangePassword" class="nav-item">
              <a class="nav-link" ngbNavLink>
                <i class="font-medium-4 me-1" data-feather="lock"></i>
                <span>Change Password</span>
              </a>
              <ng-template ngbNavContent>
                <change-password></change-password>
              </ng-template>
            </li>
            <li [ngbNavItem]="Tab.Information" class="nav-item">
              <a class="nav-link" ngbNavLink>
                <i class="font-medium-4 me-1" data-feather="info"></i>
                <span>Information</span>
              </a>
              <ng-template ngbNavContent>
                <information></information>
              </ng-template>
            </li>
            <li [ngbNavItem]="Tab.Social" class="nav-item">
              <a class="nav-link" ngbNavLink>
                <i class="font-medium-4 me-1" data-feather="link"></i>
                <span>Social</span>
              </a>
              <ng-template ngbNavContent>
                <social></social>
              </ng-template>
            </li>

            <li class="nav-item" [ngbNavItem]="Tab.Skills">
              <a class="nav-link" ngbNavLink>
                <i class="font-medium-4 me-1" data-feather="activity"></i>
                <span>Skills</span>
              </a>
              <ng-template ngbNavContent>
                <skills></skills>
              </ng-template>
            </li>

            <li [ngbNavItem]="Tab.Career" class="nav-item">
              <a class="nav-link" ngbNavLink>
                <i class="font-medium-4 me-1" data-feather="trending-up"></i>
                <span>Сareer</span>
              </a>
              <ng-template ngbNavContent>
                <career></career>
              </ng-template>
            </li>

            <li [ngbNavItem]="Tab.Teams" class="nav-item">
              <a class="nav-link" ngbNavLink>
                <i class="font-medium-4 me-1" data-feather="users"></i>
                <span>Teams</span>
              </a>
              <ng-template ngbNavContent>
                <teams></teams>
              </ng-template>
            </li>

            <li [ngbNavItem]="Tab.System" class="nav-item">
              <a class="nav-link" ngbNavLink>
                <i class="font-medium-4 me-1" data-feather="settings"></i>
                <span>System</span>
              </a>
              <ng-template ngbNavContent>
                <system></system>
              </ng-template>
            </li>
          </ul>
        </div>
        <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
      </div>
    </section>
  </div>
</div>
