<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- account setting page -->
    <section id="page-account-settings" class="mt-2">
      <div class="row nav-vertical d-flex">
        <div class="col-md-3 mb-2 mb-md-0">
          <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left">
            <li class="nav-item" ngbNavItem>
              <a
                ngbNavLink
                class="nav-link d-flex py-75"
                id="account-pill-general"
                data-toggle="pill"
                href="#general"
                aria-expanded="true">
                <i data-feather="user" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">General</span>
              </a>
              <ng-template ngbNavContent>
                <general-settings></general-settings>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a
                ngbNavLink
                class="nav-link d-flex py-75"
                id="account-pill-password"
                data-toggle="pill"
                href="#change-password"
                aria-expanded="false">
                <i data-feather="lock" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Change Password</span>
              </a>
              <ng-template ngbNavContent>
                <change-password></change-password>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-info" data-toggle="pill"
                href="#account-vertical-info" aria-expanded="false">
                <i data-feather="info" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Information</span>
              </a>
              <ng-template ngbNavContent>
                <information></information>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-social" data-toggle="pill"
                href="#account-vertical-social" aria-expanded="false">
                <i data-feather="link" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Social</span>
              </a>
              <ng-template ngbNavContent>
                <social></social>
              </ng-template>
            </li>

            <li class="nav-item" ngbNavItem>
              <a
                ngbNavLink class="nav-link d-flex py-75"
                id="user-skills"
                data-toggle="pill"
                href="#user-skills"
                aria-expanded="false">
                <i data-feather="activity" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Skills</span>
              </a>
              <ng-template ngbNavContent>
                <skills></skills>
              </ng-template>
            </li>

            <li class="nav-item" ngbNavItem>
              <a
                ngbNavLink class="nav-link d-flex py-75"
                id="user-career"
                data-toggle="pill"
                href="#user-career"
                aria-expanded="false">
                <i data-feather="trending-up" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Сareer</span>
              </a>
              <ng-template ngbNavContent>
                <career></career>
              </ng-template>
            </li>

            <li class="nav-item" ngbNavItem>
              <a
                ngbNavLink class="nav-link d-flex py-75"
                id="user-teams"
                data-toggle="pill"
                href="#user-teams"
                aria-expanded="false">
                <i data-feather="users" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Teams</span>
              </a>
              <ng-template ngbNavContent>
                <teams></teams>
              </ng-template>
            </li>

          </ul>
        </div>
        <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
      </div>
    </section>
    <!--/ account setting page -->
  </div>
</div>
