@import 'styles/kep-imports';

.challenges-section-header.card {
  background: linear-gradient(to left, mix(white, $primary, 10), mix(black, $primary, 10));

  @include dark-layout {
    background: linear-gradient(to right, mix(black, $primary, 40), mix(black, $primary, 60));
  }

  .card-footer {
    border-color: rgba($primary, 0.1);
  }

  .text-blue, .text-primary {
    color: $light !important;
  }
}

.useful-links {
  display: flex;
  margin-bottom: 2rem;

  .btn {
    width: 100%;
  }
}
