<kep-table>
  <ng-container header>
    <tr class="bg-gradient-primary">
      <th>ID</th>
      <th>
        <div class="d-flex align-items-center">
          <kep-icon type="duotone" size="small-4" name="time"/>
          {{ 'SUBMITTED' | translate }}
        </div>
      </th>
      <th class="ml-50">
        <div class="d-flex align-items-center">
          <kep-icon type="duotone" size="small-4" name="lang"/>
          {{ 'LANG' | translate }}
        </div>
      </th>
      <th>
        <div class="d-flex align-items-center">
          <kep-icon type="duotone" size="small-4" name="username"/>
          {{ 'USER' | translate }}
        </div>
      </th>
      <th>
        <div class="d-flex align-items-center">
          <kep-icon type="duotone" size="small-4" name="problem"/>
          {{ 'PROBLEM' | translate }}
        </div>
      </th>
      <th>
        <div class="d-flex align-items-center">
          <kep-icon type="duotone" size="small-4" name="verdict"/>
          {{ 'VERDICT' | translate }}
        </div>
      </th>
      <th>
        <div class="d-flex align-items-center">
          <kep-icon type="duotone" size="small-4" name="information-2"/>
          {{ 'Run' | translate }}
        </div>
      </th>
      <th *ngIf="!hideSourceCodeSize">
        <div class="d-flex align-items-center">
          <kep-icon type="duotone" size="small-4" name="scroll"/>
          {{ 'SIZE' | translate }}
        </div>
      </th>
      <th *ngIf="currentUser?.isSuperuser"></th>
    </tr>
  </ng-container>

  <ng-container body>
    @for (attempt of attempts; track attempt.id) {
      <tr
        [@fadeInOnEnter]
        [ngClass]="{'bg-light-primary': isOwner(attempt)}">
        <td>
          @if (attempt.canView) {
            <button type="button" class="btn p-0" (click)="clicked.emit(attempt.id)">
              <u>
                {{ attempt.id }}
              </u>
            </button>
          } @else if(!currentUser || contest) {
            <span>{{ attempt.id }}</span>
          } @else {
            <kepcoin-spend-swal
              [customClass]="''"
              [purchaseUrl]="'attempts/' + attempt.id + '/purchase/'"
              [value]="attempt.kepcoinValue"
              (success)="onPurchaseSuccess(attempt)">
            </kepcoin-spend-swal>
          }
        </td>

        <td>
          @if (contest) {
            <span
              class="badge badge-light-success"
              ngbTooltip="{{ attempt.created | date:'yyyy/MM/dd HH:mm:ss' }}">
              {{ attempt.contestTime }}
            </span>
          } @else {
            <span class="badge badge-light-success text-center" style="width: 130px;">
              {{ attempt.created | date:"yyyy/MM/dd HH:mm:ss" }}
            </span>
          }
        </td>

        <td class="ml-50">
          <span class="badge badge-glow badge-{{ attempt.lang }}">
            {{ attempt.langFull }}
          </span>
        </td>

        <td>
          <contestant-view [imgSize]="28" [user]="attempt.user" [team]="attempt.team"></contestant-view>
        </td>

        <td>
          <div *ngIf="contest">
            <a *ngIf="attempt?.contestProblem?.contest; else elseBlock" [routerLink]="['/competitions', 'contests', 'contest', attempt.contestProblem.contest, 'problem', attempt.contestProblem.symbol]">
              <u class="text-primary">{{ attempt.contestProblem.symbol }}. {{ attempt.problemTitle }}</u>
            </a>

            <ng-template #elseBlock>
              <u class="text-primary">{{ attempt.contestProblem.symbol }}. {{ attempt.problemTitle }}</u>
            </ng-template>
          </div>

          <a *ngIf="!contest" [routerLink]="['/practice', 'problems', 'problem', attempt.problemId]">
            <u class="text-primary">{{ attempt.problemId }}. {{ attempt.problemTitle }}</u>
          </a>
        </td>

        <td [@bounce]="attempt.animationAcceptedState" [@shake]="attempt.animationWrongState">
          <div *ngIf="contest && !currentUser?.isSuperuser; else elseBlock" [innerHTML]="attempt | attemptVerdictHTML">
          </div>

          <ng-template #elseBlock>
            <div *ngIf="attempt.verdict != 1 && attempt.testCaseNumber > 1 && attempt.user.username == currentUser?.username || currentUser?.isSuperuser; else elseBlock">
              <div *ngIf="!attempt.canTestView">
                <ng-template #tipContent>
                  {{ 'ViewTest' | translate }} <kepcoin [value]="attempt.testCaseKepcoinValue"></kepcoin>
                </ng-template>
                <kepcoin-spend-swal
                  [ngbTooltip]="tipContent"
                  [purchaseUrl]="'attempts/' + attempt.id + '/purchase-test/'"
                  [value]="attempt.testCaseKepcoinValue"
                  [customContent]="true"
                  (success)="onPurchaseTestSuccess(attempt)">
                  <div [innerHTML]="attempt | attemptVerdictHTML"></div>
                </kepcoin-spend-swal>
              </div>

              <div *ngIf="attempt.canTestView">
                <a ngbTooltip="{{ 'ViewTest' | translate }}"
                   href="/api/attempts/{{ attempt.id }}/failed-test?number={{ attempt.testCaseNumber }}">
                  <div [innerHTML]="attempt | attemptVerdictHTML"></div>
                </a>
              </div>
            </div>

            <ng-template #elseBlock>
              <div [innerHTML]="attempt | attemptVerdictHTML"></div>
            </ng-template>
          </ng-template>
        </td>

        <td>
          <div class="d-flex align-items-center text-dark text-nowrap" ngbTooltip="{{ 'TIME' | translate }}">
            <kep-icon color="info" type="duotone" name="watch"/>
            {{ attempt.time }} {{ 'MS' | translate }}
          </div>
          <div class="d-flex align-items-center text-dark text-nowrap" ngbTooltip="{{ 'MEMORY' | translate }}">
            <kep-icon color="primary" type="duotone" name="external-drive"/>
            {{ attempt.memory }} {{ 'KB' | translate }}
          </div>
        </td>

        <td *ngIf="!hideSourceCodeSize">
          <div class="d-flex ml-1 align-items-center text-nowrap text-dark">
            <kep-icon name="code" type="duotone"/>
            {{ attempt.sourceCodeSize }}
          </div>
        </td>

        <td *ngIf="currentUser?.isSuperuser">
          <button ngbTooltip="Recheck" class="btn btn-sm btn-primary" (click)="rerun(attempt.id)">
            <i data-feather="refresh-cw"></i>
          </button>
        </td>

      </tr>
    }
  </ng-container>
</kep-table>
