<a [routerLink]="['/practice', 'duels', 'duel', duel.id]" class="duel-card card">
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <td>
            <contestant-view [textColor]="'white'" [user]="duel.playerFirst"></contestant-view>
          </td>
          <td class="text-right">
            <span class="badge">
              {{ duel.playerFirst.balls }}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <contestant-view [textColor]="'white'" *ngIf="duel.playerSecond" [user]="duel.playerSecond"></contestant-view>
            <span *ngIf="!duel.playerSecond">BYE</span>
          </td>
          <td class="text-right">
            <span class="badge">
              {{ duel.playerSecond?.balls || 0 }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</a>