@import 'bootstrap/scss/mixins'; 
@import 'bootstrap/scss/functions';
@import 'scss/base/bootstrap-extended/variables';

.footer {
  position: absolute;
  height: 200px;
  margin-left: -2rem;
  width: calc(100% + 2rem);
  background: linear-gradient(-45deg, mix(black, $primary, 10), $primary, mix(white, $primary, 15), mix(white, $primary, 30));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    stroke: #f8f8f8;
  }

  @include media-breakpoint-down(lg) {
    width: calc(100% + 1.2rem);
  }  

  @include media-breakpoint-down(sm) {
    height: 160px;
  }
}

.statistics {
  .count-item.decoration-bottom {
    position: relative;
  }

  .count-item {
    height: 160px;
    position: relative;
    float: left;
    width: 100%;

    strong {
      color: #fff;
      display: block;
      text-align: center;
      font-weight: 600;
      font-size: 2rem;
      margin-bottom: 10px;
      margin-top: 40px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }

    span {
      color: #fff;
      display: block;
      text-align: center;
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: 0.25px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .statistics {
    .count-item {
      strong {
        font-size: 1.5rem;
      }
    
      span {
        font-size: 0.75rem;
      }
    }
  }
}

::ng-deep .dark-layout {
  .footer {
    background: linear-gradient(45deg, mix(black, $primary, 60), mix(black, $primary, 40), mix(black, $primary, 20), $primary);

    svg {
      stroke: #161d31 !important;
    }
  }
}
