@import 'styles/kep-imports';

.bg-contest {
  background-size: 200% auto;
  transition: all 0.2s ease;
  box-shadow: 0 0 5px $primary;
  background: linear-gradient(mix(black, $primary, 60), mix(black, $primary, 40)) !important;
  background-repeat: repeat;
  border: none;
  border-radius: 0px;
}

.card-footer {
  border-color: $primary !important;
}

.bg-contest:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.start-time {
  font-size: 1.25rem;
  color: #fff;
}


.card-header {
  display: initial !important;
}
