<kep-card customClass="product-card h-100">
  <div class="product-card__media">
    @if (product?.images?.length) {
      <p-galleria
        [(value)]="product.images"
        [showThumbnails]="false"
        [circular]="true"
        [showIndicators]="true"
        [autoPlay]="true"
        [transitionInterval]="3500"
        [showItemNavigators]="true"
        [showItemNavigatorsOnHover]="true"
        [containerStyle]="{ height: '100%' }"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item.url" [alt]="product.title" class="img-fluid"/>
        </ng-template>
      </p-galleria>
    } @else {
      <div class="product-card__placeholder">
        <i class="bi bi-images"></i>
        <span>No preview yet</span>
      </div>
    }

    @if (product?.colors?.length) {
      <div class="product-card__badge">
        {{ product.colors.length }} rang varianti
      </div>
    }
  </div>

  <div class="product-card__body">
    <div class="product-card__title text-dark">{{ product.title }}</div>
    <p class="product-card__description">{{ product.description }}</p>

    <div class="product-card__meta">
      @if (product?.colors?.length) {
        <div class="product-card__meta-group">
          <div class="meta-label">{{ 'Color' | translate }}</div>
          <div class="meta-colors">
            @for (color of product.colors; track color.name) {
              <span class="color-dot" [style.--dot-color]="color.color" [ngbTooltip]="color.name"></span>
            }
          </div>
        </div>
      }

      @if (primarySizes.length) {
        <div class="product-card__meta-group">
          <div class="meta-label">{{ 'Size' | translate }}</div>
          <div class="meta-sizes">
            @for (size of primarySizes; track size) {
              <span class="size-chip">{{ size }}</span>
            }
          </div>
        </div>
      }
    </div>
  </div>

  <div class="product-card__footer">
    <kepcoin [value]="product.kepcoin"/>
    <button type="button" class="btn btn-shop">
      <i data-feather="shopping-bag"></i>
      Hoziroq buyurtma qiling
    </button>
  </div>
</kep-card>
