<kep-card class="product-card">
  <div class="media-wrapper">
    <p-galleria
      [(value)]="product.images"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      [showItemNavigatorsOnHover]="true"
      [showItemNavigators]="true"
      [showThumbnailNavigators]="false"
      [numVisible]="5"
    >
      <ng-template pTemplate="item" let-item>
        <img [alt]="product.title" [src]="item.url"/>
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
          <img [height]="64" [src]="item.url"/>
        </div>
      </ng-template>
    </p-galleria>
  </div>

  <div class="card-body">
    <div class="card-title text-dark">{{ product.title }}</div>
    <p class="product-description">{{ product.description }}</p>

    <div class="product-meta">
      @if (product.colors?.length) {
        <div class="meta-block">
          <span class="meta-label">{{ 'Color' | translate }}</span>
          <div class="color-swatches">
            @for (color of product.colors; track color.name) {
              <span class="badge badge-color" [style.background]="color.color" [ngbTooltip]="color.name"></span>
            }
          </div>
        </div>
      }

      @if (product.colors?.[0]?.sizes?.length) {
        <div class="meta-block">
          <span class="meta-label">{{ 'Size' | translate }}</span>
          <div class="size-options">
            @for (size of product.colors[0].sizes; track size.name) {
              <span class="size-pill">{{ size.name }}</span>
            }
          </div>
        </div>
      }
    </div>
  </div>

  <div class="card-footer">
    <div class="footer-content">
      <kepcoin [value]="product.kepcoin"/>
      <button class="btn btn-link btn-sm view-details" type="button">View details</button>
    </div>
  </div>
</kep-card>
