.bg-results-table {
  transition: all 0.2s ease;
  // background-image: linear-gradient(47deg, #1c1368, #9e95f5);
  opacity: 0.9;
  border: none;
  box-shadow: 0 0 10px #9e95f5;
  border-radius: 10px;
  
  th, td {
    border-top: none;
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;
  }
}

::ng-deep .dark-layout .bg-results-table {
  background-image: linear-gradient(47deg, #140d53, #1c1368);
  box-shadow: 0 0 10px #3226a1;

  th {
    background-color: inherit !important;
  }
}

.col.problem-header {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}
