@import 'bootstrap/scss/mixins'; 
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

section.contests {
  --box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
}

::ng-deep .dark-layout section.contests {
  --box-shadow: 0 4px 24px 0 rgba(255, 255, 255, 0.1);
}

.card.card-info {
  border: none;
  opacity: 1;
  height: 150px;
  box-shadow: var(--box-shadow) !important;
  background: inherit !important;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img) !important;
  
  &:hover {
    transform: scale(1.05);
  }

  .card-header .card-title {
    color: #fff;
  }

  .info-img {
    position: absolute;
    height: 120px;
    width: 120px;
    bottom: 0.5rem;
    right: 0.5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.contests-page-top:before {
  content: "";
  margin-left: -2rem;
  position: absolute;
  top: -150px;
  width: calc(100% + 2rem);
  height: 650px;
  z-index: -1;
  background: linear-gradient(42.32deg, #7367f0, #978EF8);
  
  @include media-breakpoint-down(lg) {
    width: calc(100% + 1.2rem);
  }
}

::ng-deep .dark-layout {
 .contests-page-top:before {
    background: linear-gradient(42.32deg, #2b2665, #393575, #463caa);
  }
}  

.card.filter {
  border: none;
  box-shadow: var(--box-shadow) !important;
  background: inherit !important;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img) !important; 
}
