<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section-header [contentHeader]="getContentHeader()"/>

    <kep-card>
      <div class="card-header p-4 d-flex flex-column flex-md-row gap-1 align-items-md-center">
        <div class="card-title font-medium-5 align-items-center">
          <kep-icon color="primary" name="contest" size="medium-5" class="me-1" type="duotone"></kep-icon>
          <span class="text-dark">{{ 'Contests' | translate }}</span>
          <span class="total-count" *ngIf="!isLoading">({{ pageResult?.total }})</span>
        </div>

        <div
          class="d-flex flex-column flex-md-row gap-1 align-items-stretch align-items-md-center ms-md-auto w-100 w-md-auto">
          <contests-section-categories
            class="w-100 w-md-auto"
            (change)="contestCategoryClick($event)"/>
          <input placeholder="{{ 'Search' | translate }}"
                 class="form-control mt-1 mt-md-0 flex-grow-1"
                 [formControl]="searchControl">
        </div>
      </div>
    </kep-card>

    @if (isLoading && !total) {
      <div class="card" [style.height.px]="400">
        <spinner/>
      </div>
    } @else {
      @for (contest of contests; track contest) {
        <contest-card [contest]="contest"></contest-card>
      } @empty {
        <empty-result/>
      }

      @if (total > 0) {
        <div class="mb-1">
          <kep-pagination
            (pageChange)="pageChange($event)"
            (pageSizeChange)="pageSizeChange($event)"
            [(page)]="pageNumber"
            [collectionSize]="total"
            [maxSize]="maxSize"
            [disabled]="isLoading"
            [pageOptions]="pageOptions"
            [pageSize]="pageSize"
            [rotate]="true">
          </kep-pagination>
        </div>
      }
    }
  </div>
</div>
