<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <section-header></section-header>
    <contests-section-categories (change)="contestCategoryClick($event)"></contests-section-categories>

    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h1 [@fadeInUpOnEnter] class="mt-1 mb-2 text-center">
          <kep-icon name="contest" size="large-3" type="duotone" color="primary"></kep-icon>
          <div class="text-dark mt-2 mb-2">{{ 'Contests' | translate }}</div>
        </h1>

        @for (contest of contests; track contest) {
          <contest-card [contest]="contest"></contest-card>
        }

        @if (total > 0) {
          <kep-pagination
            (pageChange)="pageChange($event)"
            (pageSizeChange)="pageSizeChange($event)"
            [(page)]="pageNumber"
            [collectionSize]="total"
            [maxSize]="maxSize"
            [pageOptions]="pageOptions"
            [pageSize]="pageSize"
            [rotate]="true">
          </kep-pagination>
        }
      </div>

      <div class="col-lg-2 mt-4 pt-2 d-none d-xl-block">
      </div>
    </div>
  </div>
</div>
