<div class="table-responsive bg-light-info">
  <table class="table bg-challenge">
    <tbody>
      <tr>
        <td>
          <challenges-user-view
            [user]="challenge.playerFirst"
            [withRating]="true"
          ></challenges-user-view>
        </td>

        <td>
          <span class="badge badge-glow" [ngClass]="{
            'badge-success': challenge.playerFirst.result > challenge.playerSecond.result,
            'badge-danger': challenge.playerFirst.result < challenge.playerSecond.result,
            'badge-secondary': challenge.playerFirst.result == challenge.playerSecond.result
          }">
            {{ challenge.playerFirst.result }}
          </span>
        </td>

        <td>
          <span class="badge badge-glow" [ngClass]="{
            'badge-success': challenge.playerFirst.delta > 0,
            'badge-danger': challenge.playerFirst.delta < 0,
            'badge-secondary': challenge.playerFirst.delta == 0
          }">
            <i [data-feather]="'trending-up'"></i>
            {{ challenge.playerFirst.delta }}
          </span>
        </td>

        <td class="text-right">
          <span ngbTooltip="{{ 'Time' | translate }}" class="badge mr-25 badge-glow badge-primary">
            <i data-feather="clock"></i>
            {{ challenge.timeSeconds }}
          </span>
          <span ngbTooltip="{{ 'Questions' | translate }}" class="badge badge-glow badge-primary">
            <i data-feather="activity"></i>
            {{ challenge.questionsCount }}
          </span>
        </td>
      </tr>

      <tr>
        <td>
          <challenges-user-view
            [user]="challenge.playerSecond"
            [withRating]="true"
          ></challenges-user-view>
        </td>

        <td>
          <span class="badge badge-glow" [ngClass]="{
            'badge-danger': challenge.playerFirst.result > challenge.playerSecond.result,
            'badge-success': challenge.playerFirst.result < challenge.playerSecond.result,
            'badge-secondary': challenge.playerFirst.result == challenge.playerSecond.result
          }">
            {{ challenge.playerSecond.result }}
          </span>
        </td>

        <td>
          <span class="badge badge-glow" [ngClass]="{
            'badge-success': challenge.playerSecond.delta > 0,
            'badge-danger': challenge.playerSecond.delta < 0,
            'badge-secondary': challenge.playerSecond.delta == 0
          }">
            <i [data-feather]="'trending-up'"></i>
            {{ challenge.playerSecond.delta }}
          </span>
        </td>

        <td class="text-right">
          <span *ngIf="!challenge.finished" class="badge badge-glow badge-success">
            {{ 'Now' | translate }}
          </span>
          <span *ngIf="challenge.finished" class="badge badge-glow badge-light-primary">
            {{ challenge.finished }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>