@import 'assets/scss/bootstrap.scss';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'ngx-toastr/toastr-bs5-alert';
.toast:not(.show) {
  display: block !important;
}

@import 'assets/scss/styles';
@import url("assets/icon-fonts/feather/feather.css");
@import url("assets/icon-fonts/bootstrap-icons/icons/font/bootstrap-icons.css");
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";
@import url('highlight.js/styles/vs2015.css');
@import "../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

.switcher {
  .offcanvas-body {
    height: 100vh;
    padding-bottom: 8.75rem !important;
  }
}

@media (min-width: 992px) {
  [data-nav-layout="horizontal"][data-nav-style="menu-hover"],
  [data-nav-layout="horizontal"][data-nav-style="icon-hover"] {
    .app-sidebar .slide.has-sub .slide-menu.child1 {
      inset-inline-start: auto !important;
    }
  }
}

@import 'styles/vuexy-extended';

.tab-content .tab-pane {
  border: none;
  padding: 0;
  background: inherit !important;
}

@import 'styles/colors/contests';
@import 'styles/colors/chapters';
@import 'styles/colors/study-plans';
@import 'styles/colors/languages';

.total-count {
  font-size: 17px;
  font-weight: 100;
  vertical-align: super;
  color: #888ea8;
  letter-spacing: 2px;
  margin-left: 0.5rem;
}

.active:has(> kep-icon) {
  filter: drop-shadow(0 0 5px $primary);
}

@import 'styles/primeng-sass/icons/primeicons';
@import 'primeng/resources/primeng.css';
@import 'styles/primeng-sass/themes/aura/aura-dark/primary/theme';

//html:has(.swal2-container) {
//  app-footer {
//    display: none !important;
//  }
//}

.text-white {
  color: white !important;
}

.cursor-pointer {
  cursor: pointer;
}
