<div class="row justify-content-center">
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="">{{ 'COURSES.TOP_PARTICIPANTS' | translate }}</h4>
    
        <div class="btn-group btn-group-toggle mt-md-0 mt-1" ngbRadioGroup name="radioBasic" [(ngModel)]="type">
          <label class="btn btn-sm btn-outline-primary" ngbButtonLabel rippleEffect>
            <input (click)="type=1; update();" type="radio" name="type" id="type_1" [value]="1" ngbButton />
            <span>{{ 'Activity' | translate }}</span>
          </label>
    
          <label class="btn btn-sm btn-outline-primary" ngbButtonLabel rippleEffect>
            <input (click)="type=2; update();" type="radio" name="type" id="type_2" [value]="2" ngbButton />
            <span>{{ 'Points' | translate }}</span>
          </label>
        </div>
      </div>
    
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="bg-gradient-primary">
              <th class="text-center text-white">#</th>
              <th class="text-center text-white">{{ 'COURSES.PARTICIPANT' | translate }}</th>
              <th class="text-center text-white"><i [data-feather]="'rating' | iconName"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let participant of topParticipants; index as i">
              <td class="text-dark text-center">{{ i + 1 }}</td>
              <td class="text-dark text-center top-rating">
                <span class="badge badge-glow badge-primary">
                  <user-popover [username]="participant.username" [textColor]="'white'"
                    [placement]="'top-right'"></user-popover>
                </span>
              </td>
              <td class="text-center text-primary">
                <span class="badge badge-primary">
                  <span *ngIf="type == 1">
                    {{ participant.progress }}%
                  </span>
                  <span *ngIf="type == 2">
                    {{ participant.points }}
                  </span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
