<div class="layout-spacing">
  <kep-card>
    <div class="card-header">
      <div class="card-title">
        @if (sidebarType == SidebarType.INFO) {
          <span><i data-feather="info"></i></span>
          {{ 'Info' | translate }}
        } @else {
          <span><i data-feather="bar-chart"></i></span>
          {{ 'Statistics' | translate }}
        }
      </div>

      <div class="sidebar-type">
        <button
          rippleEffect
          class="btn btn-sm btn-primary bg-primary badge-glow"
          (click)="sidebarType=(sidebarType == SidebarType.INFO ? SidebarType.STATISTICS : SidebarType.INFO)">
          @if (sidebarType == SidebarType.INFO) {
            {{ 'Statistics' | translate }}
          } @else {
            {{ 'Info' | translate }}
          }
        </button>
      </div>
    </div>
    <div class="card-body">
      @if (sidebarType == SidebarType.INFO) {
        <problem-info-card [problem]="problem"></problem-info-card>
      } @else {
        <problem-sidebar-statistics [problem]="problem"></problem-sidebar-statistics>
      }
    </div>
  </kep-card>

  <problem-sidebar-top-attempts [problem]="problem"></problem-sidebar-top-attempts>
</div>
