.card {
  height: 210px;
  border-radius: 10px !important;

  .card-header {
    min-height: 140px !important;
    display: grid !important;
  }
}

.bg-contest {
  background-size: 200% auto;
  color: #fff;
  transition: all 0.2s ease;
  opacity: 0.9;
  background-image: linear-gradient(47deg, #1c1368, #9f95f5);
  background-repeat: repeat;
  border: none;

  &:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;

    .btn-contest {
      background-color: #9e95f5;
    }
  }
}

::ng-deep .dark-layout .bg-contest {
  box-shadow: 0 0 20px #4e5e99 !important;
}

.btn-contest {
  position: absolute;
  bottom: 2rem;
  text-align: center;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 1px #eee;
  transition: .5s;
  display: block;
  border-radius: 15px !important;
  background-color: #4e5e99;
}

::ng-deep .dark-layout .btn-contest {
  background-image: linear-gradient(20deg, #0a0d13, #0a0d13);
}

.date {
  margin-top: 15px;
}
