.study-plan-1 {
  --bg-gradient-study-plan: linear-gradient(to right, #01e2d3, #00fff4);
  --bg-study-plan: #01e2d3;
}

::ng-deep .dark-layout {
  .study-plan-1 {
    --bg-gradient-study-plan: linear-gradient(to right, #047572, #07a8a5);
    --bg-study-plan: #047572;
  }
}

.study-plan-2 {
  --bg-gradient-study-plan: linear-gradient(42.32deg, #7367f0, #978EF8);
  --bg-study-plan: #7367f0;
}

::ng-deep .dark-layout {
  .study-plan-2 {
    --bg-gradient-study-plan: linear-gradient(42.32deg, #2b2665, #393575, #463caa);
    --bg-study-plan: #463caa;
  }
}
