<kep-card customClass="statistics-heatmap">
  <div class="statistics-heatmap__header">
    <div>
      <div class="statistics-heatmap__title">{{ 'Heatmap' | translate }}</div>
      <div class="statistics-heatmap__subtitle">{{ 'DailyProgress' | translate }}</div>
    </div>
    @if (availableYears?.length) {
      <div class="statistics-heatmap__filters">
        @for (year of availableYears; track year) {
          <button
            type="button"
            class="btn btn-sm"
            [class.btn-primary]="year === selectedYear"
            [class.btn-outline-primary]="year !== selectedYear"
            (click)="onSelectYear(year)"
          >
            {{ year }}
          </button>
        }
      </div>
    }
  </div>

  <div class="statistics-heatmap__body">
    @if (isLoading) {
      <div class="statistics-heatmap__loading">
        <spinner></spinner>
      </div>
    } @else if (heatmapChart && hasData) {
      <apex-chart [options]="heatmapChart"></apex-chart>
    } @else {
      <div class="statistics-heatmap__empty">{{ 'NoData' | translate }}</div>
    }
  </div>
</kep-card>
