<div class="card heatmap">
  <div class="card-header d-flex flex-sm-row flex-column justify-content-md-between align-items-start justify-content-start">
    <h4 class="card-title mb-sm-0 mb-1">{{ 'Heatmap' | translate }}</h4>

    @if (years?.length) {
      <div class="btn-group btn-group-toggle mt-md-0 mt-1">
        @for (year of years; track year) {
          <label class="btn btn-outline-primary" [class.active]="heatmapYear === year">
            <input
              type="radio"
              [name]="'heatmap-year'"
              class="btn-check"
              [value]="year"
              [checked]="heatmapYear === year"
              (change)="onYearChange(year)"
            />
            <span>{{ year }}</span>
          </label>
        }
      </div>
    }

  </div>
  <div class="card-body">
    @if (heatmap) {
      <div #heatmapChartRef>
        <apex-chart [options]="heatmapChart">
        </apex-chart>
      </div>
    }
  </div>
</div>
