::ng-deep .user-popover .popover-body {
    padding: 0px !important;
    width: 400px !important;
}

::ng-deep .user-popover .card {
    margin-bottom: 0px !important;
    box-shadow: 0 4px 6px 0 rgb(85 85 85 / 9%), 0 1px 20px 0 rgb(0 0 0 / 8%), 0px 1px 11px 0px rgb(0 0 0 / 6%) !important;
}

::ng-deep .user-popover .rating-title-img {
    width: 24px !important;
    height: 24px !important;
    padding: 0px !important;
    margin: 0px !important;
    margin-right: 2px !important;
    margin-bottom: 3px !important;
}
