<div class="content-wrapper p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="mt-2 pl-2 pr-2">
      <div class="row">
        <div class="col-12" *ngIf="attempt">
          <div class="table-responsive">
            <table class="table attempts-table">
              <thead>
                <tr class="bg-gradient-primary">
                  <th class="th-content">ID</th>
                  <th class="th-content">{{ 'SUBMITTED' | translate }}</th>
                  <th class="th-content">{{ 'LANG' | translate }}</th>
                  <th class="th-content">{{ 'USER' | translate }}</th>
                  <th class="th-content">{{ 'PROBLEM' | translate }}</th>
                  <th class="th-content">{{ 'VERDICT' | translate }}</th>
                  <th class="th-content">{{ 'TIME' | translate }}</th>
                  <th class="th-content">{{ 'MEMORY' | translate }}</th>
                  <th class="th-content">{{ 'SIZE' | translate }}</th>
                  <th><clipboard-button [text]="attempt.sourceCode"></clipboard-button></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="attempt-id">
                    {{ attempt.id }}
                  </td>
          
                  <td>
                    <span class="badge badge-light-success text-center" style="width: 130px;">
                      {{ attempt.created | date:"yyyy/MM/dd HH:mm:ss" }}
                    </span>
                  </td>
          
                  <td>          
                    <span class="badge badge-glow badge-{{ attempt.lang }}">
                      {{ attempt.lang | langFullName }}
                    </span>
                  </td>
                    
                  <td>
                    <contestant-view [user]="attempt.user" [team]="attempt.team"></contestant-view>
                  </td>
          
                  <td class="problem-title">
                    <a [routerLink]="['/practice', 'problems', 'problem', attempt.problemId]">
                      <u class="text-primary">{{ attempt.problemId }}. {{ attempt.problemTitle }}</u>
                    </a>
                  </td>
          
                  <td class="td-content">
                    <div *ngIf="attempt.verdict != 1 && attempt.testCaseNumber > 1; else elseBlock">
                      <div *ngIf="!attempt.canTestView">
                        <ng-template #tipContent>
                          Testni ko'rish <kepcoin-view [value]="1"></kepcoin-view>
                        </ng-template>
                        <kepcoin-spend-swal [ngbTooltip]="tipContent"
                          [purchaseUrl]="'attempts/' + attempt.id + '/purchase-test/'" [value]="1" [customContent]="true"
                          (success)="onPurchaseTestSuccess(attempt)">
                          <div [innerHTML]="attempt | attemptVerdictHTML"></div>
                        </kepcoin-spend-swal>
                      </div>
          
                      <div *ngIf="attempt.canTestView">
                        <a
                          ngbTooltip="Testni ko'rish"
                          href="/api/attempts/{{ attempt.id }}/failed-test?number={{ attempt.testCaseNumber }}">
                          <div [innerHTML]="attempt | attemptVerdictHTML"></div>
                        </a>
                      </div>
                    </div>
          
                    <ng-template #elseBlock>
                      <div [innerHTML]="attempt | attemptVerdictHTML"></div>
                    </ng-template>
                  </td>
          
                  <td class="td-content">
                    <span class="badge badge-info">{{ attempt.time }} {{ 'MS' | translate }}</span>
                  </td>
          
                  <td class="td-content">
                    <span class="badge badge-primary">{{ attempt.memory }} {{ 'KB' | translate }}</span>
                  </td>
          
                  <td class="td-content">
                    <span class="badge badge-dark">{{ attempt.sourceCodeSize }}</span>
                  </td>
                  <td></td>
          
                </tr>
              </tbody>
            </table>
          </div>
          <ngx-monaco-editor
            [ngModelOptions]="{standalone: true}"
            [options]="editorOptions"
            [(ngModel)]="attempt.sourceCode"
            name="code" style="height: 400px;"
            class="mt-1"
            ngDefaultControl>
          </ngx-monaco-editor>
        </div>
      </div>
    </section>
  </div>
</div>
