@import 'styles/kep-imports';

.monaco-editor {
  --vscode-editorGutter-background: inherit !important;
  --vscode-editor-background: inherit !important;

  border-radius: 2px;
  background: rgba(0, 0, 0, 0.5) !important;
  border: 1px solid black;

  // margin: 0 0.5rem;

  .current-line {
    border: none !important;
  }

  .margin-view-overlays {
    background: rgba(0, 0, 0, 0.8) !important;
    width: 45px !important;

    > div {
      width: 32px !important;

      .line-numbers {
        padding-left: 10px;
        text-align: left !important;
      }
    }
  }

  .monaco-scrollable-element {
    left: 50px !important;
  }
}
