<kep-card class="statistics-attempts">
  <div class="statistics-attempts__header">
    <div class="statistics-attempts__title">{{ 'NumberAttemptsSolve' | translate }}</div>
    <div class="statistics-attempts__subtitle">{{ 'AttemptsDistribution' | translate }}</div>
  </div>
  <div class="statistics-attempts__body">
    @if (numberOfAttemptsForSolveChart) {
      <apex-chart [options]="numberOfAttemptsForSolveChart"></apex-chart>
    } @else {
      <div class="statistics-attempts__empty">{{ 'NoData' | translate }}</div>
    }
  </div>
</kep-card>
