<div class="slide-main">
    <div class="row">
      <div class="col-12 col-md-6 order-2 order-md-1 section-left" [@fadeInLeft]="animationState">
        <div class="text">
          <h1 class="text-primary" [class]="isDarkSkin ? 'text-darken-1' : 'text-darken-4'">
            {{ 'LandingPage.SectionTopTitle' | translate }}
          </h1>
          <p class="text-primary" [class]="isDarkSkin ? 'text-lighten-2' : 'text-darken-2'">
            {{ 'LandingPage.SectionTopText' | translate }}
          </p>
          <button routerLink="/login" rippleEffect class="btn mt-1 btn-relief-primary">
            {{ 'Start' | translate }}
          </button>
        </div>
      </div>

      <div class="col-12 col-md-6 order-1 order-md-2 section-right" [@fadeInRight]="animationState">
        <div class="img">
          <img rel="preload" as="image" width="480" height="480" class="img-fluid" alt="main-img"
            [src]="isDarkSkin ? 'assets/images/pages/coming-soon-dark.svg'
                              : 'assets/images/pages/coming-soon.svg'" />
        </div>
      </div>
    </div>

  </div>